{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay",
    "description": "Enable easy BBPS bill payments in your App",
    "version": "0.1.0-alpha"
  },
  "servers": [
    {
      "url": "https://sandbox-coudc.setu.co/api/v1",
      "description": "Sandbox Server"
    }
  ],
  "paths": {
    "/bbps/autofetches": {
      "get": {
        "tags": [
          "Manage auto-fetch for bills"
        ],
        "summary": "List auto-fetched bills",
        "operationId": "listAutofetchSubscriptions",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listAutofetchSubscriptionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Manage auto-fetch for bills"
        ],
        "summary": "Enable auto-fetch",
        "operationId": "bulkAutofetchSubscriptions",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/autofetchSubscriptionBulk"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/autofetchBulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "AutofetchSubscriptionsBulk"
      }
    },
    "/bbps/autofetches/{autofetchHash}": {
      "delete": {
        "tags": [
          "Manage auto-fetch for bills"
        ],
        "summary": "Disable auto-fetch",
        "operationId": "disableAutofetch",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "autofetchHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/disableAutofetchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      }
    },
    "/bbps/billers": {
      "get": {
        "tags": [
          "Take bulk actions"
        ],
        "summary": "List billers for category",
        "operationId": "getBillers",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "categoryName",
            "in": "query",
            "description": "Category of the biller",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Billers to search",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Billers are sorted via the Biller ID. Providing a biller Id fetches billers right after this biller in a paginated way.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Searches the provided text over Biller name and Biller Alias",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of billers",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      }
    },
    "/bbps/bills/complaint/request": {
      "post": {
        "tags": [
          "Manage Dispute"
        ],
        "summary": "Raise dispute",
        "operationId": "DisputeRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/couAgentDisputeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericRefIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentDisputeRequest"
      }
    },
    "/bbps/bills/complaint/response": {
      "post": {
        "tags": [
          "Manage Dispute"
        ],
        "summary": "Check dispute status",
        "operationId": "DisputeResponse",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refIdBasedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/couAgentDisputeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/bbps/bills/fetch/request": {
      "post": {
        "tags": [
          "Fetch bill"
        ],
        "summary": "Fetch bill",
        "operationId": "FetchRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/couAgentBillFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericRefIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillFetchRequest"
      }
    },
    "/bbps/bills/fetch/response": {
      "post": {
        "tags": [
          "Fetch bill"
        ],
        "summary": "Get fetched bill",
        "operationId": "FetchResponse",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refIdBasedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/couAgentBillFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/bbps/bills/payment/request": {
      "post": {
        "tags": [
          "Pay bill"
        ],
        "summary": "Post payment details",
        "operationId": "PaymentRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/couAgentBillPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericRefIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillPaymentRequest"
      }
    },
    "/bbps/bills/payment/response": {
      "post": {
        "tags": [
          "Pay bill"
        ],
        "summary": "Check payment status",
        "operationId": "PaymentResponse",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refIdBasedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/couAgentBillPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/bbps/categories": {
      "get": {
        "tags": [
          "Take bulk actions"
        ],
        "summary": "List all categories",
        "operationId": "getCategories",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/categoriesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      }
    },
    "/bbps/disputes": {
      "get": {
        "tags": [
          "Take bulk actions"
        ],
        "summary": "List disputes",
        "operationId": "getDisputes",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of disputes",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/disputeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      }
    },
    "/bbps/fetched-bills": {
      "get": {
        "tags": [
          "Take bulk actions"
        ],
        "summary": "List fetched bills",
        "operationId": "getFetchedBills",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "autoFetchHash",
            "in": "query",
            "description": "Autofetch hash if present",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fetched bills",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fetchedBillsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      }
    },
    "/bbps/transactions": {
      "get": {
        "tags": [
          "Take bulk actions"
        ],
        "summary": "List paid bills",
        "operationId": "getTxns",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "billerId",
            "in": "query",
            "description": "Transaction BillerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Transaction Reference Ids",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Transaction Status",
            "schema": {
              "type": "string",
              "enum": [
                "Refunded",
                "Processing",
                "Submitted",
                "Error",
                "Success"
              ]
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "Mobile No.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Txns",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bbps": [
              "bbps:partner"
            ]
          }
        ]
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check health",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthResponseParam"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "additionalInfoLineItem": {
        "required": [
          "name",
          "value"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Line item 1"
          },
          "value": {
            "type": "string",
            "example": "Value 1"
          }
        }
      },
      "agentDetails": {
        "required": [
          "channel",
          "id"
        ],
        "type": "object",
        "properties": {
          "app": {
            "type": "string",
            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
            "example": "SmartPay"
          },
          "channel": {
            "type": "string",
            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
            "example": "INT",
            "enum": [
              "INT",
              "INTB",
              "MOB",
              "BNKBRNCH",
              "BSC",
              "AGT",
              "KIOSK",
              "ATM",
              "MOBB"
            ]
          },
          "geocode": {
            "type": "string",
            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
            "example": "19.0139,72.8254"
          },
          "id": {
            "type": "string",
            "description": "The ID of the agent initiating the BBPS transaction.",
            "example": "AX01AI06512391457204"
          },
          "ifsc": {
            "type": "string",
            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
            "example": "ICIC0000152"
          },
          "imei": {
            "type": "string",
            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
            "example": "123456789012345"
          },
          "ip": {
            "type": "string",
            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
            "format": "ipv4",
            "example": "124.170.23.24"
          },
          "mac": {
            "pattern": "^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$",
            "type": "string",
            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
            "example": "48-4D-7E-CB-DB-6F"
          },
          "mobile": {
            "maxLength": 20,
            "minLength": 6,
            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
            "type": "string",
            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
            "example": "9481773011"
          },
          "os": {
            "type": "string",
            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
            "example": "iOS",
            "enum": [
              "iOS",
              "Android"
            ]
          },
          "postalCode": {
            "pattern": "^[1-9][0-9]{5}$",
            "type": "string",
            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
            "example": "600001"
          },
          "terminalId": {
            "type": "string",
            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
            "example": "6000011234"
          }
        }
      },
      "autofetchBulkResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "autofetchSubscription": {
        "type": "object",
        "properties": {
          "biller": {
            "$ref": "#/components/schemas/autofetchSubscriptionBiller"
          },
          "customer": {
            "$ref": "#/components/schemas/customerDetails"
          },
          "hash": {
            "type": "string",
            "example": "d28ca210e0267a13fa0db18ee96a349dc4578f032e5902192af762763224204a"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "lastFetchDate": {
            "type": "string",
            "format": "date",
            "example": "2017-07-21T00:00:00.000Z"
          }
        }
      },
      "autofetchSubscriptionBiller": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The biller ID on BBPS",
            "example": "MAHI00000NATIC"
          }
        },
        "x-go-gen-location": "models",
        "x-go-name": "BillerDetails"
      },
      "autofetchSubscriptionBulk": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/autofetchSubscriptionBulkItem"
            }
          }
        }
      },
      "autofetchSubscriptionBulkItem": {
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/agentDetails"
          },
          "biller": {
            "$ref": "#/components/schemas/autofetchSubscriptionBiller"
          },
          "customer": {
            "$ref": "#/components/schemas/customerDetails"
          },
          "hash": {
            "type": "string",
            "example": "d28ca210e0267a13fa0db18ee96a349dc4578f032e5902192af762763224204a"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "nextFetchDate": {
            "type": "string",
            "format": "date",
            "example": "2017-07-21T00:00:00.000Z"
          }
        }
      },
      "bbpsFailureReason": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "BBPS Error code",
            "example": "BOU008"
          },
          "message": {
            "type": "string",
            "description": "BBPS Failure message",
            "example": "Unable to Connect to BOU"
          },
          "type": {
            "type": "string",
            "enum": [
              "BBPS",
              "APP",
              "FUND_TRANSFER"
            ]
          }
        }
      },
      "billAdditionalInfo": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/additionalInfoLineItem"
        },
        "x-go-name": "BillAdditionalInfo"
      },
      "billData": {
        "required": [
          "amount",
          "billDate",
          "billNumber",
          "billPeriod",
          "customerName",
          "dueDate"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "example": 120000
          },
          "billDate": {
            "type": "string",
            "format": "date",
            "example": "2021-01-02T00:00:00.000Z"
          },
          "billNumber": {
            "type": "string",
            "example": "1232332"
          },
          "billPeriod": {
            "type": "string",
            "enum": [
              "Onetime",
              "Daily",
              "Weekly",
              "BiMontly",
              "Monthly",
              "Quarterly",
              "HalfYearly",
              "AsPresented"
            ]
          },
          "customerName": {
            "type": "string",
            "example": "Manoj Chekuri"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "example": "2021-09-24T00:00:00.000Z"
          }
        },
        "x-go-name": "BillData"
      },
      "billFetchResponseData": {
        "required": [
          "refId",
          "status"
        ],
        "type": "object",
        "properties": {
          "additionalInfo": {
            "$ref": "#/components/schemas/billAdditionalInfo"
          },
          "autoFetchHash": {
            "type": "string",
            "example": "d28ca210e0267a13fa0db18ee96a349dc4578f032e5902192af762763224204a"
          },
          "bill": {
            "$ref": "#/components/schemas/billData"
          },
          "billerRefId": {
            "type": "string",
            "example": "7f16a032e514"
          },
          "exactness": {
            "type": "string",
            "example": "EXACT/EXACT_UP/EXACT_DOWN/ADHOC"
          },
          "failureReason": {
            "$ref": "#/components/schemas/bbpsFailureReason"
          },
          "paymentLimits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/paymentModeSpec"
            },
            "x-omitempty": true
          },
          "refId": {
            "type": "string",
            "description": "BBPS Reference ID",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          },
          "status": {
            "type": "string",
            "enum": [
              "Processing",
              "Success",
              "Failure"
            ]
          }
        }
      },
      "billParameterItem": {
        "required": [
          "name",
          "value"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The display name of the parameter. This has to match what is sent in fields.",
            "example": "Loan Number"
          },
          "value": {
            "type": "string",
            "description": "The value of the customer parameter",
            "example": "1895159"
          }
        }
      },
      "billParameters": {
        "type": "array",
        "description": "The bill params for fetching the bill",
        "items": {
          "$ref": "#/components/schemas/billParameterItem"
        }
      },
      "billPaymentResponseData": {
        "required": [
          "refId",
          "status"
        ],
        "type": "object",
        "properties": {
          "billerId": {
            "type": "string",
            "description": "The biller ID on BBPS",
            "example": "MAHI00000NATIC"
          },
          "billerRefId": {
            "type": "string",
            "example": "ZA6291A177"
          },
          "failureReason": {
            "$ref": "#/components/schemas/bbpsFailureReason"
          },
          "paymentDetails": {
            "$ref": "#/components/schemas/paymentDetails"
          },
          "refId": {
            "type": "string",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          },
          "refundDetails": {
            "type": "object",
            "properties": {
              "error": {
                "$ref": "#/components/schemas/errorMessage"
              },
              "status": {
                "type": "string",
                "example": "SUCCESS",
                "enum": [
                  "PROCESSING",
                  "SUCCESS",
                  "FAILURE"
                ]
              },
              "transactionId": {
                "type": "string",
                "example": "AX30910192192192192"
              }
            },
            "nullable": true
          },
          "status": {
            "type": "string",
            "example": "PROCESSING/COMPLETE/TIMEOUT"
          },
          "transactionId": {
            "type": "string",
            "example": "AX30910192192192192"
          }
        }
      },
      "billerDetails": {
        "required": [
          "categoryName",
          "customerParams",
          "exactness",
          "fetchApiType",
          "id",
          "name",
          "payWithoutFetchAllowed",
          "paymentChannels",
          "paymentModes",
          "supportsPendingStatus"
        ],
        "type": "object",
        "properties": {
          "categoryName": {
            "type": "string",
            "example": "loan-repayment"
          },
          "city": {
            "type": "string",
            "example": "city"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2021-11-12T08:07:04.572Z",
            "x-omitempty": false
          },
          "customerParams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/customerParamSpec"
            }
          },
          "customerParamsGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/customerParamsGroupItem"
            }
          },
          "exactness": {
            "type": "string",
            "enum": [
              "Exact",
              "Exact and above",
              "Exact and below"
            ]
          },
          "fetchApiType": {
            "type": "string",
            "description": "Denotes whether the biller accepts Fetch, Validate or Direct payment.",
            "enum": [
              "BILL_FETCH",
              "BILL_VALIDATE",
              "BILL_DIRECT"
            ]
          },
          "id": {
            "type": "string",
            "example": "ADIT00000NAT0T"
          },
          "logo": {
            "type": "string",
            "example": "logo"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2021-11-12T08:07:04.572Z",
            "x-omitempty": false
          },
          "name": {
            "type": "string",
            "example": "Aditya Birla Sun Life Insurance"
          },
          "payWithoutFetchAllowed": {
            "type": "boolean",
            "example": true
          },
          "paymentChannels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/paymentChannelSpec"
            }
          },
          "paymentModes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/paymentModeSpec"
            }
          },
          "pincode": {
            "type": "string",
            "example": "pincode"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/planItem"
            }
          },
          "state": {
            "type": "string",
            "example": "state"
          },
          "supportsPendingStatus": {
            "type": "boolean",
            "example": false
          },
          "tags": {
            "type": "string",
            "example": "tags"
          }
        },
        "x-go-name": "CouBillerDetails"
      },
      "billerListResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "billers"
            ],
            "type": "object",
            "properties": {
              "billers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/billerDetails"
                }
              },
              "nextPage": {
                "type": "string",
                "example": "/api/bbps/billers?search=Aditya&CategoryCode=Loan+Repayment&CategoryCode=Insurance&after=ABCC00000PTNNS"
              },
              "total": {
                "type": "integer",
                "example": 3000
              }
            }
          },
          "error": {
            "$ref": "#/components/schemas/errorMessage"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "categoriesListResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "categories"
            ],
            "type": "object",
            "properties": {
              "categories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/categoryListItem"
                }
              }
            }
          },
          "error": {
            "$ref": "#/components/schemas/errorMessage"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "categoryListItem": {
        "type": "object",
        "properties": {
          "billerCount": {
            "type": "integer",
            "example": 10
          },
          "name": {
            "type": "string",
            "example": "Loan Repayment"
          }
        }
      },
      "couAgentBillFetchRequest": {
        "required": [
          "agent",
          "biller",
          "customer"
        ],
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/agentDetails"
          },
          "autoFetch": {
            "type": "boolean",
            "description": "When `true`, enables autofetch on successful bill.",
            "example": true
          },
          "biller": {
            "$ref": "#/components/schemas/autofetchSubscriptionBiller"
          },
          "customer": {
            "$ref": "#/components/schemas/customerDetails"
          }
        },
        "x-go-name": "CouAgentBillFetchRequest",
        "x-omitempty": true
      },
      "couAgentBillFetchResponse": {
        "required": [
          "data",
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/billFetchResponseData"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        },
        "x-go-name": "CouAgentBillFetchResponse"
      },
      "couAgentBillPaymentRequest": {
        "required": [
          "paymentDetails"
        ],
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/agentDetails"
          },
          "biller": {
            "$ref": "#/components/schemas/autofetchSubscriptionBiller"
          },
          "customer": {
            "$ref": "#/components/schemas/customerDetails"
          },
          "paymentDetails": {
            "$ref": "#/components/schemas/paymentDetails"
          },
          "refId": {
            "type": "string",
            "description": "BBPS Reference ID",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          }
        },
        "x-go-name": "CouAgentBillPaymentRequest",
        "x-omitempty": true
      },
      "couAgentBillPaymentResponse": {
        "required": [
          "data",
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/billPaymentResponseData"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        },
        "x-go-name": "CouAgentBillPaymentResponse",
        "x-omitempty": true
      },
      "couAgentDisputeRequest": {
        "required": [
          "description",
          "disputeType",
          "txnReferenceId"
        ],
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "example": "Amount deducted multiple times."
          },
          "disputeType": {
            "type": "string",
            "enum": [
              "account-not-updated",
              "double-payment",
              "paid-to-wrong-account",
              "others",
              "amount-deducted-biller-credited-no-transaction-id",
              "amount-deducted-biller-not-credited-no-transaction-id",
              "amount-deducted-multiple-times"
            ]
          },
          "txnReferenceId": {
            "type": "string",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          }
        },
        "x-go-name": "CouAgentDisputeRequest",
        "x-omitempty": true
      },
      "couAgentDisputeResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/disputeResponseData"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        },
        "x-go-name": "CouAgentDisputeResponse",
        "x-omitempty": true
      },
      "customerDetails": {
        "required": [
          "billParameters",
          "mobile"
        ],
        "type": "object",
        "properties": {
          "billParameters": {
            "$ref": "#/components/schemas/billParameters"
          },
          "mobile": {
            "maxLength": 20,
            "minLength": 6,
            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
            "type": "string",
            "description": "Mobile number with 6, 10 and 20 digits are valid.",
            "example": "9481773053"
          }
        }
      },
      "customerParamSpec": {
        "required": [
          "dataType",
          "maxLength",
          "minLength",
          "optional",
          "paramName",
          "regex",
          "values",
          "visibility"
        ],
        "type": "object",
        "properties": {
          "dataType": {
            "type": "string",
            "example": "ALPHANUMERIC"
          },
          "maxLength": {
            "type": "integer",
            "example": 15
          },
          "minLength": {
            "type": "integer",
            "example": 7
          },
          "optional": {
            "type": "boolean",
            "example": false
          },
          "paramName": {
            "type": "string",
            "example": "Loan Account Number"
          },
          "regex": {
            "type": "string",
            "example": "^[a-zA-Z0-9]{7,15}"
          },
          "values": {
            "type": "string"
          },
          "visibility": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "customerParamsGroupItem": {
        "type": "array",
        "items": {
          "type": "string",
          "example": "Param 1"
        }
      },
      "disableAutofetchResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "disputeListItem": {
        "type": "object",
        "properties": {
          "assigned": {
            "type": "string",
            "description": "BBPOU to which the complaint is assigned",
            "example": "ADIT00000NATRA"
          },
          "complaintId": {
            "type": "string",
            "description": "Complaint ID",
            "example": "Loan Repayment"
          },
          "complaintStatus": {
            "type": "string",
            "description": "Status of the complaint",
            "example": "Aditya Birla Housing Finance Limited",
            "enum": [
              "INITIALIZED",
              "ASSIGNED",
              "RE_ASSIGNED",
              "ASSIGNED_TO_BOU",
              "ASSIGNED_TO_COU",
              "ASSIGNED_TO_OU",
              "ESCALATED",
              "RESOLVED",
              "UNRESOLVED"
            ]
          },
          "refId": {
            "type": "string",
            "description": "Reference ID",
            "example": "Loan Repayment"
          },
          "remarks": {
            "type": "string",
            "description": "BBPS Complaint remarks",
            "example": "ADIT00000NATRA"
          },
          "responseCode": {
            "type": "string",
            "description": "Carries the response code indicating success or failure of the transaction",
            "example": "ADIT00000NATRA"
          },
          "responseReason": {
            "type": "string",
            "example": "ADIT00000NATRA"
          }
        }
      },
      "disputeListResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "disputes"
            ],
            "type": "object",
            "properties": {
              "disputes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/disputeListItem"
                }
              },
              "nextPage": {
                "type": "string",
                "example": "/api/bbps/billers?search=Aditya&CategoryCode=Loan+Repayment&CategoryCode=Insurance&after=ABCC00000PTNNS"
              },
              "total": {
                "type": "integer",
                "example": 3000
              }
            }
          },
          "error": {
            "$ref": "#/components/schemas/errorMessage"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "disputeResponseData": {
        "required": [
          "assignedTo",
          "disputeId",
          "refId",
          "remarks",
          "status"
        ],
        "type": "object",
        "properties": {
          "assignedTo": {
            "type": "string",
            "example": "ICICI BOU"
          },
          "disputeId": {
            "type": "string",
            "example": "OP0121046567755"
          },
          "refId": {
            "type": "string",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          },
          "remarks": {
            "type": "string",
            "example": "Resolved in favour of Biller"
          },
          "status": {
            "type": "string",
            "example": "OPEN",
            "enum": [
              "PROCESSING",
              "OPEN",
              "CLOSED"
            ]
          }
        },
        "x-go-name": "DisputeResponseData"
      },
      "errorMessage": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "validation-error"
          },
          "message": {
            "type": "string",
            "example": "Input is invalid"
          }
        }
      },
      "fetchedBillsListResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "bills"
            ],
            "type": "object",
            "properties": {
              "bills": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/billFetchResponseData"
                }
              },
              "nextPage": {
                "type": "string",
                "example": "/api/v1/bbps/fetched-bills?autoFetchHash=xyz&after=ABCC00000PTNNS&limit=5"
              },
              "total": {
                "type": "integer",
                "example": 3000
              }
            }
          },
          "error": {
            "$ref": "#/components/schemas/errorMessage"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        },
        "x-go-name": "FetchedBillsListResponse"
      },
      "genericErrorResponse": {
        "required": [
          "error",
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/errorMessage"
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "genericRefIdResponse": {
        "required": [
          "data",
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/wrappedRefId"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
          }
        }
      },
      "healthResponseParam": {
        "required": [
          "environment",
          "server",
          "version"
        ],
        "type": "object",
        "properties": {
          "environment": {
            "type": "string",
            "example": "PROD"
          },
          "server": {
            "type": "string",
            "example": "mistborn"
          },
          "version": {
            "type": "string",
            "example": "db42717a829da9d3061e4f409f3c0ee9935b72a5"
          }
        },
        "x-go-name": "HealthResponseParam",
        "x-omitempty": true
      },
      "listAutofetchSubscriptionsResponse": {
        "required": [
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "subscriptions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/autofetchSubscription"
                }
              }
            }
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      },
      "paymentChannelSpec": {
        "required": [
          "maxLimit",
          "minLimit",
          "paymentChannel",
          "supportsPendingStatus"
        ],
        "type": "object",
        "properties": {
          "maxLimit": {
            "type": "integer",
            "example": 500000000
          },
          "minLimit": {
            "type": "integer",
            "example": 10100
          },
          "paymentChannel": {
            "type": "string",
            "example": "Internet"
          },
          "supportsPendingStatus": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "paymentDetails": {
        "required": [
          "amount",
          "mode",
          "paymentRefId",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "example": 10000
          },
          "mode": {
            "type": "string",
            "example": "INTERNET BANKING",
            "enum": [
              "Internet Banking",
              "Debit Card",
              "Credit Card",
              "Prepaid Card",
              "IMPS",
              "Cash",
              "UPI",
              "Wallet",
              "NEFT",
              "AEPS",
              "Account Transfer",
              "Bharat QR",
              "USSD"
            ]
          },
          "paymentRefId": {
            "minLength": 6,
            "type": "string",
            "example": "BD019181220291"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2020-12-12T07:42:00.000Z"
          }
        }
      },
      "paymentModeSpec": {
        "required": [
          "maxLimit",
          "minLimit",
          "paymentMode",
          "supportsPendingStatus"
        ],
        "type": "object",
        "properties": {
          "maxLimit": {
            "type": "integer",
            "example": 500000000
          },
          "minLimit": {
            "type": "integer",
            "example": 10100
          },
          "paymentMode": {
            "type": "string",
            "example": "Internet_Banking"
          },
          "supportsPendingStatus": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "planItem": {
        "required": [
          "amount",
          "categoryType",
          "description",
          "id",
          "status"
        ],
        "type": "object",
        "properties": {
          "additionalInfo": {
            "minItems": 1,
            "type": "array",
            "description": "Plan Additional information details provided by the Biller.",
            "example": [
              {
                "paramName": "Mobile Number",
                "paramValue": "Text"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "paramName": {
                  "type": "string",
                  "example": "Plan Additional information parameter name."
                },
                "paramValue": {
                  "type": "string",
                  "example": "Plan Additional information parameter value."
                }
              },
              "example": {
                "paramName": "Mobile Number",
                "paramValue": "Text"
              },
              "x-go-name": "PlanAdditionalInfoItem"
            },
            "x-omitempty": true
          },
          "amount": {
            "type": "string",
            "example": "22"
          },
          "categorySubType": {
            "type": "object",
            "properties": {},
            "description": "Plan sub category as defined by the Biller.",
            "example": {
              "subType": "1 Month"
            },
            "x-omitempty": true
          },
          "categoryType": {
            "type": "string",
            "description": "Plan category as defined by the Biller.",
            "example": "VIP"
          },
          "description": {
            "type": "string",
            "description": "Plan description as defined by the Biller.",
            "example": "Unlimited Live Sports"
          },
          "effectiveFrom": {
            "type": "string",
            "description": "Effective from date of corresponding Plan.",
            "format": "date",
            "nullable": true,
            "example": "2017-07-21T00:00:00.000Z",
            "x-omitempty": false
          },
          "effectiveTo": {
            "type": "string",
            "description": "Effective to date of corresponding Plan.",
            "format": "date",
            "nullable": true,
            "example": "2020-08-21T00:00:00.000Z",
            "x-omitempty": false
          },
          "id": {
            "type": "string",
            "description": "Plan ID",
            "example": "1"
          },
          "status": {
            "type": "string",
            "description": "Effective to date of corresponding Plan.",
            "example": "ACTIVE",
            "enum": [
              "ACTIVE",
              "DEACTIVATED"
            ]
          }
        }
      },
      "refIdBasedRequest": {
        "required": [
          "refId"
        ],
        "type": "object",
        "properties": {
          "refId": {
            "type": "string",
            "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
          }
        },
        "x-go-name": "RefIdBasedRequest",
        "x-omitempty": true
      },
      "transactionsResponse": {
        "required": [
          "data",
          "success",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/txnResponseData"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        },
        "x-go-name": "TransactionsResponse",
        "x-omitempty": true
      },
      "txnLineItem": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "example": 120000
          },
          "billerId": {
            "type": "string",
            "description": "The biller ID on BBPS",
            "example": "MAHI00000NATIC"
          },
          "customerMobileNumber": {
            "type": "string",
            "example": "9181878282"
          },
          "partnerRefId": {
            "type": "string",
            "example": "AX30910192192192192"
          },
          "refId": {
            "type": "string",
            "description": "BBPS Reference ID",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          },
          "status": {
            "type": "string",
            "enum": [
              "Processing",
              "Success",
              "Failure",
              "Error"
            ]
          },
          "transactionId": {
            "type": "string",
            "description": "Transaction ID",
            "example": "AX30910192192192192"
          }
        }
      },
      "txnResponseData": {
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "string",
            "example": "/api/bbps/billers?search=Aditya&CategoryCode=Loan+Repayment&CategoryCode=Insurance&after=ABCC00000PTNNS"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/txnLineItem"
            }
          }
        }
      },
      "wrappedRefId": {
        "required": [
          "refId"
        ],
        "type": "object",
        "properties": {
          "refId": {
            "type": "string",
            "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
          }
        }
      }
    },
    "securitySchemes": {
      "bbps": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sandbox-kabini-coudc.setu.co/api/v1/auth/token",
            "scopes": {
              "bbps:partner": "Grant access to agent APIs"
            }
          }
        }
      }
    }
  }
}
