{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay",
    "version": "v2",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    },
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v2/auth/token": {
      "post": {
        "tags": [
          "Token API"
        ],
        "description": "Fetch token to be used to authorize all Setu APIs",
        "operationId": "fetchToken",
        "requestBody": {
          "description": "The API key pair",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientID": {
                    "type": "string",
                    "description": "clientID from the API key pair"
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret from the API key pair"
                  }
                },
                "description": "Fetch Token API payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "expiresIn",
                        "token"
                      ],
                      "type": "object",
                      "properties": {
                        "expiresIn": {
                          "type": "integer",
                          "description": "Token expiry duration in seconds"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token to be used in subsequent requests"
                        }
                      }
                    },
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fetchTokenPayload"
      }
    },
    "/api/v2/bbps/bills/fetch/request": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "description": "Bill fetch request API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^Bearer [a-zA-Z0-9\\-\\._~\\+\\/]+=*$"
            },
            "description": "Bearer token for authentication. Format: `Bearer <token>`",
            "example": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "agent",
                      "biller"
                    ],
                    "type": "object",
                    "properties": {
                      "remitter": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string"
                          },
                          "name": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string"
                          },
                          "pan": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string"
                          },
                          "aadhaar": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string"
                          }
                        }
                      },
                      "agent": {
                        "required": [
                          "channel",
                          "id"
                        ],
                        "type": "object",
                        "properties": {
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          },
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`, `MOB`, `MOBB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          },
                          "mobile": {
                            "maxLength": 22,
                            "minLength": 6,
                            "pattern": "^\\d{6,22}$",
                            "type": "string",
                            "description": "Mobile number with 6 to 22 digits are valid."
                          },
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": [
                              "iOS",
                              "Android"
                            ]
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          }
                        }
                      },
                      "biller": {
                        "required": [
                          "id"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "required": [
                      "customer"
                    ],
                    "type": "object",
                    "properties": {
                      "customer": {
                        "allOf": [
                          {
                            "required": [
                              "mobile"
                            ],
                            "type": "object",
                            "properties": {
                              "mobile": {
                                "maxLength": 22,
                                "minLength": 6,
                                "pattern": "^\\d{6,22}$",
                                "type": "string",
                                "description": "Mobile number with 6 to 22 digits are valid."
                              },
                              "customerId": {
                                "type": "string",
                                "description": "Customer Identifier"
                              }
                            }
                          },
                          {
                            "required": [
                              "customerParams"
                            ],
                            "type": "object",
                            "properties": {
                              "customerParams": {
                                "type": "array",
                                "description": "The bill params for fetching the bill",
                                "items": {
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string",
                                      "description": "The value of the customer parameter",
                                      "example": "1895159"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of the parameter. This has to match what is sent in fields.",
                                      "example": "Loan Number"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      },
                      "mandate": {
                        "type": "object",
                        "properties": {
                          "billPeriod": {
                            "type": "string",
                            "description": "Mandatory for Validation & Pay billers. Allowed values: DAILY, WEEKLY, BIMONTHLY, MONTHLY, QUARTERLY, HALFYEARLY, YEARLY\nOptional for Fetch & Pay billers. Allowed values: ASPRESENTED\n",
                            "nullable": true,
                            "example": "MONTHLY",
                            "x-omitempty": true
                          },
                          "billerParams": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Captures the name of the biller parameter to be sent as part of UPMS registration.",
                                  "example": "Low Balance Threshold"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the biller parameter to be sent as part of UPMS registration.",
                                  "example": "500"
                                }
                              },
                              "description": "Optional. Only some billers require this. Details of the biller parameter to be sent as part of UPMS registration."
                            },
                            "x-omitempty": true
                          },
                          "debitInfo": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "description": "The fixed or maximum amount set for auto-debit (value must be provided in paise).",
                                "example": 10000
                              },
                              "currency": {
                                "type": "integer",
                                "description": "The currency code. Use `356` for `INR`.",
                                "example": 356
                              },
                              "debitDate": {
                                "type": "string",
                                "description": "The preferred date format (`DD-MMM`) for attempting the auto-debit each cycle.",
                                "example": "10-Feb"
                              },
                              "paymentMode": {
                                "type": "string",
                                "description": "The payment method intended for auto-debit, allowed values:\n - Internet Banking\n - Debit Card\n - Credit Card\n - Prepaid Card\n - IMPS\n - UPI\n - Wallet\n - NEFT\n - AEPS\n - Account Transfer\n - Bharat QR",
                                "example": "UPI"
                              },
                              "type": {
                                "type": "string",
                                "description": "Specifies the debit rule. Can be `FIXED_AMOUNT` (pay the exact bill amount) or `MAX_AMOUNT` (pay up to this limit).",
                                "example": "FIXED_AMOUNT"
                              }
                            },
                            "description": "Details for debit information (mandatory when registrationType is AUTO_PAY)"
                          },
                          "registrationType": {
                            "type": "string",
                            "description": "The type of registration (AUTO_PAY or VIEW_N_PAY)",
                            "example": "AUTO_PAY"
                          },
                          "toDate": {
                            "type": "string",
                            "description": "The UPMS registration is invalid after this date. Date format is YYYY-MM-DD",
                            "nullable": true,
                            "example": "2027-01-01",
                            "x-omitempty": true
                          }
                        }
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillFetchRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success - Normal bill fetch response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "refId": {
                          "type": "string",
                          "description": "The generated Reference ID for the request."
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "200-duplicate-mandate": {
            "description": "Success - Bill fetch response with duplicate mandate",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "refId": {
                          "type": "string",
                          "description": "The generated Reference ID for the request."
                        },
                        "upmsRegistration": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "Mandate registration failed due to duplicate mandate",
                              "example": "FAILED",
                              "enum": [
                                "FAILED"
                              ]
                            },
                            "duplicate": {
                              "required": [
                                "code",
                                "message"
                              ],
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "example": "duplicate-ref-id"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "refId": {
                                  "type": "string",
                                  "description": "The generated Reference ID for the request."
                                }
                              }
                            }
                          },
                          "description": "Present only when upmsRegistration was requested"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "200-failed-mandate": {
            "description": "Success - Bill fetch response with failed mandate",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "refId": {
                          "type": "string",
                          "description": "The generated Reference ID for the request."
                        },
                        "upmsRegistration": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "Mandate registration has failed",
                              "example": "FAILED",
                              "enum": [
                                "FAILED"
                              ]
                            },
                            "error": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "example": "invalid-mandate"
                                },
                                "message": {
                                  "type": "string",
                                  "example": "The mandate configuration is invalid"
                                }
                              },
                              "description": "Present only when acknowledgement status for the registration is FAILED"
                            }
                          },
                          "description": "Present only when upmsRegistration was requested"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "200-pending-mandate": {
            "description": "Success - Bill fetch response with processing mandate",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "refId": {
                          "type": "string",
                          "description": "The generated Reference ID for the request."
                        },
                        "upmsRegistration": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "Mandate registration is being processed",
                              "example": "PENDING",
                              "enum": [
                                "PENDING"
                              ]
                            },
                            "refId": {
                              "type": "string",
                              "description": "The reference ID for the UPMS registration",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            }
                          },
                          "description": "Present only when upmsRegistration was requested"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": [
              "bbps:partner"
            ]
          },
          {
            "Sandbox": [
              "bbps:partner"
            ]
          },
          {
            "QA": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillFetchRequest"
      }
    },
    "/api/v2/bbps/bills/fetch/response": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "description": "Bill fetch response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^Bearer [a-zA-Z0-9\\-\\._~\\+\\/]+=*$"
            },
            "description": "Bearer token for authentication. Format: `Bearer <token>`",
            "example": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "refId"
                ],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "description": "The generated Reference ID for the request."
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success - Standard successful fetch for a single bill biller",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": [
                        "data"
                      ],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": [
                            "refId",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "MULTIPLE",
                                "ALL"
                              ],
                              "x-omitempty": false,
                              "x-nullable": true
                            },
                            "bills": {
                              "type": "array",
                              "description": "Multiple bills in case of response from B2B biller",
                              "items": {
                                "required": [
                                  "billDate",
                                  "billNumber",
                                  "billPeriod",
                                  "customerName",
                                  "dueDate"
                                ],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billNumber": {
                                    "type": "string",
                                    "example": "1232332"
                                  },
                                  "billPeriod": {
                                    "type": "string",
                                    "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                  },
                                  "dueDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-09-24"
                                  },
                                  "label": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "Advance EMI",
                                    "x-omitempty": true
                                  },
                                  "minAmount": {
                                    "type": "integer",
                                    "description": "Minimum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "paymentOptions": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "required": [
                                        "name"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "maxAmount": {
                                          "type": "integer",
                                          "description": "The maximum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "minAmount": {
                                          "type": "integer",
                                          "description": "The minimum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the option.",
                                          "example": "2 Months EMI Amount"
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "description": "The amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "amountMultiple": {
                                          "type": "integer",
                                          "description": "The payment amount should be a multiple of this value in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        }
                                      },
                                      "x-go-name": "PaymentOption"
                                    },
                                    "x-omitempty": true
                                  },
                                  "amountMultiple": {
                                    "type": "integer",
                                    "description": "Bill payment amount should be multiple of this value in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-01-02"
                                  },
                                  "customerName": {
                                    "type": "string",
                                    "example": "Manoj Chekuri"
                                  },
                                  "maxAmount": {
                                    "type": "integer",
                                    "description": "Maximum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  }
                                },
                                "x-go-name": "BillData"
                              },
                              "x-omitempty": true
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "LIST",
                                "SELECTIVE"
                              ],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "exactness": {
                              "type": "string",
                              "example": "Exact",
                              "enum": [
                                "Exact",
                                "Exact and above",
                                "Exact and below",
                                "Any",
                                "RANGE"
                              ]
                            },
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": [
                                "Processing",
                                "Success",
                                "Failure",
                                "Credit_Adjustment"
                              ]
                            },
                            "additionalInfo": {
                              "type": "array",
                              "description": "This tag captures the additional information provided by the Biller as part of response for a successful transaction.",
                              "items": {
                                "required": [
                                  "name",
                                  "value"
                                ],
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Line item 1"
                                  },
                                  "value": {
                                    "type": "string",
                                    "example": "Value 1"
                                  }
                                }
                              },
                              "x-go-name": "BillAdditionalInfo",
                              "x-omitempty": false
                            },
                            "billerRefId": {
                              "type": "string",
                              "example": "7f16a032e514"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponseV2"
                }
              }
            }
          },
          "200-failed-fetch": {
            "description": "Success - Bill fetch failed due to customer not found or biller error",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": [
                        "data"
                      ],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": [
                            "refId",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "MULTIPLE",
                                "ALL"
                              ],
                              "x-omitempty": false,
                              "x-nullable": true
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "LIST",
                                "SELECTIVE"
                              ],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "exactness": {
                              "type": "string",
                              "example": "Exact",
                              "enum": [
                                "Exact",
                                "Exact and above",
                                "Exact and below",
                                "Any",
                                "RANGE"
                              ]
                            },
                            "failureReason": {
                              "required": [
                                "code",
                                "message"
                              ],
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "FUND_TRANSFER",
                                    "BBPS",
                                    "APP"
                                  ]
                                },
                                "code": {
                                  "type": "string",
                                  "example": "ERR004"
                                },
                                "message": {
                                  "type": "string",
                                  "example": "customer not found"
                                }
                              }
                            },
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": [
                                "Processing",
                                "Success",
                                "Failure",
                                "Credit_Adjustment"
                              ]
                            },
                            "billerRefId": {
                              "type": "string",
                              "example": "7f16a032e514"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponseV2"
                }
              }
            }
          },
          "200-flexible-amount-bill": {
            "description": "Success - Bill with payment options and amount ranges",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": [
                        "data"
                      ],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": [
                            "refId",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "MULTIPLE",
                                "ALL"
                              ],
                              "x-omitempty": false,
                              "x-nullable": true
                            },
                            "bills": {
                              "type": "array",
                              "description": "Multiple bills in case of response from B2B biller",
                              "items": {
                                "required": [
                                  "billDate",
                                  "billNumber",
                                  "billPeriod",
                                  "customerName",
                                  "dueDate"
                                ],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billNumber": {
                                    "type": "string",
                                    "example": "1232332"
                                  },
                                  "billPeriod": {
                                    "type": "string",
                                    "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                  },
                                  "dueDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-09-24"
                                  },
                                  "label": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "Advance EMI",
                                    "x-omitempty": true
                                  },
                                  "minAmount": {
                                    "type": "integer",
                                    "description": "Minimum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "paymentOptions": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "required": [
                                        "name"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "maxAmount": {
                                          "type": "integer",
                                          "description": "The maximum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "minAmount": {
                                          "type": "integer",
                                          "description": "The minimum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the option.",
                                          "example": "2 Months EMI Amount"
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "description": "The amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "amountMultiple": {
                                          "type": "integer",
                                          "description": "The payment amount should be a multiple of this value in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        }
                                      },
                                      "x-go-name": "PaymentOption"
                                    },
                                    "x-omitempty": true
                                  },
                                  "amountMultiple": {
                                    "type": "integer",
                                    "description": "Bill payment amount should be multiple of this value in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-01-02"
                                  },
                                  "customerName": {
                                    "type": "string",
                                    "example": "Manoj Chekuri"
                                  },
                                  "maxAmount": {
                                    "type": "integer",
                                    "description": "Maximum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  }
                                },
                                "x-go-name": "BillData"
                              },
                              "x-omitempty": true
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "LIST",
                                "SELECTIVE"
                              ],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "exactness": {
                              "type": "string",
                              "example": "Exact",
                              "enum": [
                                "Exact",
                                "Exact and above",
                                "Exact and below",
                                "Any",
                                "RANGE"
                              ]
                            },
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": [
                                "Processing",
                                "Success",
                                "Failure",
                                "Credit_Adjustment"
                              ]
                            },
                            "additionalInfo": {
                              "type": "array",
                              "description": "This tag captures the additional information provided by the Biller as part of response for a successful transaction.",
                              "items": {
                                "required": [
                                  "name",
                                  "value"
                                ],
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Line item 1"
                                  },
                                  "value": {
                                    "type": "string",
                                    "example": "Value 1"
                                  }
                                }
                              },
                              "x-go-name": "BillAdditionalInfo",
                              "x-omitempty": false
                            },
                            "billerRefId": {
                              "type": "string",
                              "example": "7f16a032e514"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponseV2"
                }
              }
            }
          },
          "200-multiple-bills-list": {
            "description": "Success - Biller returns multiple bills with selection type",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": [
                        "data"
                      ],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": [
                            "refId",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "MULTIPLE",
                                "ALL"
                              ],
                              "x-omitempty": false,
                              "x-nullable": true
                            },
                            "bills": {
                              "type": "array",
                              "description": "Multiple bills in case of response from B2B biller",
                              "items": {
                                "required": [
                                  "billDate",
                                  "billNumber",
                                  "billPeriod",
                                  "customerName",
                                  "dueDate"
                                ],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billNumber": {
                                    "type": "string",
                                    "example": "1232332"
                                  },
                                  "billPeriod": {
                                    "type": "string",
                                    "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                  },
                                  "dueDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-09-24"
                                  },
                                  "label": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "Advance EMI",
                                    "x-omitempty": true
                                  },
                                  "minAmount": {
                                    "type": "integer",
                                    "description": "Minimum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "paymentOptions": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "required": [
                                        "name"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "maxAmount": {
                                          "type": "integer",
                                          "description": "The maximum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "minAmount": {
                                          "type": "integer",
                                          "description": "The minimum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the option.",
                                          "example": "2 Months EMI Amount"
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "description": "The amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "amountMultiple": {
                                          "type": "integer",
                                          "description": "The payment amount should be a multiple of this value in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        }
                                      },
                                      "x-go-name": "PaymentOption"
                                    },
                                    "x-omitempty": true
                                  },
                                  "amountMultiple": {
                                    "type": "integer",
                                    "description": "Bill payment amount should be multiple of this value in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-01-02"
                                  },
                                  "customerName": {
                                    "type": "string",
                                    "example": "Manoj Chekuri"
                                  },
                                  "maxAmount": {
                                    "type": "integer",
                                    "description": "Maximum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  }
                                },
                                "x-go-name": "BillData"
                              },
                              "x-omitempty": true
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "LIST",
                                "SELECTIVE"
                              ],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "exactness": {
                              "type": "string",
                              "example": "Exact",
                              "enum": [
                                "Exact",
                                "Exact and above",
                                "Exact and below",
                                "Any",
                                "RANGE"
                              ]
                            },
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": [
                                "Processing",
                                "Success",
                                "Failure",
                                "Credit_Adjustment"
                              ]
                            },
                            "additionalInfo": {
                              "type": "array",
                              "description": "This tag captures the additional information provided by the Biller as part of response for a successful transaction.",
                              "items": {
                                "required": [
                                  "name",
                                  "value"
                                ],
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Line item 1"
                                  },
                                  "value": {
                                    "type": "string",
                                    "example": "Value 1"
                                  }
                                }
                              },
                              "x-go-name": "BillAdditionalInfo",
                              "x-omitempty": false
                            },
                            "billerRefId": {
                              "type": "string",
                              "example": "7f16a032e514"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponseV2"
                }
              }
            }
          },
          "200-prepaid-with-plans": {
            "description": "Success - Biller returns plan information for prepaid recharge",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": [
                        "data"
                      ],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": [
                            "refId",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "MULTIPLE",
                                "ALL"
                              ],
                              "x-omitempty": false,
                              "x-nullable": true
                            },
                            "bills": {
                              "type": "array",
                              "description": "Multiple bills in case of response from B2B biller",
                              "items": {
                                "required": [
                                  "billDate",
                                  "billNumber",
                                  "billPeriod",
                                  "customerName",
                                  "dueDate"
                                ],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billNumber": {
                                    "type": "string",
                                    "example": "1232332"
                                  },
                                  "billPeriod": {
                                    "type": "string",
                                    "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                  },
                                  "dueDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-09-24"
                                  },
                                  "label": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "Advance EMI",
                                    "x-omitempty": true
                                  },
                                  "minAmount": {
                                    "type": "integer",
                                    "description": "Minimum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "paymentOptions": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "required": [
                                        "name"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "maxAmount": {
                                          "type": "integer",
                                          "description": "The maximum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "minAmount": {
                                          "type": "integer",
                                          "description": "The minimum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the option.",
                                          "example": "2 Months EMI Amount"
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "description": "The amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "amountMultiple": {
                                          "type": "integer",
                                          "description": "The payment amount should be a multiple of this value in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        }
                                      },
                                      "x-go-name": "PaymentOption"
                                    },
                                    "x-omitempty": true
                                  },
                                  "amountMultiple": {
                                    "type": "integer",
                                    "description": "Bill payment amount should be multiple of this value in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-01-02"
                                  },
                                  "customerName": {
                                    "type": "string",
                                    "example": "Manoj Chekuri"
                                  },
                                  "maxAmount": {
                                    "type": "integer",
                                    "description": "Maximum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  }
                                },
                                "x-go-name": "BillData"
                              },
                              "x-omitempty": true
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "billerPlanResponse": {
                              "type": "object",
                              "properties": {
                                "planInfo": {
                                  "type": "array",
                                  "description": "Array of plan information as defined in BBPS schema",
                                  "items": {
                                    "required": [
                                      "details",
                                      "type"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "details": {
                                        "type": "array",
                                        "description": "Array of plan details",
                                        "items": {
                                          "required": [
                                            "name",
                                            "value"
                                          ],
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "Name of the plan parameter",
                                              "example": "Plan_ID"
                                            },
                                            "value": {
                                              "type": "string",
                                              "description": "Value of the plan parameter",
                                              "example": "599"
                                            }
                                          }
                                        }
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "Type of the plan as defined in BBPS schema",
                                        "enum": [
                                          "NEW",
                                          "EXISTING",
                                          "RECOMMENDED",
                                          "CURATED",
                                          "ACTIVATED"
                                        ]
                                      }
                                    }
                                  }
                                }
                              },
                              "description": "Plan details returned by the biller during validation (used for prepaid recharge)",
                              "nullable": true,
                              "x-omitempty": true
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": [
                                "SINGLE",
                                "LIST",
                                "SELECTIVE"
                              ],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "exactness": {
                              "type": "string",
                              "example": "Exact",
                              "enum": [
                                "Exact",
                                "Exact and above",
                                "Exact and below",
                                "Any",
                                "RANGE"
                              ]
                            },
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": [
[...]
