{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay",
    "version": "v2",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    }
  ],
  "paths": {
    "/api/v2/auth/token": {
      "post": {
        "tags": ["Token API"],
        "description": "Fetch token to be used to authorize all Setu APIs",
        "operationId": "fetchToken",
        "requestBody": {
          "description": "The API key pair",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientID": {
                    "type": "string",
                    "description": "clientID from the API key pair",
                    "example": "exampleClientID"
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret from the API key pair",
                    "example": "exampleSecret"
                  }
                },
                "description": "Fetch Token API payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["expiresIn", "token"],
                      "type": "object",
                      "properties": {
                        "expiresIn": {
                          "type": "integer",
                          "description": "Token expiry duration in seconds"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token to be used in subsequent requests",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                        }
                      }
                    },
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fetchTokenPayload"
      }
    },
    "/api/v2/bbps/bills/fetch/request": {
      "post": {
        "tags": ["Fetch"],
        "operationId": "FetchRequest",
        "description": "Bill fetch request API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": ["agent", "biller"],
                    "type": "object",
                    "properties": {
                      "agent": {
                        "required": ["channel", "id"],
                        "type": "object",
                        "properties": {
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "mobile": {
                            "maxLength": 22,
                            "minLength": 6,
                            "pattern": "^\\d{6,22}$",
                            "type": "string",
                            "description": "Mobile number with 6 to 22 digits are valid."
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          },
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          },
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": ["iOS", "Android"]
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          }
                        }
                      },
                      "remitter": {
                        "type": "object",
                        "properties": {
                          "aadhaar": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "123456789012"
                          },
                          "email": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "test@example.com"
                          },
                          "name": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "John Doe"
                          },
                          "pan": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "ABDCE1121E"
                          }
                        }
                      },
                      "biller": {
                        "required": ["id"],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "required": ["customer"],
                    "type": "object",
                    "properties": {
                      "customer": {
                        "allOf": [
                          {
                            "required": ["mobile"],
                            "type": "object",
                            "properties": {
                              "customerId": {
                                "type": "string",
                                "description": "Customer Identifier",
                                "example": "4881317598"
                              },
                              "mobile": {
                                "maxLength": 22,
                                "minLength": 6,
                                "pattern": "^\\d{6,22}$",
                                "type": "string",
                                "description": "Mobile number with 6 to 22 digits are valid."
                              }
                            }
                          },
                          {
                            "required": ["customerParams"],
                            "type": "object",
                            "properties": {
                              "customerParams": {
                                "type": "array",
                                "description": "The bill params for fetching the bill",
                                "items": {
                                  "required": ["name", "value"],
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of the parameter. This has to match what is sent in fields.",
                                      "example": "John Doe"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value of the customer parameter",
                                      "example": "1895159"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillFetchRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "error-code-if-any"
                            },
                            "message": {
                              "type": "string",
                              "example": "error-message-if-any"
                            },
                            "refId": {
                              "type": "string",
                              "description": "The generated BBPS Reference ID for the request.",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "description": "The generated BBPS Reference ID for the request.",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillFetchRequest"
      }
    },
    "/api/v2/bbps/bills/fetch/response": {
      "post": {
        "tags": ["Fetch"],
        "operationId": "FetchResponse",
        "description": "Bill fetch response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "description": "The generated BBPS Reference ID for the request.",
                    "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": ["data"],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": ["refId", "status"],
                          "type": "object",
                          "properties": {
                            "billerRefId": {
                              "type": "string",
                              "example": "7f16a032e514"
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": ["SINGLE", "LIST", "SELECTIVE"],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "bills": {
                              "type": "array",
                              "description": "Multiple bills in case of response from B2B biller",
                              "items": {
                                "required": [
                                  "billDate",
                                  "billNumber",
                                  "billPeriod",
                                  "customerName",
                                  "dueDate"
                                ],
                                "type": "object",
                                "properties": {
                                  "billDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-01-02"
                                  },
                                  "customerName": {
                                    "type": "string",
                                    "example": "Manoj Chekuri"
                                  },
                                  "minAmount": {
                                    "type": "integer",
                                    "description": "Minimum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "paymentOptions": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "required": ["name"],
                                      "type": "object",
                                      "properties": {
                                        "amountMultiple": {
                                          "type": "integer",
                                          "description": "The payment amount should be a multiple of this value in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "maxAmount": {
                                          "type": "integer",
                                          "description": "The maximum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "minAmount": {
                                          "type": "integer",
                                          "description": "The minimum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the option.",
                                          "example": "John Doe"
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "description": "The amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        }
                                      }
                                    },
                                    "x-omitempty": true
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "amountMultiple": {
                                    "type": "integer",
                                    "description": "Bill payment amount should be multiple of this value in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "dueDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-09-24"
                                  },
                                  "label": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "Advance EMI",
                                    "x-omitempty": true
                                  },
                                  "maxAmount": {
                                    "type": "integer",
                                    "description": "Maximum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billNumber": {
                                    "type": "string",
                                    "example": "1232332"
                                  },
                                  "billPeriod": {
                                    "type": "string",
                                    "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                  }
                                },
                                "x-go-name": "BillData"
                              },
                              "x-omitempty": true
                            },
                            "exactness": {
                              "type": "string",
                              "example": "Exact",
                              "enum": [
                                "Exact",
                                "Exact and above",
                                "Exact and below",
                                "Any",
                                "RANGE"
                              ]
                            },
                            "failureReason": {
                              "required": ["code", "message"],
                              "type": "object",
                              "properties": {
                                "message": {
                                  "type": "string",
                                  "example": "error-message-if-any"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": ["FUND_TRANSFER", "BBPS", "APP"]
                                },
                                "code": {
                                  "type": "string",
                                  "example": "error-code-if-any"
                                }
                              }
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "additionalInfo": {
                              "type": "array",
                              "description": "This tag captures the additional information provided by the Biller as part of response for a successful transaction.",
                              "items": {
                                "required": ["name", "value"],
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "example": "Value 1"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "John Doe"
                                  }
                                }
                              },
                              "x-go-name": "BillAdditionalInfo",
                              "x-omitempty": false
                            },
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": ["SINGLE", "MULTIPLE", "ALL"],
                              "x-omitempty": false,
                              "x-nullable": true
                            },
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": [
                                "Processing",
                                "Success",
                                "Failure",
                                "Credit_Adjustment"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponseV2"
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/api/v2/bbps/bills/payment/request": {
      "post": {
        "tags": ["Pay"],
        "operationId": "PaymentRequest",
        "description": "Bill payment request API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": ["paymentDetails"],
                    "type": "object",
                    "properties": {
                      "dummyCustomerMobile": {
                        "type": "string",
                        "description": "On debug, this hijacks the customer mobiler number COMFORT NEGATIVE 30, 31",
                        "nullable": true,
                        "example": "9876543210"
                      },
                      "refId": {
                        "type": "string",
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      },
                      "biller": {
                        "required": ["id"],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      },
                      "agent": {
                        "required": ["channel", "id"],
                        "type": "object",
                        "properties": {
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "mobile": {
                            "maxLength": 22,
                            "minLength": 6,
                            "pattern": "^\\d{6,22}$",
                            "type": "string",
                            "description": "Mobile number with 6 to 22 digits are valid."
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          },
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          },
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": ["iOS", "Android"]
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          }
                        }
                      },
                      "remitter": {
                        "type": "object",
                        "properties": {
                          "aadhaar": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "123456789012"
                          },
                          "email": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "test@example.com"
                          },
                          "name": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "John Doe"
                          },
                          "pan": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "ABDCE1121E"
                          }
                        }
                      },
                      "paymentDetails": {
                        "required": ["amount", "mode", "paymentRefId", "timestamp"],
                        "type": "object",
                        "properties": {
                          "custConvFee": {
                            "type": "integer",
                            "nullable": true
                          },
                          "paymentRefId": {
                            "maxLength": 35,
                            "minLength": 6,
                            "type": "string",
                            "example": "BD019181220291"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2020-12-12T13:12:00+05:30"
                          },
                          "COUcustConvFee": {
                            "type": "integer",
                            "nullable": true
                          },
                          "accountInfo": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string",
                            "example": "some-info"
                          },
                          "amount": {
                            "minimum": 1,
                            "type": "integer",
                            "description": "Amount in Paise"
                          },
                          "currency": {
                            "type": "integer",
                            "nullable": true
                          },
                          "mode": {
                            "type": "string",
                            "example": "Internet Banking",
                            "enum": [
                              "Internet Banking",
                              "Debit Card",
                              "Credit Card",
                              "Prepaid Card",
                              "IMPS",
                              "Cash",
                              "UPI",
                              "Wallet",
                              "NEFT",
                              "AEPS",
                              "Account Transfer",
                              "Bharat QR",
                              "USSD"
                            ]
                          },
                          "selectedPaymentOptions": {
                            "type": "array",
                            "description": "List of selected payment options",
                            "nullable": true,
                            "items": {
                              "required": ["amount", "name"],
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "minimum": 1,
                                  "type": "integer",
                                  "description": "The amount to be paid for the selected payment option."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the payment option as returned in bill fetch response.",
                                  "example": "John Doe"
                                }
                              }
                            },
                            "x-nullable": true,
                            "x-omitempty": true
                          }
                        }
                      },
                      "bills": {
                        "uniqueItems": true,
                        "type": "array",
                        "nullable": true,
                        "example": "Selection on bills in case of list billers",
                        "items": {
                          "required": ["amount", "billNumber"],
                          "type": "object",
                          "properties": {
                            "billNumber": {
                              "type": "string",
                              "example": "B1234567"
                            },
                            "amount": {
                              "minimum": 1,
                              "type": "integer",
                              "description": "Amount in Paise"
                            }
                          },
                          "x-omitempty": true
                        },
                        "x-omitempty": true
                      },
                      "dummyBillerResponseAmount": {
                        "type": "integer",
                        "description": "On debug, this is the amount passed in biller response COMFORT NEGATIVE 23",
                        "nullable": true
                      },
                      "dummyOrigRefId": {
                        "type": "string",
                        "description": "On debug, hijacks orig ref id of payment request - COMFORT PAYMENT - 83",
                        "nullable": true,
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "type": "object",
                    "properties": {
                      "customer": {
                        "allOf": [
                          {
                            "required": ["mobile"],
                            "type": "object",
                            "properties": {
                              "customerId": {
                                "type": "string",
                                "description": "Customer Identifier",
                                "example": "4881317598"
                              },
                              "mobile": {
                                "maxLength": 22,
                                "minLength": 6,
                                "pattern": "^\\d{6,22}$",
                                "type": "string",
                                "description": "Mobile number with 6 to 22 digits are valid."
                              }
                            }
                          },
                          {
                            "required": ["customerParams"],
                            "type": "object",
                            "properties": {
                              "customerParams": {
                                "type": "array",
                                "description": "The bill params for fetching the bill",
                                "items": {
                                  "required": ["name", "value"],
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of the parameter. This has to match what is sent in fields.",
                                      "example": "John Doe"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value of the customer parameter",
                                      "example": "1895159"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillPaymentRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "error-code-if-any"
                            },
                            "message": {
                              "type": "string",
                              "example": "error-message-if-any"
                            },
                            "refId": {
                              "type": "string",
                              "description": "The generated BBPS Reference ID for the request.",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "description": "The generated BBPS Reference ID for the request.",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "error-code-if-any"
                            },
                            "message": {
                              "type": "string",
                              "example": "error-message-if-any"
                            },
                            "refId": {
                              "type": "string",
                              "description": "The generated BBPS Reference ID for the request.",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "description": "The generated BBPS Reference ID for the request.",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillPaymentRequestV2"
      }
    },
    "/api/v2/bbps/bills/payment/response": {
      "post": {
        "tags": ["Pay"],
        "operationId": "PaymentResponse",
        "description": "Bill payment response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "description": "The generated BBPS Reference ID for the request.",
                    "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId", "status"],
                      "type": "object",
                      "properties": {
                        "paymentDetails": {
                          "required": ["amount", "mode", "paymentRefId", "timestamp"],
                          "type": "object",
                          "properties": {
                            "custConvFee": {
                              "type": "integer",
                              "nullable": true
                            },
                            "paymentRefId": {
                              "maxLength": 35,
                              "minLength": 6,
                              "type": "string",
                              "example": "BD019181220291"
                            },
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2020-12-12T13:12:00+05:30"
                            },
                            "COUcustConvFee": {
                              "type": "integer",
                              "nullable": true
                            },
                            "accountInfo": {
                              "maxLength": 50,
                              "minLength": 1,
                              "type": "string",
                              "example": "some-info"
                            },
                            "amount": {
                              "minimum": 1,
                              "type": "integer",
                              "description": "Amount in Paise"
                            },
                            "currency": {
                              "type": "integer",
                              "nullable": true
                            },
                            "mode": {
                              "type": "string",
                              "example": "Internet Banking",
                              "enum": [
                                "Internet Banking",
                                "Debit Card",
                                "Credit Card",
                                "Prepaid Card",
                                "IMPS",
                                "Cash",
                                "UPI",
                                "Wallet",
                                "NEFT",
                                "AEPS",
                                "Account Transfer",
                                "Bharat QR",
                                "USSD"
                              ]
                            },
                            "selectedPaymentOptions": {
                              "type": "array",
                              "description": "List of selected payment options",
                              "nullable": true,
                              "items": {
                                "required": ["amount", "name"],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "minimum": 1,
                                    "type": "integer",
                                    "description": "The amount to be paid for the selected payment option."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the payment option as returned in bill fetch response.",
                                    "example": "John Doe"
                                  }
                                }
                              },
                              "x-nullable": true,
                              "x-omitempty": true
                            }
                          }
                        },
                        "billerId": {
                          "type": "string",
                          "description": "The biller ID on BBPS",
                          "example": "MAHI00000NATIC"
                        },
                        "bills": {
                          "uniqueItems": true,
                          "type": "array",
                          "nullable": true,
                          "example": "The bills paid in case of list billers",
                          "items": {
                            "required": ["amount", "billNumber"],
                            "type": "object",
                            "properties": {
                              "billNumber": {
                                "type": "string",
                                "example": "B1234567"
                              },
                              "amount": {
                                "minimum": 1,
                                "type": "integer",
                                "description": "Amount in Paise"
                              }
                            },
                            "x-omitempty": true
                          },
                          "x-omitempty": true
                        },
                        "failureReason": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "error-message-if-any"
                            },
                            "type": {
                              "type": "string",
                              "enum": ["FUND_TRANSFER", "BBPS", "APP"]
                            },
                            "code": {
                              "type": "string",
                              "example": "error-code-if-any"
                            }
                          }
                        },
                        "lastPaidDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "example": "2020-12-12T13:12:00+05:30"
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        },
                        "status": {
                          "type": "string",
                          "example": "Success",
                          "enum": ["Processing", "Success", "Failure", "Credit_Adjustment"]
                        },
                        "transactionId": {
                          "type": "string",
                          "example": "AX30910192192192192"
                        },
                        "additionalInfo": {
                          "type": "array",
                          "description": "This tag captures the additional information provided by the Biller as part of response for a successful transaction.",
                          "items": {
                            "required": ["name", "value"],
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "example": "Value 1"
                              },
                              "name": {
                                "type": "string",
                                "example": "John Doe"
                              }
                            }
                          },
                          "x-go-name": "BillAdditionalInfo",
                          "x-omitempty": false
                        },
                        "billerRefId": {
                          "type": "string",
                          "example": "ZA6291A177"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-omitempty": true,
                  "x-go-name": "CouAgentBillPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/api/v2/bbps/bills/complaint/request": {
      "post": {
        "tags": ["Dispute"],
        "operationId": "DisputeRequest",
        "description": "Raise dispute request API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "The Partner ID provided by Setu.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": ["description", "disputeType"],
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "Test Transaction Based Complaint"
                      },
                      "disputeType": {
                        "type": "string",
                        "description": "The type of NPCI dispute",
                        "enum": [
                          "account-not-updated",
                          "double-payment",
                          "paid-to-wrong-account",
                          "others",
                          "amount-deducted-biller-credited-no-transaction-id",
                          "amount-deducted-biller-not-credited-no-transaction-id",
                          "amount-deducted-multiple-times"
                        ]
                      }
                    }
                  },
                  {
                    "required": ["transactionId"],
                    "type": "object",
                    "properties": {
                      "transactionId": {
                        "type": "string",
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentDisputeRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "error-code-if-any"
                            },
                            "message": {
                              "type": "string",
                              "example": "error-message-if-any"
                            },
                            "refId": {
                              "type": "string",
                              "description": "The generated BBPS Reference ID for the request.",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "description": "The generated BBPS Reference ID for the request.",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Boolean value indicating the status of the request",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentDisputeRequest"
      }
    },
    "/api/v2/bbps/bills/complaint/response": {
      "post": {
        "tags": ["Dispute"],
        "operationId": "DisputeResponse",
        "description": "Raise dispute response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "The Partner ID provided by Setu.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "description": "The generated BBPS Reference ID for the request.",
                    "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["assignedTo", "disputeId", "refId", "remarks", "status"],
                      "type": "object",
                      "properties": {
                        "assignedTo": {
                          "type": "string",
                          "example": "ICICI BOU"
                        },
                        "disputeId": {
                          "type": "string",
                          "example": "OP0121046567755"
                        },
                        "refId": {
                          "type": "string",
                          "description": "The generated BBPS Reference ID for the request.",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        },
                        "remarks": {
                          "type": "string",
                          "example": "Resolved in favour of Biller"
                        },
                        "status": {
                          "type": "string",
                          "description": "BBPS Complaint status",
                          "example": "ASSIGNED",
                          "enum": [
                            "ASSIGNED",
                            "REJECTED",
                            "RESOLVED",
                            "DEFAULT_RESOLVED"
                          ]
                        }
                      },
                      "x-go-name": "DisputeResponseData"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-go-name": "CouAgentDisputeResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/api/v2/bbps/disputes": {
      "get": {
        "tags": ["List"],
        "operationId": "getDisputes",
        "description": "Returns the list of disputes.",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "The Partner ID provided by Setu.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "OAuth token. Required for authorization.",
            "in": "header",
            "required": true
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ASSIGNED",
                  "REJECTED",
                  "RESOLVED",
                  "DEFAULT_RESOLVED"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "schema": {
              "maximum": 1000.0,
              "minimum": 1.0,
              "type": "integer"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Biller Category",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "months",
            "in": "query",
            "description": "Month ranges. A full-date notation as defined by 'RFC 3339, section 5.6' has to be provided but only month and year will be considered.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "Mobile number with 6 to 22 digits are valid.",
            "schema": {
              "maxLength": 22,
              "minLength": 6,
              "pattern": "^\\d{6,22}$",
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionIds",
            "in": "query",
            "description": "Transaction IDs",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "paymentRefIds",
            "in": "query",
            "description": "Partner provided transaction Ids",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 35,
                "minLength": 6,
                "type": "string"
              }
            }
          },
          {
            "name": "billerIds",
            "in": "query",
            "description": "The biller ID on BBPS",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["BILLER", "TRANSACTION"]
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Bad request",
            "content": {
[...]
