{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay",
    "version": "v2",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    }
  ],
  "paths": {
    "/v2/auth/token": {
      "post": {
        "tags": ["Token API"],
        "description": "Fetch token to be used to authorize all Setu APIs",
        "operationId": "fetchToken",
        "requestBody": {
          "description": "The API key pair",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientID": {
                    "type": "string",
                    "description": "clientID from the API key pair"
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret from the API key pair"
                  }
                },
                "description": "Fetch Token API payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["expiresIn", "token"],
                      "type": "object",
                      "properties": {
                        "expiresIn": {
                          "type": "integer",
                          "description": "Token expiry duration in seconds"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token to be used in subsequent requests"
                        }
                      }
                    },
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fetchTokenPayload"
      }
    },
    "/v2/bbps/bills/fetch/request": {
      "post": {
        "tags": ["Fetch"],
        "description": "Bill fetch request API",
        "operationId": "FetchRequestV2",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": ["agent", "biller"],
                    "type": "object",
                    "properties": {
                      "biller": {
                        "required": ["id"],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      },
                      "agent": {
                        "required": ["channel", "id"],
                        "type": "object",
                        "properties": {
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          },
                          "mobile": {
                            "maxLength": 20,
                            "minLength": 6,
                            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                            "type": "string",
                            "description": "Mobile number with 6, 10 and 20 digits are valid.",
                            "example": "9481773053"
                          },
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": ["iOS", "Android"]
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          },
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          }
                        }
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "required": ["customer"],
                    "type": "object",
                    "properties": {
                      "customer": {
                        "required": ["customerParams", "mobile"],
                        "type": "object",
                        "properties": {
                          "customerParams": {
                            "type": "array",
                            "description": "The bill params for fetching the bill",
                            "items": {
                              "required": ["name", "value"],
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The display name of the parameter. This has to match what is sent in fields.",
                                  "example": "Loan Number"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the customer parameter",
                                  "example": "1895159"
                                }
                              }
                            }
                          },
                          "mobile": {
                            "maxLength": 20,
                            "minLength": 6,
                            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                            "type": "string",
                            "description": "Mobile number with 6, 10 and 20 digits are valid.",
                            "example": "9481773053"
                          }
                        }
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillFetchRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillFetchRequest"
      }
    },
    "/v2/bbps/bills/fetch/response": {
      "post": {
        "tags": ["Fetch"],
        "description": "Bill fetch response API",
        "operationId": "FetchResponseV2",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": ["data"],
                      "type": "object",
                      "properties": {
                        "data": {
                          "required": ["refId", "status"],
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "Success",
                              "enum": ["Processing", "Success", "Failure"]
                            },
                            "additionalInfo": {
                              "type": "array",
                              "items": {
                                "required": ["name", "value"],
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Line item 1"
                                  },
                                  "value": {
                                    "type": "string",
                                    "example": "Value 1"
                                  }
                                }
                              },
                              "x-go-name": "BillAdditionalInfo"
                            },
                            "billerRefId": {
                              "type": "string",
                              "example": "7f16a032e514"
                            },
                            "billerResponseType": {
                              "type": "string",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": ["SINGLE", "LIST", "SELECTIVE"],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "failureReason": {
                              "required": ["code", "message"],
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": ["FUND_TRANSFER", "BBPS", "APP"]
                                },
                                "code": {
                                  "type": "string",
                                  "example": "ERR004"
                                },
                                "message": {
                                  "type": "string",
                                  "example": "customer not found"
                                }
                              }
                            },
                            "refId": {
                              "type": "string",
                              "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                            },
                            "billerSelectionType": {
                              "type": "string",
                              "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                              "nullable": true,
                              "example": "SINGLE",
                              "enum": ["SINGLE", "MULTIPLE", "ALL"],
                              "x-nullable": true,
                              "x-omitempty": false
                            },
                            "bills": {
                              "type": "array",
                              "description": "Multiple bills in case of response from B2B biller",
                              "items": {
                                "required": [
                                  "billDate",
                                  "billNumber",
                                  "billPeriod",
                                  "customerName",
                                  "dueDate"
                                ],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "amountMultiple": {
                                    "type": "integer",
                                    "description": "Bill payment amount should be multiple of this value in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-01-02"
                                  },
                                  "dueDate": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2021-09-24"
                                  },
                                  "maxAmount": {
                                    "type": "integer",
                                    "description": "Maximum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "billNumber": {
                                    "type": "string",
                                    "example": "1232332"
                                  },
                                  "billPeriod": {
                                    "type": "string",
                                    "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                  },
                                  "customerName": {
                                    "type": "string",
                                    "example": "Manoj Chekuri"
                                  },
                                  "label": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "Advance EMI",
                                    "x-omitempty": true
                                  },
                                  "minAmount": {
                                    "type": "integer",
                                    "description": "Minimum amount that can be paid for this bill in paise",
                                    "nullable": true,
                                    "x-omitempty": true
                                  },
                                  "paymentOptions": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "required": ["name"],
                                      "type": "object",
                                      "properties": {
                                        "maxAmount": {
                                          "type": "integer",
                                          "description": "The maximum amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "minAmount": {
                                          "type": "integer",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the option.",
                                          "example": "2 Months EMI Amount"
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "description": "The amount that can be paid for this option in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        },
                                        "amountMultiple": {
                                          "type": "integer",
                                          "description": "The payment amount should be a multiple of this value in paise.",
                                          "nullable": true,
                                          "x-omitempty": true
                                        }
                                      },
                                      "x-go-name": "PaymentOption"
                                    },
                                    "x-omitempty": true
                                  }
                                },
                                "x-go-name": "BillData"
                              },
                              "x-omitempty": true
                            }
                          }
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/v2/bbps/bills/payment/request": {
      "post": {
        "tags": ["Pay"],
        "description": "Bill payment request API",
        "operationId": "PaymentRequestV2",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": ["paymentDetails"],
                    "type": "object",
                    "properties": {
                      "refId": {
                        "type": "string",
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      },
                      "agent": {
                        "required": ["channel", "id"],
                        "type": "object",
                        "properties": {
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          },
                          "mobile": {
                            "maxLength": 20,
                            "minLength": 6,
                            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                            "type": "string",
                            "description": "Mobile number with 6, 10 and 20 digits are valid.",
                            "example": "9481773053"
                          },
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": ["iOS", "Android"]
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          },
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          }
                        }
                      },
                      "biller": {
                        "required": ["id"],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      },
                      "bills": {
                        "uniqueItems": true,
                        "type": "array",
                        "nullable": true,
                        "example": "Selection on bills in case of list billers",
                        "items": {
                          "required": ["amount", "billNumber"],
                          "type": "object",
                          "properties": {
                            "amount": {
                              "minimum": 1,
                              "type": "integer",
                              "description": "Amount in Paise"
                            },
                            "billNumber": {
                              "type": "string",
                              "example": "B1234567"
                            }
                          },
                          "x-omitempty": true
                        },
                        "x-omitempty": true
                      },
                      "paymentDetails": {
                        "required": [
                          "amount",
                          "mode",
                          "paymentRefId",
                          "timestamp"
                        ],
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2020-12-12T13:12:00+05:30"
                          },
                          "COUcustConvFee": {
                            "type": "integer",
                            "nullable": true
                          },
                          "amount": {
                            "minimum": 1,
                            "type": "integer",
                            "description": "Amount in Paise"
                          },
                          "currency": {
                            "type": "integer",
                            "nullable": true
                          },
                          "custConvFee": {
                            "type": "integer",
                            "nullable": true
                          },
                          "mode": {
                            "type": "string",
                            "example": "Internet Banking",
                            "enum": [
                              "Internet Banking",
                              "Debit Card",
                              "Credit Card",
                              "Prepaid Card",
                              "IMPS",
                              "Cash",
                              "UPI",
                              "Wallet",
                              "NEFT",
                              "AEPS",
                              "Account Transfer",
                              "Bharat QR",
                              "USSD"
                            ]
                          },
                          "paymentRefId": {
                            "maxLength": 35,
                            "minLength": 6,
                            "type": "string",
                            "example": "BD019181220291"
                          },
                          "selectedPaymentOptions": {
                            "type": "array",
                            "description": "List of selected payment options",
                            "nullable": true,
                            "items": {
                              "required": ["amount", "name"],
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "minimum": 1,
                                  "type": "integer",
                                  "description": "The amount to be paid for the selected payment option."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the payment option as returned in bill fetch response.",
                                  "example": "Early Payment Amount"
                                }
                              }
                            },
                            "x-omitempty": true,
                            "x-nullable": true
                          }
                        }
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "type": "object",
                    "properties": {
                      "customer": {
                        "required": ["customerParams", "mobile"],
                        "type": "object",
                        "properties": {
                          "customerParams": {
                            "type": "array",
                            "description": "The bill params for fetching the bill",
                            "items": {
                              "required": ["name", "value"],
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The display name of the parameter. This has to match what is sent in fields.",
                                  "example": "Loan Number"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the customer parameter",
                                  "example": "1895159"
                                }
                              }
                            }
                          },
                          "mobile": {
                            "maxLength": 20,
                            "minLength": 6,
                            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                            "type": "string",
                            "description": "Mobile number with 6, 10 and 20 digits are valid.",
                            "example": "9481773053"
                          }
                        }
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillPaymentRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillPaymentRequestV2"
      }
    },
    "/v2/bbps/bills/payment/response": {
      "post": {
        "tags": ["Pay"],
        "description": "Bill payment response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId", "status"],
                      "type": "object",
                      "properties": {
                        "billerRefId": {
                          "type": "string",
                          "example": "ZA6291A177"
                        },
                        "failureReason": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["FUND_TRANSFER", "BBPS", "APP"]
                            },
                            "code": {
                              "type": "string",
                              "example": "ERR004"
                            },
                            "message": {
                              "type": "string",
                              "example": "customer not found"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        },
                        "status": {
                          "type": "string",
                          "example": "Success",
                          "enum": ["Processing", "Success", "Failure"]
                        },
                        "additionalInfo": {
                          "type": "array",
                          "items": {
                            "required": ["name", "value"],
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Line item 1"
                              },
                              "value": {
                                "type": "string",
                                "example": "Value 1"
                              }
                            }
                          },
                          "x-go-name": "BillAdditionalInfo"
                        },
                        "billerId": {
                          "type": "string",
                          "description": "The biller ID on BBPS",
                          "example": "MAHI00000NATIC"
                        },
                        "paymentDetails": {
                          "required": [
                            "amount",
                            "mode",
                            "paymentRefId",
                            "timestamp"
                          ],
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2020-12-12T13:12:00+05:30"
                            },
                            "COUcustConvFee": {
                              "type": "integer",
                              "nullable": true
                            },
                            "amount": {
                              "minimum": 1,
                              "type": "integer",
                              "description": "Amount in Paise"
                            },
                            "currency": {
                              "type": "integer",
                              "nullable": true
                            },
                            "custConvFee": {
                              "type": "integer",
                              "nullable": true
                            },
                            "mode": {
                              "type": "string",
                              "example": "Internet Banking",
                              "enum": [
                                "Internet Banking",
                                "Debit Card",
                                "Credit Card",
                                "Prepaid Card",
                                "IMPS",
                                "Cash",
                                "UPI",
                                "Wallet",
                                "NEFT",
                                "AEPS",
                                "Account Transfer",
                                "Bharat QR",
                                "USSD"
                              ]
                            },
                            "paymentRefId": {
                              "maxLength": 35,
                              "minLength": 6,
                              "type": "string",
                              "example": "BD019181220291"
                            },
                            "selectedPaymentOptions": {
                              "type": "array",
                              "description": "List of selected payment options",
                              "nullable": true,
                              "items": {
                                "required": ["amount", "name"],
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "minimum": 1,
                                    "type": "integer",
                                    "description": "The amount to be paid for the selected payment option."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the payment option as returned in bill fetch response.",
                                    "example": "Early Payment Amount"
                                  }
                                }
                              },
                              "x-omitempty": true,
                              "x-nullable": true
                            }
                          }
                        },
                        "transactionId": {
                          "type": "string",
                          "example": "AX30910192192192192"
                        },
                        "bills": {
                          "uniqueItems": true,
                          "type": "array",
                          "nullable": true,
                          "example": "The bills paid in case of list billers",
                          "items": {
                            "required": ["amount", "billNumber"],
                            "type": "object",
                            "properties": {
                              "amount": {
                                "minimum": 1,
                                "type": "integer",
                                "description": "Amount in Paise"
                              },
                              "billNumber": {
                                "type": "string",
                                "example": "B1234567"
                              }
                            },
                            "x-omitempty": true
                          },
                          "x-omitempty": true
                        },
                        "lastPaidDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "example": "2020-12-12T13:12:00+05:30"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-omitempty": true,
                  "x-go-name": "CouAgentBillPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/v2/bbps/bills/complaint/request": {
      "post": {
        "tags": ["Dispute"],
        "description": "Raise dispute request API",
        "operationId": "DisputeRequestV2",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": ["description", "disputeType"],
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "Test Transaction Based Complaint"
                      },
                      "disputeType": {
                        "type": "string",
                        "description": "The type of NPCI dispute",
                        "example": "account-not-updated",
                        "enum": [
                          "account-not-updated",
                          "double-payment",
                          "paid-to-wrong-account",
                          "others",
                          "amount-deducted-biller-credited-no-transaction-id",
                          "amount-deducted-biller-not-credited-no-transaction-id",
                          "amount-deducted-multiple-times"
                        ]
                      }
                    }
                  },
                  {
                    "required": ["transactionId"],
                    "type": "object",
                    "properties": {
                      "transactionId": {
                        "type": "string",
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentDisputeRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["data", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": ["refId"],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": ["code", "message"],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentDisputeRequest"
      }
    },
    "/v2/bbps/bills/complaint/response": {
      "post": {
        "tags": ["Dispute"],
        "description": "Raise dispute response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "data": {
                      "required": [
                        "assignedTo",
                        "disputeId",
                        "refId",
                        "remarks",
                        "status"
                      ],
                      "type": "object",
                      "properties": {
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        },
                        "remarks": {
                          "type": "string",
                          "example": "Resolved in favour of Biller"
                        },
                        "status": {
                          "type": "string",
                          "description": "BBPS Complaint status",
                          "example": "ASSIGNED",
                          "enum": [
                            "INITIALIZED",
                            "ASSIGNED",
                            "RE_ASSIGNED",
                            "ASSIGNED_TO_BOU",
                            "ASSIGNED_TO_COU",
                            "ASSIGNED_TO_OU",
                            "ESCALATED",
                            "RESOLVED",
                            "UNRESOLVED"
                          ]
                        },
                        "assignedTo": {
                          "type": "string",
                          "example": "ICICI BOU"
                        },
                        "disputeId": {
                          "type": "string",
                          "example": "OP0121046567755"
                        }
                      },
                      "x-go-name": "DisputeResponseData"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "x-go-name": "CouAgentDisputeResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": ["bbps:partner"]
          },
          {
            "Sandbox": ["bbps:partner"]
          },
          {
            "QA": ["bbps:partner"]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/v2/bbps/transactions": {
      "get": {
        "tags": ["List"],
        "description": "Returns the list of transactions.",
        "operationId": "getTxnsV2",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "start date of the timestamp provided by the partner while making the request.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "end date of the timestamp provided by the partner while making the request.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "billerId",
            "in": "query",
            "description": "Transaction BillerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Transaction Reference Ids",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Biller Category",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "billerFetchApiType",
            "in": "query",
            "description": "Biller Fetch Api Type",
            "schema": {
              "type": "string",
              "enum": ["BILL_FETCH", "BILL_VALIDATE", "BILL_DIRECT"]
            }
          },
          {
            "name": "months",
            "in": "query",
            "description": "Month ranges. A full-date notation as defined by 'RFC 3339, section 5.6' has to be provided but only month and year will be considered.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date",
                "example": "2022-07-19"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Transaction Status",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "Success",
                "enum": ["Processing", "Success", "Error"]
              }
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "Mobile number with 6, 10 and 20 digits are valid.",
            "schema": {
              "maxLength": 20,
              "minLength": 6,
              "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "example": "BILLER",
                "enum": ["BILLER"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Txns",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "nextPage": {
                              "type": "string",
                              "example": "/api/bbps/billers?search=Aditya&CategoryCode=Loan+Repayment&CategoryCode=Insurance&after=ABCC00000PTNNS"
                            },
                            "transactions": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "bills": {
                                        "type": "array",
                                        "items": {
                                          "required": ["amount", "billNumber"],
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "minimum": 1,
                                              "type": "integer",
                                              "description": "Amount in Paise"
                                            },
                                            "billNumber": {
                                              "type": "string",
                                              "example": "B1234567"
                                            }
                                          },
                                          "x-omitempty": true
                                        }
                                      },
                                      "refId": {
                                        "type": "string",
                                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                                      },
                                      "timestamp": {
                                        "type": "string",
                                        "description": "Timestamp provided by partner while making payment request.",
                                        "format": "date-time",
                                        "example": "2020-12-12T13:12:00+05:30"
                                      },
                                      "transactionId": {
                                        "type": "string",
                                        "description": "Setu BillPay Transaction ID.",
                                        "example": "AX30910192192192192"
                                      },
                                      "amount": {
                                        "type": "integer"
                                      },
                                      "biller": {
                                        "required": [
                                          "categoryName",
                                          "customerParams",
                                          "exactness",
                                          "fetchApiType",
                                          "id",
                                          "name",
                                          "payWithoutFetchAllowed",
                                          "paymentChannels",
                                          "paymentModes",
                                          "supportsPendingStatus"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "supportsPendingStatus": {
                                            "type": "boolean",
                                            "example": false
                                          },
                                          "customerParamsGroups": {
                                            "type": "array",
                                            "items": {
                                              "type": "array",
                                              "items": {
                                                "type": "string",
                                                "example": "Param 1"
                                              }
                                            }
                                          },
                                          "payWithoutFetchAllowed": {
                                            "type": "boolean",
                                            "example": true
                                          },
                                          "billerAdditionalInfo": {
                                            "type": "array",
                                            "items": {
                                              "required": [
                                                "dataType",
                                                "optional",
                                                "paramName"
                                              ],
                                              "type": "object",
                                              "properties": {
                                                "dataType": {
                                                  "type": "string",
                                                  "example": "ALPHANUMERIC",
                                                  "enum": [
                                                    "ALPHANUMERIC",
                                                    "NUMERIC"
                                                  ]
                                                },
                                                "optional": {
                                                  "type": "boolean",
                                                  "example": false
                                                },
                                                "paramName": {
                                                  "type": "string",
                                                  "example": "Package Duration"
                                                }
                                              }
                                            }
                                          },
                                          "billerAdditionalInfoPayment": {
                                            "type": "array",
                                            "items": {
                                              "required": [
                                                "dataType",
                                                "optional",
                                                "paramName"
                                              ],
                                              "type": "object",
                                              "properties": {
                                                "dataType": {
                                                  "type": "string",
                                                  "example": "ALPHANUMERIC",
                                                  "enum": [
                                                    "ALPHANUMERIC",
                                                    "NUMERIC"
                                                  ]
                                                },
                                                "optional": {
                                                  "type": "boolean",
                                                  "example": false
                                                },
                                                "paramName": {
                                                  "type": "string",
                                                  "example": "Package Duration"
                                                }
                                              }
                                            }
                                          },
                                          "name": {
                                            "type": "string",
[...]
