{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay - White label solution",
    "version": "v2",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    }
  ],
  "paths": {
    "/api/v2/ethereal/link": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal link create request API",
        "operationId": "EtherealLinkRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["orgId"],
                "type": "object",
                "properties": {
                  "custID": {
                    "type": "string",
                    "description": "Customer Identifier",
                    "example": "123456"
                  },
                  "mobileNumber": {
                    "maxLength": 22,
                    "minLength": 6,
                    "pattern": "^\\d{6,22}$",
                    "type": "string",
                    "description": "Mobile number with 6 to 22 digits are valid."
                  },
                  "orgId": {
                    "type": "string",
                    "example": "1.22337203685477E14"
                  },
                  "additionalInfo": {
                    "type": "object",
                    "properties": {},
                    "description": "Additional session information"
                  },
                  "billParams": {
                    "type": "array",
                    "items": {
                      "required": ["name", "value"],
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The display name of the parameter. This has to match what is sent in fields.",
                          "example": "John Doe"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the customer parameter",
                          "example": "1895159"
                        }
                      }
                    }
                  },
                  "billerId": {
                    "type": "string",
                    "example": "BBPSDUMMY001"
                  },
                  "categoryName": {
                    "type": "string",
                    "example": "Water"
                  },
                  "redirectTo": {
                    "type": "string",
                    "example": "transactions",
                    "enum": ["transactions", "disputes"]
                  },
                  "shortLink": {
                    "maxLength": 16,
                    "minLength": 8,
                    "type": "string",
                    "example": "TLxLzmLF"
                  }
                },
                "x-go-name": "EtherealLinkCreateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "example": "link"
                    },
                    "sessionId": {
                      "type": "string",
                      "example": "sessionId"
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "TLxLzmLF"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-omitempty": true,
                  "x-go-name": "EtherealLinkCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealLinkCreateRequest"
      }
    },
    "/api/v2/webhooks/payment-event": {
      "post": {
        "tags": ["Custom Payment Webhook"],
        "description": "Custom payment webhook API",
        "operationId": "CouCustomPaymentWebhook",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "orderId",
                  "paymentDateTime",
                  "paymentMode",
                  "paymentStatus",
                  "transactionId"
                ],
                "type": "object",
                "properties": {
                  "failureReason": {
                    "required": ["code", "message"],
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "error-code-if-any"
                      },
                      "message": {
                        "type": "string",
                        "example": "error-message-if-any"
                      }
                    }
                  },
                  "orderId": {
                    "type": "string",
                    "example": "COUWLab1C2dDe5F6g"
                  },
                  "paymentDateTime": {
                    "type": "string",
                    "example": "2024-03-19 12:30:45"
                  },
                  "amount": {
                    "type": "string",
                    "example": "100"
                  },
                  "custConvFee": {
                    "type": "integer"
                  },
                  "paymentMode": {
                    "type": "string",
                    "example": "UPI",
                    "enum": [
                      "INTERNET BANKING",
                      "DEBIT CARD",
                      "CREDIT CARD",
                      "PREPAID CARD",
                      "IMPS",
                      "CASH",
                      "UPI",
                      "WALLET",
                      "NEFT",
                      "AEPS",
                      "ACCOUNT TRANSFER",
                      "BHARAT QR",
                      "USSD"
                    ]
                  },
                  "paymentStatus": {
                    "type": "string",
                    "example": "SUCCESS",
                    "enum": ["SUCCESS", "FAILURE"]
                  },
                  "remarks": {
                    "type": "string",
                    "example": "Payment processed successfully."
                  },
                  "transactionId": {
                    "type": "string",
                    "example": "407012345678"
                  }
                },
                "x-go-name": "CouCustomPaymentWebhook",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["status"],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "acknowledged"
                    }
                  },
                  "x-go-name": "CouCustomPaymentWebhookResponse",
                  "x-omitempty": true
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "CouCustomPaymentWebhook"
      }
    },
    "/api/v2/auth/token": {
      "post": {
        "tags": ["Token API"],
        "description": "Fetch token to be used to authorize all Setu APIs",
        "operationId": "fetchToken",
        "requestBody": {
          "description": "The API key pair",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientID": {
                    "type": "string",
                    "description": "clientID from the API key pair",
                    "example": "exampleClientID"
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret from the API key pair",
                    "example": "exampleSecret"
                  }
                },
                "description": "Fetch Token API payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["expiresIn", "token"],
                      "type": "object",
                      "properties": {
                        "expiresIn": {
                          "type": "integer",
                          "description": "Token expiry duration in seconds"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token to be used in subsequent requests",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                        }
                      }
                    },
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fetchTokenPayload"
      }
    }
  },
  "components": {
    "schemas": {
      "fetchTokenRequest": {
        "type": "object",
        "properties": {
          "clientID": {
            "type": "string",
            "description": "clientID from the API key pair",
            "example": "exampleClientID"
          },
          "secret": {
            "type": "string",
            "description": "secret from the API key pair",
            "example": "exampleSecret"
          }
        },
        "description": "Fetch Token API payload"
      },
      "fetchTokenResponse": {
        "allOf": [
          {
            "required": ["expiresIn", "token"],
            "type": "object",
            "properties": {
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry duration in seconds"
              },
              "token": {
                "type": "string",
                "description": "Token to be used in subsequent requests",
                "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
              }
            }
          },
          {
            "required": ["success", "traceId"],
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "example": true
              },
              "traceId": {
                "type": "string",
                "example": "C3SFG0O6N88R6UI7EQ"
              }
            }
          }
        ]
      },
      "successAndTracerDetails": {
        "required": ["success", "traceId"],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      }
    },
    "securitySchemes": {
      "Production": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://coudc.setu.co/api/v2/auth/token",
            "scopes": {
              "bbps:admin": "Required scope",
              "cou:wl_partner": "Required scope"
            }
          }
        }
      },
      "Sandbox": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sandbox-coudc.setu.co/api/v2/auth/token",
            "scopes": {
              "bbps:admin": "Required scope",
              "cou:wl_partner": "Required scope"
            }
          }
        }
      },
      "QA": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://qa-coudc.setu.co/api/v2/auth/token",
            "scopes": {
              "bbps:admin": "Required scope",
              "cou:wl_partner": "Required scope"
            }
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
