{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay - White label solution",
    "version": "v2",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    }
  ],
  "paths": {
    "/api/v2/ethereal/link": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal link create request API",
        "operationId": "EtherealLinkRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["orgId"],
                "type": "object",
                "properties": {
                  "categoryName": {
                    "type": "string",
                    "example": "Water"
                  },
                  "custID": {
                    "type": "string",
                    "example": "12345"
                  },
                  "mobileNumber": {
                    "maxLength": 20,
                    "minLength": 6,
                    "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                    "type": "string",
                    "description": "Mobile number with 6, 10 and 20 digits are valid.",
                    "example": "9481773053"
                  },
                  "orgId": {
                    "type": "string",
                    "example": "1.22337203685477E14"
                  },
                  "redirectTo": {
                    "type": "string",
                    "example": "transactions",
                    "enum": ["transactions", "disputes"]
                  },
                  "additionalInfo": {
                    "type": "object",
                    "properties": {},
                    "description": "Additional Session information"
                  },
                  "billParams": {
                    "type": "array",
                    "items": {
                      "required": ["name", "value"],
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The display name of the parameter. This has to match what is sent in fields.",
                          "example": "Loan Number"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the customer parameter",
                          "example": "1895159"
                        }
                      }
                    }
                  },
                  "billerId": {
                    "type": "string",
                    "example": "MAHI0000001"
                  }
                },
                "x-omitempty": true,
                "x-go-name": "EtherealLinkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "example": "link"
                    },
                    "sessionId": {
                      "type": "string",
                      "example": "sessionId"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-go-name": "EtherealLinkCreateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealLinkCreateRequest"
      }
    },
    "/api/v2/auth/token": {
      "post": {
        "tags": ["Token API"],
        "description": "Fetch token to be used to authorize all Setu APIs",
        "operationId": "fetchToken",
        "requestBody": {
          "description": "The API key pair",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientID": {
                    "type": "string",
                    "description": "clientID from the API key pair"
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret from the API key pair"
                  }
                },
                "description": "Fetch Token API payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": ["expiresIn", "token"],
                      "type": "object",
                      "properties": {
                        "expiresIn": {
                          "type": "integer",
                          "description": "Token expiry duration in seconds"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token to be used in subsequent requests"
                        }
                      }
                    },
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fetchTokenPayload"
      }
    }
  },
  "components": {
    "schemas": {
      "fetchTokenRequest": {
        "type": "object",
        "properties": {
          "clientID": {
            "type": "string",
            "description": "clientID from the API key pair"
          },
          "secret": {
            "type": "string",
            "description": "secret from the API key pair"
          }
        },
        "description": "Fetch Token API payload"
      },
      "fetchTokenResponse": {
        "allOf": [
          {
            "required": ["expiresIn", "token"],
            "type": "object",
            "properties": {
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry duration in seconds"
              },
              "token": {
                "type": "string",
                "description": "Token to be used in subsequent requests"
              }
            }
          },
          {
            "required": ["success", "traceId"],
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "example": true
              },
              "traceId": {
                "type": "string",
                "example": "C3SFG0O6N88R6UI7EQ"
              }
            }
          }
        ]
      },
      "successAndTracerDetails": {
        "required": ["success", "traceId"],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "traceId": {
            "type": "string",
            "example": "C3SFG0O6N88R6UI7EQ"
          }
        }
      }
    },
    "securitySchemes": {
      "Production": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://coudc.setu.co/api/v2/auth/token",
            "scopes": {
              "cou:wl_partner": "Required scope"
            }
          }
        }
      },
      "Sandbox": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sandbox-coudc.setu.co/api/v2/auth/token",
            "scopes": {
              "cou:wl_partner": "Required scope"
            }
          }
        }
      },
      "QA": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://qa-coudc.setu.co/api/v2/auth/token",
            "scopes": {
              "cou:wl_partner": "Required scope"
            }
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
