{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay",
    "version": "v1",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "tags": [
          "Token API"
        ],
        "description": "Fetch token to be used to authorize all Setu APIs",
        "operationId": "fetchToken",
        "requestBody": {
          "description": "The API key pair",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientID": {
                    "type": "string",
                    "description": "clientID from the API key pair"
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret from the API key pair"
                  }
                },
                "description": "Fetch Token API payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "expiresIn",
                        "token"
                      ],
                      "type": "object",
                      "properties": {
                        "expiresIn": {
                          "type": "integer",
                          "description": "Token expiry duration in seconds"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token to be used in subsequent requests"
                        }
                      }
                    },
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fetchTokenPayload"
      }
    },
    "/api/v1/bbps/bills/fetch/request": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "description": "Bill fetch request API",
        "operationId": "FetchRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "agent",
                      "biller"
                    ],
                    "type": "object",
                    "properties": {
                      "agent": {
                        "required": [
                          "channel",
                          "id"
                        ],
                        "type": "object",
                        "properties": {
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": [
                              "iOS",
                              "Android"
                            ]
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          },
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "mobile": {
                            "maxLength": 20,
                            "minLength": 6,
                            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                            "type": "string",
                            "description": "Mobile number with 6, 10 and 20 digits are valid.",
                            "example": "9481773053"
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          }
                        }
                      },
                      "biller": {
                        "required": [
                          "id"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "required": [
                      "customer"
                    ],
                    "type": "object",
                    "properties": {
                      "customer": {
                        "allOf": [
                          {
                            "required": [
                              "mobile"
                            ],
                            "type": "object",
                            "properties": {
                              "remitter": {
                                "type": "object",
                                "properties": {
                                  "aadhaar": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "email": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "name": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "pan": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  }
                                }
                              },
                              "mobile": {
                                "maxLength": 20,
                                "minLength": 6,
                                "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                                "type": "string",
                                "description": "Mobile number with 6, 10 and 20 digits are valid.",
                                "example": "9481773053"
                              }
                            }
                          },
                          {
                            "required": [
                              "billParameters"
                            ],
                            "type": "object",
                            "properties": {
                              "billParameters": {
                                "type": "array",
                                "items": {
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of the parameter. This has to match what is sent in fields.",
                                      "example": "Loan Number"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value of the customer parameter",
                                      "example": "1895159"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": [
                            "code",
                            "message"
                          ],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": [
              "bbps:partner"
            ]
          },
          {
            "Sandbox": [
              "bbps:partner"
            ]
          },
          {
            "QA": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillFetchRequest"
      }
    },
    "/api/v1/bbps/bills/fetch/response": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "description": "Bill fetch response API",
        "operationId": "FetchResponse",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "refId"
                ],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "success",
                        "traceId"
                      ],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    },
                    {
                      "required": [
                        "data"
                      ],
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "required": [
                                "refId",
                                "status"
                              ],
                              "type": "object",
                              "properties": {
                                "lastPaidDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true,
                                  "example": "2020-12-12T13:12:00+05:30"
                                },
                                "refId": {
                                  "type": "string",
                                  "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                                },
                                "additionalInfo": {
                                  "type": "array",
                                  "items": {
                                    "required": [
                                      "name",
                                      "value"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "example": "Line item 1"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "Value 1"
                                      }
                                    }
                                  },
                                  "x-go-name": "BillAdditionalInfo"
                                },
                                "billerResponseType": {
                                  "type": "string",
                                  "nullable": true,
                                  "example": "SINGLE",
                                  "enum": [
                                    "SINGLE",
                                    "LIST",
                                    "SELECTIVE"
                                  ],
                                  "x-nullable": true,
                                  "x-omitempty": false
                                },
                                "billerSelectionType": {
                                  "type": "string",
                                  "description": "Defined only for billers with response type as LIST. SINGLE: User can pay only one of the bills in bill fetch response. MULTIPLE: User can pay any combination of bills in bill fetch response. ALL: User has to pay all the bills in bill fetch response.",
                                  "nullable": true,
                                  "example": "SINGLE",
                                  "enum": [
                                    "SINGLE",
                                    "MULTIPLE",
                                    "ALL"
                                  ],
                                  "x-nullable": true,
                                  "x-omitempty": false
                                },
                                "bills": {
                                  "type": "array",
                                  "description": "Multiple bills in case of response from B2B biller",
                                  "items": {
                                    "required": [
                                      "billDate",
                                      "billNumber",
                                      "billPeriod",
                                      "customerName",
                                      "dueDate"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "customerName": {
                                        "type": "string",
                                        "example": "Manoj Chekuri"
                                      },
                                      "dueDate": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2021-09-24"
                                      },
                                      "maxAmount": {
                                        "type": "integer",
                                        "description": "Maximum amount that can be paid for this bill in paise",
                                        "nullable": true,
                                        "x-omitempty": true
                                      },
                                      "amount": {
                                        "type": "integer",
                                        "nullable": true,
                                        "x-omitempty": true
                                      },
                                      "amountMultiple": {
                                        "type": "integer",
                                        "description": "Bill payment amount should be multiple of this value in paise",
                                        "nullable": true,
                                        "x-omitempty": true
                                      },
                                      "billNumber": {
                                        "type": "string",
                                        "example": "1232332"
                                      },
                                      "billPeriod": {
                                        "type": "string",
                                        "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                      },
                                      "billDate": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2021-01-02"
                                      },
                                      "label": {
                                        "type": "string",
                                        "nullable": true,
                                        "example": "Advance EMI",
                                        "x-omitempty": true
                                      },
                                      "minAmount": {
                                        "type": "integer",
                                        "description": "Minimum amount that can be paid for this bill in paise",
                                        "nullable": true,
                                        "x-omitempty": true
                                      },
                                      "paymentOptions": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                          "required": [
                                            "name"
                                          ],
                                          "type": "object",
                                          "properties": {
                                            "minAmount": {
                                              "type": "integer",
                                              "nullable": true,
                                              "x-omitempty": true
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "The display name of the option.",
                                              "example": "2 Months EMI Amount"
                                            },
                                            "amount": {
                                              "type": "integer",
                                              "description": "The amount that can be paid for this option in paise.",
                                              "nullable": true,
                                              "x-omitempty": true
                                            },
                                            "amountMultiple": {
                                              "type": "integer",
                                              "description": "The payment amount should be a multiple of this value in paise.",
                                              "nullable": true,
                                              "x-omitempty": true
                                            },
                                            "maxAmount": {
                                              "type": "integer",
                                              "description": "The maximum amount that can be paid for this option in paise.",
                                              "nullable": true,
                                              "x-omitempty": true
                                            }
                                          },
                                          "x-go-name": "PaymentOption"
                                        },
                                        "x-omitempty": true
                                      }
                                    },
                                    "x-go-name": "BillData"
                                  },
                                  "x-omitempty": true
                                },
                                "billerRefId": {
                                  "type": "string",
                                  "example": "7f16a032e514"
                                },
                                "failureReason": {
                                  "required": [
                                    "code",
                                    "message"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string",
                                      "example": "ERR004"
                                    },
                                    "message": {
                                      "type": "string",
                                      "example": "customer not found"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "FUND_TRANSFER",
                                        "BBPS",
                                        "APP"
                                      ]
                                    }
                                  }
                                },
                                "isCached": {
                                  "type": "boolean",
                                  "nullable": true,
                                  "example": false
                                },
                                "status": {
                                  "type": "string",
                                  "example": "Success",
                                  "enum": [
                                    "Processing",
                                    "Success",
                                    "Failure"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "bill": {
                                  "required": [
                                    "billDate",
                                    "billNumber",
                                    "billPeriod",
                                    "customerName",
                                    "dueDate"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "customerName": {
                                      "type": "string",
                                      "example": "Manoj Chekuri"
                                    },
                                    "dueDate": {
                                      "type": "string",
                                      "format": "date",
                                      "example": "2021-09-24"
                                    },
                                    "maxAmount": {
                                      "type": "integer",
                                      "description": "Maximum amount that can be paid for this bill in paise",
                                      "nullable": true,
                                      "x-omitempty": true
                                    },
                                    "amount": {
                                      "type": "integer",
                                      "nullable": true,
                                      "x-omitempty": true
                                    },
                                    "amountMultiple": {
                                      "type": "integer",
                                      "description": "Bill payment amount should be multiple of this value in paise",
                                      "nullable": true,
                                      "x-omitempty": true
                                    },
                                    "billNumber": {
                                      "type": "string",
                                      "example": "1232332"
                                    },
                                    "billPeriod": {
                                      "type": "string",
                                      "example": "ONETIME|DAILY|WEEKLY|BIMONTHLY|MONTHLY|QUARTERLY|HALFYEARLY|YEARLY|ASPRESENTED"
                                    },
                                    "billDate": {
                                      "type": "string",
                                      "format": "date",
                                      "example": "2021-01-02"
                                    },
                                    "label": {
                                      "type": "string",
                                      "nullable": true,
                                      "example": "Advance EMI",
                                      "x-omitempty": true
                                    },
                                    "minAmount": {
                                      "type": "integer",
                                      "description": "Minimum amount that can be paid for this bill in paise",
                                      "nullable": true,
                                      "x-omitempty": true
                                    },
                                    "paymentOptions": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "required": [
                                          "name"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "minAmount": {
                                            "type": "integer",
                                            "nullable": true,
                                            "x-omitempty": true
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of the option.",
                                            "example": "2 Months EMI Amount"
                                          },
                                          "amount": {
                                            "type": "integer",
                                            "description": "The amount that can be paid for this option in paise.",
                                            "nullable": true,
                                            "x-omitempty": true
                                          },
                                          "amountMultiple": {
                                            "type": "integer",
                                            "description": "The payment amount should be a multiple of this value in paise.",
                                            "nullable": true,
                                            "x-omitempty": true
                                          },
                                          "maxAmount": {
                                            "type": "integer",
                                            "description": "The maximum amount that can be paid for this option in paise.",
                                            "nullable": true,
                                            "x-omitempty": true
                                          }
                                        },
                                        "x-go-name": "PaymentOption"
                                      },
                                      "x-omitempty": true
                                    }
                                  },
                                  "x-go-name": "BillData"
                                },
                                "exactness": {
                                  "type": "string",
                                  "description": "Biller exactness",
                                  "example": "Exact",
                                  "enum": [
                                    "Exact",
                                    "Exact and above",
                                    "Exact and below",
                                    "Any",
                                    "RANGE"
                                  ]
                                },
                                "paymentLimits": {
                                  "type": "array",
                                  "items": {
                                    "required": [
                                      "maxLimit",
                                      "minLimit",
                                      "paymentMode",
                                      "supportsPendingStatus"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "maxLimit": {
                                        "type": "integer"
                                      },
                                      "minLimit": {
                                        "type": "integer"
                                      },
                                      "paymentMode": {
                                        "type": "string",
                                        "example": "Internet Banking",
                                        "enum": [
                                          "Internet Banking",
                                          "Debit Card",
                                          "Credit Card",
                                          "Prepaid Card",
                                          "IMPS",
                                          "Cash",
                                          "UPI",
                                          "Wallet",
                                          "NEFT",
                                          "AEPS",
                                          "Account Transfer",
                                          "Bharat QR",
                                          "USSD"
                                        ]
                                      },
                                      "supportsPendingStatus": {
                                        "type": "boolean",
                                        "example": false
                                      }
                                    }
                                  },
                                  "x-omitempty": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ],
                  "x-go-name": "CouAgentBillFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": [
              "bbps:partner"
            ]
          },
          {
            "Sandbox": [
              "bbps:partner"
            ]
          },
          {
            "QA": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/api/v1/bbps/bills/payment/request": {
      "post": {
        "tags": [
          "Pay"
        ],
        "description": "Bill payment request API",
        "operationId": "PaymentRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "paymentDetails"
                    ],
                    "type": "object",
                    "properties": {
                      "refId": {
                        "type": "string",
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      },
                      "bills": {
                        "uniqueItems": true,
                        "type": "array",
                        "nullable": true,
                        "example": "Selection on bills in case of list billers",
                        "items": {
                          "required": [
                            "amount",
                            "billNumber"
                          ],
                          "type": "object",
                          "properties": {
                            "amount": {
                              "minimum": 1,
                              "type": "integer",
                              "description": "Amount in Paise"
                            },
                            "billNumber": {
                              "type": "string",
                              "example": "B1234567"
                            }
                          },
                          "x-omitempty": true
                        },
                        "x-omitempty": true
                      },
                      "paymentDetails": {
                        "required": [
                          "amount",
                          "mode",
                          "paymentRefId",
                          "timestamp"
                        ],
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2020-12-12T13:12:00+05:30"
                          },
                          "accountInfo": {
                            "maxLength": 50,
                            "minLength": 1,
                            "type": "string"
                          },
                          "amount": {
                            "minimum": 1,
                            "type": "integer",
                            "description": "Amount in Paise"
                          },
                          "currency": {
                            "type": "integer",
                            "nullable": true
                          },
                          "selectedPaymentOptions": {
                            "type": "array",
                            "description": "List of selected payment options",
                            "nullable": true,
                            "items": {
                              "required": [
                                "amount",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the payment option as returned in bill fetch response.",
                                  "example": "Early Payment Amount"
                                },
                                "amount": {
                                  "minimum": 1,
                                  "type": "integer",
                                  "description": "The amount to be paid for the selected payment option."
                                }
                              }
                            },
                            "x-nullable": true,
                            "x-omitempty": true
                          },
                          "COUcustConvFee": {
                            "type": "integer",
                            "nullable": true
                          },
                          "custConvFee": {
                            "type": "integer",
                            "nullable": true
                          },
                          "mode": {
                            "type": "string",
                            "example": "Internet Banking",
                            "enum": [
                              "Internet Banking",
                              "Debit Card",
                              "Credit Card",
                              "Prepaid Card",
                              "IMPS",
                              "Cash",
                              "UPI",
                              "Wallet",
                              "NEFT",
                              "AEPS",
                              "Account Transfer",
                              "Bharat QR",
                              "USSD"
                            ]
                          },
                          "paymentRefId": {
                            "maxLength": 35,
                            "minLength": 6,
                            "type": "string",
                            "example": "BD019181220291"
                          }
                        }
                      },
                      "agent": {
                        "required": [
                          "channel",
                          "id"
                        ],
                        "type": "object",
                        "properties": {
                          "os": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "iOS",
                            "enum": [
                              "iOS",
                              "Android"
                            ]
                          },
                          "postalCode": {
                            "pattern": "^[1-9][0-9]{5}$",
                            "type": "string",
                            "description": "Mandatory if channel is  `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "600001"
                          },
                          "terminalId": {
                            "type": "string",
                            "description": "Mandatory if channel is `ATM`, `AGT`, `KIOSK` and `BSC` . Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "6000011234"
                          },
                          "app": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "SmartPay"
                          },
                          "channel": {
                            "type": "string",
                            "description": "This is the initiating channel.\n1. `AGT`: Offline agent.\n2. `BNKBRNCH`: Bank branch.\n3. `BSC`: Business correspondent\n4. `MOB`: Mobile application\n5. `INT`: Internet portal\n6. `INTB`: Internet banking\n7. `MOBB`: Mobile banking\n8. `ATM`: ATM\n9. `KIOSK`: KIOSK\n",
                            "example": "INT",
                            "enum": [
                              "INT",
                              "INTB",
                              "MOB",
                              "BNKBRNCH",
                              "BSC",
                              "AGT",
                              "KIOSK",
                              "ATM",
                              "MOBB",
                              "POS",
                              "MPOS"
                            ]
                          },
                          "imei": {
                            "type": "string",
                            "description": "Mandatory if channel is `MOB`, `MOBB`. Not required for others.",
                            "example": "123456789012345"
                          },
                          "mac": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "mac",
                            "example": "48-4D-7E-CB-DB-6F"
                          },
                          "mobile": {
                            "maxLength": 20,
                            "minLength": 6,
                            "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                            "type": "string",
                            "description": "Mobile number with 6, 10 and 20 digits are valid.",
                            "example": "9481773053"
                          },
                          "geocode": {
                            "type": "string",
                            "description": "Mandatory if channel is `AGT`, `BSC` and `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "19.0139,72.8254"
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the agent initiating the BBPS transaction.",
                            "example": "AX01AI06512391457204"
                          },
                          "ifsc": {
                            "type": "string",
                            "description": "Mandatory if channel is `BNKBRNCH`. Not required for others. This has to match the data submitted to NPCI for this agent ID\n",
                            "example": "ICIC0000152"
                          },
                          "ip": {
                            "type": "string",
                            "description": "Mandatory if channel is `INT`, `INTB`. Not required for others.",
                            "format": "ipv4",
                            "example": "124.170.23.24"
                          }
                        }
                      },
                      "biller": {
                        "required": [
                          "id"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The biller ID on BBPS",
                            "example": "MAHI00000NATIC"
                          }
                        },
                        "x-go-gen-location": "models",
                        "x-go-name": "BillerDetails"
                      }
                    },
                    "x-omitempty": true
                  },
                  {
                    "type": "object",
                    "properties": {
                      "customer": {
                        "allOf": [
                          {
                            "required": [
                              "mobile"
                            ],
                            "type": "object",
                            "properties": {
                              "remitter": {
                                "type": "object",
                                "properties": {
                                  "aadhaar": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "email": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "name": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "pan": {
                                    "maxLength": 50,
                                    "minLength": 1,
                                    "type": "string"
                                  }
                                }
                              },
                              "mobile": {
                                "maxLength": 20,
                                "minLength": 6,
                                "pattern": "^\\d{6}(\\d{4}(\\d{10})?)?$",
                                "type": "string",
                                "description": "Mobile number with 6, 10 and 20 digits are valid.",
                                "example": "9481773053"
                              }
                            }
                          },
                          {
                            "required": [
                              "billParameters"
                            ],
                            "type": "object",
                            "properties": {
                              "billParameters": {
                                "type": "array",
                                "items": {
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of the parameter. This has to match what is sent in fields.",
                                      "example": "Loan Number"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value of the customer parameter",
                                      "example": "1895159"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentBillPaymentRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "409": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": [
                            "code",
                            "message"
                          ],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": [
                            "code",
                            "message"
                          ],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": [
              "bbps:partner"
            ]
          },
          {
            "Sandbox": [
              "bbps:partner"
            ]
          },
          {
            "QA": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentBillPaymentRequestV1"
      }
    },
    "/api/v1/bbps/bills/payment/response": {
      "post": {
        "tags": [
          "Pay"
        ],
        "description": "Bill payment response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "refId"
                ],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId",
                        "status"
                      ],
                      "type": "object",
                      "properties": {
                        "lastPaidDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "example": "2020-12-12T13:12:00+05:30"
                        },
                        "paymentDetails": {
                          "required": [
                            "amount",
                            "mode",
                            "paymentRefId",
                            "timestamp"
                          ],
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2020-12-12T13:12:00+05:30"
                            },
                            "accountInfo": {
                              "maxLength": 50,
                              "minLength": 1,
                              "type": "string"
                            },
                            "amount": {
                              "minimum": 1,
                              "type": "integer",
                              "description": "Amount in Paise"
                            },
                            "currency": {
                              "type": "integer",
                              "nullable": true
                            },
                            "selectedPaymentOptions": {
                              "type": "array",
                              "description": "List of selected payment options",
                              "nullable": true,
                              "items": {
                                "required": [
                                  "amount",
                                  "name"
                                ],
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the payment option as returned in bill fetch response.",
                                    "example": "Early Payment Amount"
                                  },
                                  "amount": {
                                    "minimum": 1,
                                    "type": "integer",
                                    "description": "The amount to be paid for the selected payment option."
                                  }
                                }
                              },
                              "x-nullable": true,
                              "x-omitempty": true
                            },
                            "COUcustConvFee": {
                              "type": "integer",
                              "nullable": true
                            },
                            "custConvFee": {
                              "type": "integer",
                              "nullable": true
                            },
                            "mode": {
                              "type": "string",
                              "example": "Internet Banking",
                              "enum": [
                                "Internet Banking",
                                "Debit Card",
                                "Credit Card",
                                "Prepaid Card",
                                "IMPS",
                                "Cash",
                                "UPI",
                                "Wallet",
                                "NEFT",
                                "AEPS",
                                "Account Transfer",
                                "Bharat QR",
                                "USSD"
                              ]
                            },
                            "paymentRefId": {
                              "maxLength": 35,
                              "minLength": 6,
                              "type": "string",
                              "example": "BD019181220291"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        },
                        "status": {
                          "type": "string",
                          "example": "Success",
                          "enum": [
                            "Processing",
                            "Success",
                            "Failure"
                          ]
                        },
                        "transactionId": {
                          "type": "string",
                          "example": "AX30910192192192192"
                        },
                        "additionalInfo": {
                          "type": "array",
                          "items": {
                            "required": [
                              "name",
                              "value"
                            ],
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Line item 1"
                              },
                              "value": {
                                "type": "string",
                                "example": "Value 1"
                              }
                            }
                          },
                          "x-go-name": "BillAdditionalInfo"
                        },
                        "billerId": {
                          "type": "string",
                          "description": "The biller ID on BBPS",
                          "example": "MAHI00000NATIC"
                        },
                        "failureReason": {
                          "required": [
                            "code",
                            "message"
                          ],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "ERR004"
                            },
                            "message": {
                              "type": "string",
                              "example": "customer not found"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "FUND_TRANSFER",
                                "BBPS",
                                "APP"
                              ]
                            }
                          }
                        },
                        "billerRefId": {
                          "type": "string",
                          "example": "ZA6291A177"
                        },
                        "bills": {
                          "uniqueItems": true,
                          "type": "array",
                          "nullable": true,
                          "example": "The bills paid in case of list billers",
                          "items": {
                            "required": [
                              "amount",
                              "billNumber"
                            ],
                            "type": "object",
                            "properties": {
                              "amount": {
                                "minimum": 1,
                                "type": "integer",
                                "description": "Amount in Paise"
                              },
                              "billNumber": {
                                "type": "string",
                                "example": "B1234567"
                              }
                            },
                            "x-omitempty": true
                          },
                          "x-omitempty": true
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-go-name": "CouAgentBillPaymentResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": [
              "bbps:partner"
            ]
          },
          {
            "Sandbox": [
              "bbps:partner"
            ]
          },
          {
            "QA": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentAsyncRequest"
      }
    },
    "/api/v1/bbps/bills/complaint/request": {
      "post": {
        "tags": [
          "Dispute"
        ],
        "description": "Raise dispute request API",
        "operationId": "DisputeRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "description",
                      "disputeType"
                    ],
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "Test Transaction Based Complaint"
                      },
                      "disputeType": {
                        "type": "string",
                        "description": "The type of NPCI dispute",
                        "example": "account-not-updated",
                        "enum": [
                          "account-not-updated",
                          "double-payment",
                          "paid-to-wrong-account",
                          "others",
                          "amount-deducted-biller-credited-no-transaction-id",
                          "amount-deducted-biller-not-credited-no-transaction-id",
                          "amount-deducted-multiple-times"
                        ]
                      }
                    }
                  },
                  {
                    "required": [
                      "txnReferenceId"
                    ],
                    "type": "object",
                    "properties": {
                      "txnReferenceId": {
                        "type": "string",
                        "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                      }
                    }
                  }
                ],
                "x-go-name": "CouAgentDisputeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "refId"
                      ],
                      "type": "object",
                      "properties": {
                        "duplicate": {
                          "required": [
                            "code",
                            "message"
                          ],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "refId": {
                          "type": "string",
                          "example": "HENSVVR4QOS7X1UGPY7JGUV444P10102202"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "HENSVVR4QOS7X1UGPY7JGUV444P10461713"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error",
                    "success",
                    "traceId"
                  ],
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "validation-error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Input is invalid"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Production": [
              "bbps:partner"
            ]
          },
          {
            "Sandbox": [
              "bbps:partner"
            ]
          },
          {
            "QA": [
              "bbps:partner"
            ]
          }
        ],
        "x-codegen-request-body-name": "CouAgentDisputeRequest"
      }
    },
    "/api/v1/bbps/bills/complaint/response": {
      "post": {
        "tags": [
          "Dispute"
        ],
        "description": "Raise dispute response API",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "refId"
                ],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "LNMSQQR4RKT7X1UGPY7JGUV454PL9T2C689"
                  }
                },
                "x-go-name": "RefIdBasedRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
[...]
