{
  "openapi": "3.0.1",
  "info": {
    "title": "Setu BBPS BillPay - White label solution",
    "version": "v1",
    "description": "Enable easy BBPS bill payments in your App"
  },
  "servers": [
    {
      "url": "https://coudc.setu.co",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-coudc.setu.co",
      "description": "Sandbox server"
    },
    {
      "url": "https://qa-coudc.setu.co",
      "description": "QA server"
    }
  ],
  "paths": {
    "/api/v2/ethereal/configuration": {
      "get": {
        "tags": ["Link Generation"],
        "description": "Ethereal configuration get request API",
        "operationId": "EtherealConfigurationGetRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-ADMIN-KEY",
            "in": "header",
            "description": "Admin key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["configs", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "configs": {
                      "type": "array",
                      "items": {
                        "required": ["configId", "name", "value"],
                        "type": "object",
                        "properties": {
                          "configId": {
                            "type": "string",
                            "example": "000"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "value": {
                            "type": "string",
                            "example": "#ffa80h"
                          }
                        },
                        "x-go-name": "EtherealOrgConfigurationItem",
                        "x-omitempty": true
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "000"
                    }
                  },
                  "x-go-name": "EtherealConfigurationGetResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      },
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal configuration create request API",
        "operationId": "EtherealConfigurationRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-ADMIN-KEY",
            "in": "header",
            "description": "Admin key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["configs", "orgId"],
                "type": "object",
                "properties": {
                  "configs": {
                    "type": "array",
                    "items": {
                      "required": ["name", "value"],
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The display name of the configuration",
                          "example": "John Doe"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the configuration",
                          "example": "1895159"
                        }
                      }
                    }
                  },
                  "orgId": {
                    "type": "string",
                    "example": "1.22337203685477E14"
                  }
                },
                "x-go-name": "EtherealConfigurationCreateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["result", "traceId"],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "required": ["configId"],
                        "type": "object",
                        "properties": {
                          "configId": {
                            "type": "string",
                            "example": "000"
                          },
                          "success": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      }
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "type": "string",
                      "example": "000"
                    }
                  },
                  "x-go-name": "EtherealConfigurationCreateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealConfigurationCreateRequest"
      }
    },
    "/api/v2/ethereal/saved-bills": {
      "get": {
        "tags": ["Link Generation"],
        "description": "Ethereal saved bills list API",
        "operationId": "EtherealSavedBillsListRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 100.0,
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastPaidAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "lastPaidBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of saved bills",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "bills": {
                              "type": "array",
                              "items": {
                                "required": [
                                  "biller",
                                  "customerParams",
                                  "id",
                                  "isDirectBill",
                                  "lastPaidAt"
                                ],
                                "type": "object",
                                "properties": {
                                  "biller": {
                                    "required": ["categoryName", "id", "name"],
                                    "type": "object",
                                    "properties": {
                                      "categoryName": {
                                        "type": "string",
                                        "example": "Electricity"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "ACNS002901BXYNYU"
                                      },
                                      "logo": {
                                        "type": "string",
                                        "nullable": true,
                                        "example": "https://cou.cdn.setu.co/billers/ACNS002901BXYNYU.webp",
                                        "x-omitempty": true
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                      }
                                    }
                                  },
                                  "customerParams": {
                                    "type": "array",
                                    "description": "The bill params for fetching the bill",
                                    "items": {
                                      "required": ["name", "value"],
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The display name of the parameter. This has to match what is sent in fields.",
                                          "example": "John Doe"
                                        },
                                        "value": {
                                          "type": "string",
                                          "description": "The value of the customer parameter",
                                          "example": "1895159"
                                        }
                                      }
                                    }
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "173999910209831"
                                  },
                                  "isDirectBill": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "lastPaidAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "example": "2024-06-02T00:00:00Z"
                                  }
                                }
                              }
                            },
                            "cursor": {
                              "type": "string",
                              "description": "Cursor for pagination",
                              "example": "MTQ2MDQ4NjU5NzA0MzU1MzgzMw=="
                            }
                          }
                        }
                      }
                    },
                    {
                      "required": ["success", "traceId"],
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicator to denote whether the request is successful.",
                          "example": true
                        },
                        "traceId": {
                          "type": "string",
                          "description": "The traceId generated for the request.",
                          "example": "C3SFG0O6N88R6UI7EQ"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/landing/{orgId}": {
      "get": {
        "tags": ["Link Generation"],
        "description": "Ethereal landing create request API",
        "operationId": "EtherealLandingRequest",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organisation Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Redirect",
            "headers": {
              "Location": {
                "description": "Redirect to WL",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {}
          }
        },
        "security": []
      }
    },
    "/api/v2/qfix/refund": {
      "post": {
        "tags": ["QFIX"],
        "description": "QFIX order status request API",
        "operationId": "QFIXRefundCreateRequest",
        "parameters": [
          {
            "name": "X-ADMIN-KEY",
            "in": "header",
            "description": "Admin key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "1196687215019689511"
                  }
                },
                "x-go-name": "CouQFIXRefundCreateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["status"],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "amount": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "orderId": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "refundId": {
                      "type": "string",
                      "example": "SUCCESS"
                    }
                  },
                  "x-go-name": "CouQFIXRefundCreateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "CouQFIXRefundCreateRequest"
      }
    },
    "/api/v2/short/{shortId}": {
      "get": {
        "tags": ["Link Generation"],
        "description": "Ethereal short link API",
        "operationId": "EtherealShortLinkRequest",
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "description": "Short Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect",
            "headers": {
              "Location": {
                "description": "Redirect to WL",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ethereal/session": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal sesssion validate request API",
        "operationId": "EtherealSessionRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["sessionId"],
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "example": "sessionId"
                  }
                },
                "x-go-name": "EtherealSessionValidateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "description": "key1=value1",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "orgId": {
                      "type": "string",
                      "example": "orgId"
                    },
                    "customerId": {
                      "type": "string",
                      "example": "4881317598"
                    },
                    "isAnonymous": {
                      "type": "boolean",
                      "example": false
                    },
                    "mobileNumber": {
                      "maxLength": 22,
                      "minLength": 6,
                      "pattern": "^\\d{6,22}$",
                      "type": "string",
                      "description": "Mobile number with 6 to 22 digits are valid."
                    },
                    "secret": {
                      "type": "string",
                      "example": "exampleSecret"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "orgConfigs": {
                      "type": "array",
                      "items": {
                        "required": ["configId", "name", "value"],
                        "type": "object",
                        "properties": {
                          "configId": {
                            "type": "string",
                            "example": "000"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "value": {
                            "type": "string",
                            "example": "#ffa80h"
                          }
                        },
                        "x-go-name": "EtherealOrgConfigurationItem",
                        "x-omitempty": true
                      }
                    },
                    "partnerId": {
                      "type": "string",
                      "example": "partnerId"
                    },
                    "redirectTo": {
                      "type": "object",
                      "properties": {
                        "redirectTo": {
                          "type": "string",
                          "example": "9082718673"
                        },
                        "billParams": {
                          "type": "array",
                          "items": {
                            "required": ["name", "value"],
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The display name of the parameter. This has to match what is sent in fields.",
                                "example": "John Doe"
                              },
                              "value": {
                                "type": "string",
                                "description": "The value of the customer parameter",
                                "example": "1895159"
                              }
                            }
                          }
                        },
                        "billerId": {
                          "type": "string",
                          "example": "BBPSDUMMY001"
                        },
                        "categoryName": {
                          "type": "string",
                          "example": "9082718673"
                        }
                      }
                    }
                  },
                  "x-go-name": "EtherealSessionValidateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealSessionValidateRequest"
      }
    },
    "/api/v2/ethereal/link": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal link create request API",
        "operationId": "EtherealLinkRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["orgId"],
                "type": "object",
                "properties": {
                  "custID": {
                    "type": "string",
                    "description": "Customer Identifier",
                    "example": "123456"
                  },
                  "mobileNumber": {
                    "maxLength": 22,
                    "minLength": 6,
                    "pattern": "^\\d{6,22}$",
                    "type": "string",
                    "description": "Mobile number with 6 to 22 digits are valid."
                  },
                  "orgId": {
                    "type": "string",
                    "example": "1.22337203685477E14"
                  },
                  "additionalInfo": {
                    "type": "object",
                    "properties": {},
                    "description": "Additional session information"
                  },
                  "billParams": {
                    "type": "array",
                    "items": {
                      "required": ["name", "value"],
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The display name of the parameter. This has to match what is sent in fields.",
                          "example": "John Doe"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the customer parameter",
                          "example": "1895159"
                        }
                      }
                    }
                  },
                  "billerId": {
                    "type": "string",
                    "example": "BBPSDUMMY001"
                  },
                  "categoryName": {
                    "type": "string",
                    "example": "Water"
                  },
                  "redirectTo": {
                    "type": "string",
                    "example": "transactions",
                    "enum": ["transactions", "disputes"]
                  },
                  "shortLink": {
                    "maxLength": 16,
                    "minLength": 8,
                    "type": "string",
                    "example": "TLxLzmLF"
                  }
                },
                "x-go-name": "EtherealLinkCreateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "example": "link"
                    },
                    "sessionId": {
                      "type": "string",
                      "example": "sessionId"
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "TLxLzmLF"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  },
                  "x-omitempty": true,
                  "x-go-name": "EtherealLinkCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealLinkCreateRequest"
      }
    },
    "/api/v2/ethereal/saved-bills/{billId}": {
      "patch": {
        "tags": ["Link Generation"],
        "description": "Ethereal disable saved bill API",
        "operationId": "EtherealDisableSavedBillRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "billId",
            "in": "path",
            "description": "Bill ID to be disabled",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Disable bill request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "DISABLED",
                    "enum": ["DISABLED"]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Saved bill disabled successfully",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicator to denote whether the request is successful.",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "description": "The traceId generated for the request.",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealDisableSavedBillRequest"
      }
    },
    "/api/v2/ethereal/session/update": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal sesssion update request API",
        "operationId": "EtherealSessionUpdateRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["sessionId"],
                "type": "object",
                "properties": {
                  "additionalInfo": {
                    "type": "object",
                    "properties": {}
                  },
                  "sessionId": {
                    "type": "string",
                    "example": "sessionId"
                  }
                },
                "x-go-name": "EtherealSessionUpdateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "description": "key1=value1",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealSessionUpdateRequest"
      }
    },
    "/api/v2/qfix/order": {
      "post": {
        "tags": ["QFIX"],
        "description": "QFIX order create request API",
        "operationId": "QFIXOrderCreateRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "billerId",
                  "isDirectBill",
                  "orgId",
                  "postPaymentUrl",
                  "sessionId"
                ],
                "type": "object",
                "properties": {
                  "billRefId": {
                    "type": "string",
                    "example": "1196687215019689511"
                  },
                  "custConvFee": {
                    "type": "integer"
                  },
                  "customer": {
                    "required": ["mobile"],
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "nullable": true,
                        "example": "CUSTOMER_ID"
                      },
                      "mobile": {
                        "maxLength": 22,
                        "minLength": 6,
                        "pattern": "^\\d{6,22}$",
                        "type": "string",
                        "description": "Mobile number with 6 to 22 digits are valid."
                      },
                      "params": {
                        "type": "array",
                        "description": "The bill params for fetching the bill",
                        "items": {
                          "required": ["name", "value"],
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The display name of the parameter. This has to match what is sent in fields.",
                              "example": "John Doe"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value of the customer parameter",
                              "example": "1895159"
                            }
                          }
                        }
                      }
                    },
                    "x-go-name": "EtherealCustomer"
                  },
                  "isDirectBill": {
                    "type": "boolean",
                    "example": false
                  },
                  "orgId": {
                    "type": "string",
                    "example": "000"
                  },
                  "sessionId": {
                    "type": "string",
                    "example": "000"
                  },
                  "amount": {
                    "type": "string",
                    "example": "100"
                  },
                  "billerId": {
                    "type": "string",
                    "example": "BBPSDUMMY001"
                  },
                  "postPaymentUrl": {
                    "type": "string",
                    "example": "000"
                  }
                },
                "x-go-name": "CouQFIXOrderCreateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["link", "payload", "refId", "status"],
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "payload": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "refId": {
                      "type": "string",
                      "example": "000"
                    },
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    }
                  },
                  "x-go-name": "CouQFIXOrderCreateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "CouQFIXOrderCreateRequest"
      }
    },
    "/api/v2/qfix/order/status": {
      "post": {
        "tags": ["QFIX"],
        "description": "QFIX order status request API",
        "operationId": "QFIXOrderStatusRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["refId"],
                "type": "object",
                "properties": {
                  "refId": {
                    "type": "string",
                    "example": "1196687215019689511"
                  }
                },
                "x-go-name": "CouQFIXOrderStatusRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["refId", "status"],
                  "type": "object",
                  "properties": {
                    "paymentMode": {
                      "type": "string",
                      "example": "Internet Banking",
                      "enum": [
                        "Internet Banking",
                        "Debit Card",
                        "Credit Card",
                        "Prepaid Card",
                        "IMPS",
                        "Cash",
                        "UPI",
                        "Wallet",
                        "NEFT",
                        "AEPS",
                        "Account Transfer",
                        "Bharat QR",
                        "USSD"
                      ]
                    },
                    "refId": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "amount": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "custConvFee": {
                      "type": "integer"
                    },
                    "failureReason": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    }
                  },
                  "x-go-name": "CouQFIXOrderStatusResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "CouQFIXOrderStatusRequest"
      }
    },
    "/api/v2/ethereal/organisation": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal organisation create request API",
        "operationId": "EtherealOrganisationRequest",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-ADMIN-KEY",
            "in": "header",
            "description": "Admin key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["name"],
                "type": "object",
                "properties": {
                  "agentInsitutionId": {
                    "type": "string",
                    "example": "12345"
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "productInstanceId": {
                    "type": "string",
                    "example": "ab45e3e9-8f7d-48fd-8ebb-0ee6f9e7d2b5"
                  },
                  "accountIdsPath": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ab45e3e9-8f7d-48fd-8ebb-0ee6f9e7d2b5"
                    }
                  }
                },
                "x-go-name": "EtherealOrganisationCreateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "name": {
                      "type": "string",
                      "example": "John Doe"
                    },
                    "orgId": {
                      "type": "string",
                      "example": "123456"
                    }
                  },
                  "x-go-name": "EtherealOrganisationCreateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealOrganisationCreateRequest"
      }
    },
    "/api/v2/ethereal/txn/session": {
      "post": {
        "tags": ["Link Generation"],
        "description": "Ethereal txn sesssion validate request API",
        "operationId": "EtherealTxnSessionRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["sessionId", "sig", "txnRefId"],
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "example": "sessionId"
                  },
                  "sig": {
                    "type": "string"
                  },
                  "txnRefId": {
                    "type": "string",
                    "example": "PP015076BX3VK1HF1111"
                  }
                },
                "x-go-name": "EtherealTxnSessionValidateRequest",
                "x-omitempty": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Frame-Options": {
                "description": "X Frame options",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "description": "Strict transport security",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "X Content type options",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "Content security policy",
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "description": "key1=value1",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Pragma",
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "description": "X Xss Protection",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": ["success", "traceId"],
                  "type": "object",
                  "properties": {
                    "orgId": {
                      "type": "string",
                      "example": "orgId"
                    },
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "amount": {
                      "type": "string",
                      "example": "secret"
                    },
                    "billRefId": {
                      "type": "string",
                      "example": "billRefId"
                    },
                    "billerId": {
                      "type": "string",
                      "example": "BBPSDUMMY001"
                    },
                    "customer": {
                      "allOf": [
                        {
                          "required": ["mobile"],
                          "type": "object",
                          "properties": {
                            "customerId": {
                              "type": "string",
                              "description": "Customer Identifier",
                              "example": "4881317598"
                            },
                            "mobile": {
                              "maxLength": 22,
                              "minLength": 6,
                              "pattern": "^\\d{6,22}$",
                              "type": "string",
                              "description": "Mobile number with 6 to 22 digits are valid."
                            }
                          }
                        },
                        {
                          "required": ["customerParams"],
                          "type": "object",
                          "properties": {
                            "customerParams": {
                              "type": "array",
                              "description": "The bill params for fetching the bill",
                              "items": {
                                "required": ["name", "value"],
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The display name of the parameter. This has to match what is sent in fields.",
                                    "example": "John Doe"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "The value of the customer parameter",
                                    "example": "1895159"
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "orgConfigs": {
                      "type": "array",
                      "items": {
                        "required": ["configId", "name", "value"],
                        "type": "object",
                        "properties": {
                          "configId": {
                            "type": "string",
                            "example": "000"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "value": {
                            "type": "string",
                            "example": "#ffa80h"
                          }
                        },
                        "x-go-name": "EtherealOrgConfigurationItem",
                        "x-omitempty": true
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "example": "4881317598"
                    },
                    "mobileNumber": {
                      "maxLength": 22,
                      "minLength": 6,
                      "pattern": "^\\d{6,22}$",
                      "type": "string",
                      "description": "Mobile number with 6 to 22 digits are valid."
                    },
                    "partnerId": {
                      "type": "string",
                      "example": "partnerId"
                    },
                    "secret": {
                      "type": "string",
                      "example": "exampleSecret"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "x-go-name": "EtherealTxnSessionValidateResponse",
                  "x-omitempty": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error", "success", "traceId"],
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "C3SFG0O6N88R6UI7EQ"
                    },
                    "error": {
                      "required": ["code", "message"],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "error-code-if-any"
                        },
                        "message": {
                          "type": "string",
                          "example": "error-message-if-any"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-codegen-request-body-name": "EtherealTxnSessionValidateRequest"
      }
    },
    "/api/v2/webhooks/payment-event": {
      "post": {
        "tags": ["Custom Payment Webhook"],
        "description": "Custom payment webhook API",
        "operationId": "CouCustomPaymentWebhook",
        "parameters": [
          {
            "name": "X-PARTNER-ID",
            "in": "header",
            "description": "Partner ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "orderId",
                  "paymentDateTime",
                  "paymentMode",
                  "paymentStatus",
                  "transactionId"
                ],
                "type": "object",
                "properties": {
                  "failureReason": {
                    "required": ["code", "message"],
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "error-code-if-any"
                      },
                      "message": {
                        "type": "string",
                        "example": "error-message-if-any"
                      }
                    }
                  },
                  "orderId": {
                    "type": "string",
                    "example": "COUWLab1C2dDe5F6g"
                  },
[...]
