{
    "openapi": "3.0.0",
    "info": {
        "title": "Setu FD APIs",
        "description": "Setu’s standardised Fixed Deposit APIs work across multiple banks and NBFC and are designed for anyone looking to offer a complete FD booking & management service to their customers. Here’s what a user can expect to do\n* Calculate returns against FDs\n* Check FD offers\n* Apply and fill in details\n* Transfer funds and get notified on payment\n* Manage FD with statements, raise service requests.\nWe continue to add more functionality to build a full spectrum of deposits services, like offering a recurring deposit product and more.\n\n## Definitions\n### Provider\nThe bank or NBFC providing FD booking & management services. See  [GET FD Providers API](https://postman.setu.co/#3ca01767-2151-413a-ad5d-eb001359437a)\n### Offer\n- A template for an Application. Each offer has a set of required inputs to successfully complete an application. It also specifies lower and upper bounds for tenures or principal amounts, with an associated interest rate. See the  [GET FD Offers API](https://postman.setu.co/#a51d529e-396e-4b45-b410-8ae724e1bfc3)\n- Naming of offers follow `<BANK>_<TYPE>_<OFFER_NO>` format. Here `BANK` is bank/provider code(`EQTS`, `UJVN`, `BAJAJ`), `TYPE` reffers to `REG`(Regular)/`SNR`(Senior Citizen). e.g., `EQTS_REG_01`, `EQTS_SNR_01`, `UJVN_REG_01`\n- You can change which bank FD you want to book by updating `deposit_offer_id` in Create Application (`POST /application`) API call.\n    - To book an Equitas FD use offers prefixed with `EQTS` e.g., `EQTS_REG_01`, `EQTS_SNR_01`\n    - To book an Ujjivan FD use offers prefixed with `UJVN` e.g., `UJVN_REG_01`, `UJVN_SNR_01`\n\n\n### Application\nUse a specified `offer` to get required inputs for an application. Use the `applicationID`  (provided at the time of creating application) to use it to  [GET Application Status](https://postman.setu.co/#19b40b4c-c629-4f56-9b50-3fc041e38d53)  or  [PATCH Application to update application inputs](https://postman.setu.co/#36350512-7ca5-4e7c-888d-9b6172a553b9)\n### Account\nOnce an *Application* is complete, an *Account* is created -> Remember to save the *Customer object* in creation response. Or call the  [GET Account status API](https://postman.setu.co/#5eead449-e0ea-4f97-8d0f-e760adcbbeed).\nTo summarise, a *Provider* offers multiple *Offers*. An *Offer* is used as a template to create an *Application*.  The *Application* is filled up with fields as specified in the *Offer* . Once complete and paid for, the *Application* is used to create an *Account* .\n\n\n### We have 3 categories of APIs\n1. [Peripheral APIs](https://postman.setu.co/#cb4551f1-d642-42ad-9d2d-cdda455a142d)\n2. [FD Booking APIs](https://postman.setu.co/#f9531285-e9c1-47ca-80c8-eddbb1c52270)\n3. [FD Management APIs](https://postman.setu.co/#2e7a942b-cfb2-4768-88a9-220e594a25fd)\n\n### Authorization\nPlease use below Curl to obtain Bearer token, which needs to be embedded in Authorization header.\n```sh\ncurl --request POST 'https://auth-dev.setu.co/auth/realms/fd/protocol/openid-connect/token' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'client_secret=5cfa9293-6697-4ee3-aae8-8a6837f026e8' \\\n--data-urlencode 'grant_type=client_credentials' \\\n--data-urlencode 'client_id=dummy-id'\n```\n\n### Bank Specific APIs:\nTo book an FD, normally you need to call Setu-FD APIs in a chronological order.\nBut not every bank/provider follow the standard API call flow, for example you don't need to `Generate OTP` for mobile number while booking an Ujjivan FD. In these scenarios, you can skip calling API's which are not applicable to particular banks. \nTo figure out if an API is applicable for a Certain Bank/Provider or if there's a need to change set of params in default API request, check out `Applicable Providers` section in each APIs documentation.",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://deposits-sandbox.setu.co:3002/deposits/v1",
            "variables": {}
        }
    ],
    "paths": {
        "/calculator": {
            "get": {
                "tags": ["FD - Peripheral APIs"],
                "summary": "FD Calculator",
                "description": "### Description\nGet expected returns for an FD with a given provider, for a given amount & tenure.\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)",
                "operationId": "FDCalculator",
                "parameters": [
                    {
                        "name": "provider",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "UJVN"
                        }
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "Amount to be deposited ( in Rupees)",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 9000
                        }
                    },
                    {
                        "name": "tenure",
                        "in": "query",
                        "description": "Deposit tenure ( in days )",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 10
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "category code (eg: SENIOR_CITIZEN)",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "REGULAR"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Example1"
                                },
                                "example": {
                                    "provider": {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    },
                                    "principalAmount": 9000.0,
                                    "maturityAmount": 9012.0,
                                    "interestAccrued": 12.0,
                                    "interestRate": 5.0
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/providers": {
            "get": {
                "tags": ["FD - Peripheral APIs"],
                "summary": "Providers",
                "description": "Get a list of all FD providers (Banks/NBFCs) currently integrated with Setu.",
                "operationId": "Providers",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Provider"
                                    },
                                    "description": "",
                                    "example": [
                                        {
                                            "id": "EQTS",
                                            "name": "Equitas Small Finance Bank",
                                            "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                        }
                                    ]
                                },
                                "example": [
                                    {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/offers": {
            "get": {
                "tags": ["FD - Peripheral APIs"],
                "summary": "Offers",
                "description": "List of all **Offers** from supported FD **Providers**. \n\nYou can use the query filters to \n* filter offers from a given provider only.\n* filter offers meant for senior citizens only ( or regular only)\n* filter offers having interest rates within your desired range.\n* filter offers having the allowed principal amounts within your desired range.\n\nIf you're interested to [Create an Application](https://postman.setu.co/#f574c776-dc92-4362-9b7d-525a89c8496e) using a given **offer**, remember to note down the offerID (eg: \"EQTS_REG_01\"). Also remember to lookup the `expectedParams` of the Offer while filling in the required fields for the **Application**",
                "operationId": "Offers",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ListalloffersfromEquitasSmallFinanceBankforSeniorCitizenswithinterestrateatleast7"
                                    },
                                    "description": "",
                                    "example": [
                                        {
                                            "id": "EQTS_SNR_07",
                                            "provider": {
                                                "id": "EQTS",
                                                "name": "Equitas Small Finance Bank",
                                                "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                            },
                                            "category": "SENIOR_CITIZEN",
                                            "amount": {
                                                "min": 5000,
                                                "max": 5000
                                            },
                                            "tenure": {
                                                "min": 271,
                                                "max": 364
                                            },
                                            "interest": {
                                                "payoutFrequency": "NONE",
                                                "rate": 7.2
                                            },
                                            "prematureWithdrawal": {
                                                "penalty": {
                                                    "value": 1,
                                                    "unit": "PERCENTAGE"
                                                },
                                                "isAllowed": 1
                                            },
                                            "expectedParams": {
                                                "kyc": [
                                                    {
                                                        "name": "aadhaar",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "pan",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "mobile",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "email",
                                                        "required": true
                                                    }
                                                ],
                                                "personal": [
                                                    {
                                                        "name": "mobile",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "fathersName",
                                                        "required": true,
                                                        "maxLength": 30
                                                    },
                                                    {
                                                        "name": "mothersName",
                                                        "required": true,
                                                        "maxLength": 30
                                                    },
                                                    {
                                                        "name": "cityOfBirth",
                                                        "required": true,
                                                        "maxLength": 20
                                                    },
                                                    {
                                                        "name": "countryOfBirth",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "qualification",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "occupation",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "designation",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "maritalStatus",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "incomeGroup",
                                                        "required": true
                                                    }
                                                ],
                                                "nominee": [
                                                    {
                                                        "name": "skipNominee",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "relationship",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "isSameAsCustomerAddress",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "dob",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "email",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "pinCode",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "city",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "address",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "addressType",
                                                        "required": true
                                                    }
                                                ],
                                                "declarations": [
                                                    {
                                                        "name": "aadhaar",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "fatca",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "fundFromOwnAccount",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "maturityAutoTransfer",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "pep",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "tnc",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": "EQTS_SNR_08",
                                            "provider": {
                                                "id": "EQTS",
                                                "name": "Equitas Small Finance Bank",
                                                "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                            },
                                            "category": "SENIOR_CITIZEN",
                                            "amount": {
                                                "min": 5000,
                                                "max": 5000
                                            },
                                            "tenure": {
                                                "min": 365,
                                                "max": 365
                                            },
                                            "interest": {
                                                "payoutFrequency": "NONE",
                                                "rate": 7.7
                                            },
                                            "prematureWithdrawal": {
                                                "penalty": {
                                                    "value": 1,
                                                    "unit": "PERCENTAGE"
                                                },
                                                "isAllowed": 1
                                            },
                                            "expectedParams": {
                                                "kyc": [
                                                    {
                                                        "name": "aadhaar",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "pan",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "mobile",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "email",
                                                        "required": true
                                                    }
                                                ],
                                                "personal": [
                                                    {
                                                        "name": "mobile",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "fathersName",
                                                        "required": true,
                                                        "maxLength": 30
                                                    },
                                                    {
                                                        "name": "mothersName",
                                                        "required": true,
                                                        "maxLength": 30
                                                    },
                                                    {
                                                        "name": "cityOfBirth",
                                                        "required": true,
                                                        "maxLength": 20
                                                    },
                                                    {
                                                        "name": "countryOfBirth",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "qualification",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "occupation",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "designation",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "maritalStatus",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "incomeGroup",
                                                        "required": true
                                                    }
                                                ],
                                                "nominee": [
                                                    {
                                                        "name": "skipNominee",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "relationship",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "isSameAsCustomerAddress",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "dob",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "email",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "pinCode",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "city",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "address",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "addressType",
                                                        "required": true
                                                    }
                                                ],
                                                "declarations": [
                                                    {
                                                        "name": "aadhaar",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "fatca",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "fundFromOwnAccount",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "maturityAutoTransfer",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "pep",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "tnc",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                "example": [
                                    {
                                        "id": "EQTS_SNR_07",
                                        "provider": {
                                            "id": "EQTS",
                                            "name": "Equitas Small Finance Bank",
                                            "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                        },
                                        "category": "SENIOR_CITIZEN",
                                        "amount": {
                                            "min": 5000,
                                            "max": 5000
                                        },
                                        "tenure": {
                                            "min": 271,
                                            "max": 364
                                        },
                                        "interest": {
                                            "payoutFrequency": "NONE",
                                            "rate": 7.2
                                        },
                                        "prematureWithdrawal": {
                                            "penalty": {
                                                "value": 1,
                                                "unit": "PERCENTAGE"
                                            },
                                            "isAllowed": 1
                                        },
                                        "expectedParams": {
                                            "kyc": [
                                                {
                                                    "name": "aadhaar",
                                                    "required": true
                                                },
                                                {
                                                    "name": "pan",
                                                    "required": true
                                                },
                                                {
                                                    "name": "mobile",
                                                    "required": true
                                                },
                                                {
                                                    "name": "email",
                                                    "required": true
                                                }
                                            ],
                                            "personal": [
                                                {
                                                    "name": "mobile",
                                                    "required": true
                                                },
                                                {
                                                    "name": "fathersName",
                                                    "required": true,
                                                    "maxLength": 30
                                                },
                                                {
                                                    "name": "mothersName",
                                                    "required": true,
                                                    "maxLength": 30
                                                },
                                                {
                                                    "name": "cityOfBirth",
                                                    "required": true,
                                                    "maxLength": 20
                                                },
                                                {
                                                    "name": "countryOfBirth",
                                                    "required": true
                                                },
                                                {
                                                    "name": "qualification",
                                                    "required": true
                                                },
                                                {
                                                    "name": "occupation",
                                                    "required": true
                                                },
                                                {
                                                    "name": "designation",
                                                    "required": true
                                                },
                                                {
                                                    "name": "maritalStatus",
                                                    "required": true
                                                },
                                                {
                                                    "name": "incomeGroup",
                                                    "required": true
                                                }
                                            ],
                                            "nominee": [
                                                {
                                                    "name": "skipNominee",
                                                    "required": true
                                                },
                                                {
                                                    "name": "relationship",
                                                    "required": true
                                                },
                                                {
                                                    "name": "isSameAsCustomerAddress",
                                                    "required": true
                                                },
                                                {
                                                    "name": "name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "dob",
                                                    "required": true
                                                },
                                                {
                                                    "name": "email",
                                                    "required": true
                                                },
                                                {
                                                    "name": "pinCode",
                                                    "required": true
                                                },
                                                {
                                                    "name": "city",
                                                    "required": true
                                                },
                                                {
                                                    "name": "address",
                                                    "required": true
                                                },
                                                {
                                                    "name": "addressType",
                                                    "required": true
                                                }
                                            ],
                                            "declarations": [
                                                {
                                                    "name": "aadhaar",
                                                    "required": true
                                                },
                                                {
                                                    "name": "fatca",
                                                    "required": true
                                                },
                                                {
                                                    "name": "fundFromOwnAccount",
                                                    "required": true
                                                },
                                                {
                                                    "name": "maturityAutoTransfer",
                                                    "required": true
                                                },
                                                {
                                                    "name": "pep",
                                                    "required": true
                                                },
                                                {
                                                    "name": "tnc",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": "EQTS_SNR_08",
                                        "provider": {
                                            "id": "EQTS",
                                            "name": "Equitas Small Finance Bank",
                                            "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                        },
                                        "category": "SENIOR_CITIZEN",
                                        "amount": {
                                            "min": 5000,
                                            "max": 5000
                                        },
                                        "tenure": {
                                            "min": 365,
                                            "max": 365
                                        },
                                        "interest": {
                                            "payoutFrequency": "NONE",
                                            "rate": 7.7
                                        },
                                        "prematureWithdrawal": {
                                            "penalty": {
                                                "value": 1,
                                                "unit": "PERCENTAGE"
                                            },
                                            "isAllowed": 1
                                        },
                                        "expectedParams": {
                                            "kyc": [
                                                {
                                                    "name": "aadhaar",
                                                    "required": true
                                                },
                                                {
                                                    "name": "pan",
                                                    "required": true
                                                },
                                                {
                                                    "name": "mobile",
                                                    "required": true
                                                },
                                                {
                                                    "name": "email",
                                                    "required": true
                                                }
                                            ],
                                            "personal": [
                                                {
                                                    "name": "mobile",
                                                    "required": true
                                                },
                                                {
                                                    "name": "fathersName",
                                                    "required": true,
                                                    "maxLength": 30
                                                },
                                                {
                                                    "name": "mothersName",
                                                    "required": true,
                                                    "maxLength": 30
                                                },
                                                {
                                                    "name": "cityOfBirth",
                                                    "required": true,
                                                    "maxLength": 20
                                                },
                                                {
                                                    "name": "countryOfBirth",
                                                    "required": true
                                                },
                                                {
                                                    "name": "qualification",
                                                    "required": true
                                                },
                                                {
                                                    "name": "occupation",
                                                    "required": true
                                                },
                                                {
                                                    "name": "designation",
                                                    "required": true
                                                },
                                                {
                                                    "name": "maritalStatus",
                                                    "required": true
                                                },
                                                {
                                                    "name": "incomeGroup",
                                                    "required": true
                                                }
                                            ],
                                            "nominee": [
                                                {
                                                    "name": "skipNominee",
                                                    "required": true
                                                },
                                                {
                                                    "name": "relationship",
                                                    "required": true
                                                },
                                                {
                                                    "name": "isSameAsCustomerAddress",
                                                    "required": true
                                                },
                                                {
                                                    "name": "name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "dob",
                                                    "required": true
                                                },
                                                {
                                                    "name": "email",
                                                    "required": true
                                                },
                                                {
                                                    "name": "pinCode",
                                                    "required": true
                                                },
                                                {
                                                    "name": "city",
                                                    "required": true
                                                },
                                                {
                                                    "name": "address",
                                                    "required": true
                                                },
                                                {
                                                    "name": "addressType",
                                                    "required": true
                                                }
                                            ],
                                            "declarations": [
                                                {
                                                    "name": "aadhaar",
                                                    "required": true
                                                },
                                                {
                                                    "name": "fatca",
                                                    "required": true
                                                },
                                                {
                                                    "name": "fundFromOwnAccount",
                                                    "required": true
                                                },
                                                {
                                                    "name": "maturityAutoTransfer",
                                                    "required": true
                                                },
                                                {
                                                    "name": "pep",
                                                    "required": true
                                                },
                                                {
                                                    "name": "tnc",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/param/address_type": {
            "get": {
                "tags": ["FD - Peripheral APIs"],
                "summary": "Get Parameter Options",
                "description": "While filling out the **Application**, certain fields like _occupation_ , _designation_, _marital_status_, ... need to be passed. The values of these fields needs to be one among the available options. This API tells you what those options are.\n\nEvery option has a **key** and a **value**. You need to pass the **key**s while filling the Application, and you may use the value for display purposes.",
                "operationId": "GetParameterOptions",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getoptionsforoccupationfield"
                                },
                                "example": {
                                    "param": "occupation",
                                    "options": [
                                        {
                                            "key": "SALARIED",
                                            "value": "Salaried"
                                        },
                                        {
                                            "key": "PROFESSIONAL",
                                            "value": "Professional"
                                        },
                                        {
                                            "key": "SELF_EMPLOYED",
                                            "value": "Self-Employed"
                                        },
                                        {
                                            "key": "UNEMPLOYED",
                                            "value": "Unemployed"
                                        },
                                        {
                                            "key": "STUDENT",
                                            "value": "Student"
                                        },
                                        {
                                            "key": "HOUSEWIFE",
                                            "value": "Housewife"
                                        },
                                        {
                                            "key": "RETIRED",
                                            "value": "Retired"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/tnc": {
            "get": {
                "tags": ["FD - Peripheral APIs"],
                "summary": "TNC",
                "description": "Get description of terms and conditions in plain text.",
                "operationId": "TNC",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TNC"
                                },
                                "example": {
                                    "FATCA": [
                                        "I agree and I hereby declare that I am a tax resident of India above the age of 18 years, and hereby comply with FATCA Declaration."
                                    ],
                                    "PEP": [""],
                                    "TNC": [
                                        "Opening this FD account online through your digital platform has no intervention or role of the Bank except providing the facility of the digital platform. The initial payment for the account shall be remitted only from a full KYC complied account.",
                                        "The basis of the account opening is my Aadhaar Card.",
                                        "I agree and hereby authorise Equitas Small Finance Bank to fetch my/our personal details using OTP. Aadhaar E - KYC which wil be used for KYC purposes. My personal details are being drawn from the database maintained by UIDAI based on the Aadhaar number provided by me. Bank is not responsible for any incorrect information that may appear in the data provided by me.",
                                        "The opening of the account will be confirmed only after I enter the OTP number received to my mobile number linked to and available in Aadhaar database.",
                                        "As the details are drawn from UIDAI data base, they cannot be modified or altered by me.",
                                        "I am solely responsible for the data made available for opening the account.",
                                        "The data may be lost or get distorted during transmission and I shall not make the Bank liable or responsible for the same",
                                        "Since the opening of the account is through digital platform, there could arise technical fault or error during the opening of the account, which is beyond the control of the Bank and the Bank is not responsible for any loss in this regard.",
                                        "In an event of mismatch in Aadhaar Details and PAN, I acknowledge that the Bank has the right to reject my application and refund my amount.",
                                        "If the KYC documents as specified by the Bank is not furnished withing 12 months, the account would be closed immediately with / without any reference to me.",
                                        "Till such time, I present the personal details for verification, there shall be restrictions on credits and debits in the account as per the guidelines issued by the RBI, which, as on date, restricts me from holding aggregate credit balance of more than Rs.1 lakh in all the accounts held with Equitas Small Finance Bank and cumulative credit transaction carried out by me would not exceed Rs.2 lakhs in a financial year. The account would be totally frozen until 12 months from date of account opening in case of breach of limits specified by RBI. The account could be operated only when the KYC documents as specified by Bank is furnished. ",
                                        "I am also aware that if the verification has not been done by me even beyond the 12 month period, Bank reserves the right to close the account without any reference to me and I will have to visit the branch for withdrawing the funds by providing valid documents as specified by the Bank. I shall not have any claim or dispute with the Bank for any loss that may result to me in this regard as it is solely attributable to me.",
                                        "I am aware that I will be eligible only for a term loan, the aggregate of which, shall not exceed Rs. 60, 000 / -",
                                        "Till I furnish the KYC details in person to your branch for verification, I am not entitled to debit card or POS machine transactions at any commercial outlets. If applicable.",
                                        "Till I present the KYC details in person to your branch for verification, I am not allowed to carry out any transactions at the branch, furthur, I am not entitled to cheque, cash, NEFT, RTGS and IMPS transactions through branch. However I am permitted to carry out online / digital transactions through Net banking / Mobile banking. If applicable.",
                                        "Premature closure/Redemption proceeds will be sent to the details provided by me/us at the time of opening of the FD, in case the account is closed/inactive and the money is returned, bank will not be responsible for the loss of interest/principal / damages as the case may be.",
                                        "I declare that no other account has been opened nor will be opened using OTP based Aadhaar e-KYC within the same Bank or with any other bank.",
                                        "I am aware that the link for opening Selfe Account uses cookies to ensure best experience.",
                                        "I agree that this and such account will be subject to regular scrutiny and monitoring from the bank and bank shall have the right to place the account under total freeze/debit freeze/close the account at its sole discretion, in case of suspicious transactions or transactions not consistent with RBI guidelines relating to the account.",
                                        "I do agree to all the general Terms & Conditions which can be accessed at https://www.equitasbank.com/pdf/Terms-conditions/pdf"
                                    ],
                                    "AADHAAR": [""],
                                    "MATURITY_AUTO_TRANSFER": [""],
                                    "FUND_FROM_OWN_ACCOUNT": [""]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application": {
            "post": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Create Application",
                "description": "### Description\nCreate an **Application** using an **Offer** as a _template_ .\n\n### Input\n* offerId: ID of the **Offer**\n* amount : principal amount (in Rupees)\n* tenure : deposit tenure (in days)\n* isExisting : NTB/ETB (boolean)\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)\n### Output\nApplication object",
                "operationId": "CreateApplication",
                "parameters": [],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApplicationRequest"
                            },
                            "example": {
                                "amount": 9000,
                                "offerId": "{{deposit_offer_id}}",
                                "tenure": 365,
                                "isExisting": false
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateApplication"
                                },
                                "example": {
                                    "id": "ec164d44-b275-4b78-9a56-31fd2f6145d3",
                                    "offerId": "EQTS_REG_01",
                                    "state": {
                                        "code": "AWT_GENERATE_VERIFY_OTP",
                                        "description": {}
                                    },
                                    "provider": {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    },
                                    "tenure": 10,
                                    "amount": 9000,
                                    "interest": {
                                        "payoutFrequency": "NONE",
                                        "rate": 3.6
                                    },
                                    "params": {
                                        "kyc": {},
                                        "personal": {},
                                        "nominee": {},
                                        "declarations": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}": {
            "get": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Get Application Status",
                "description": "### Description\nGet the **Application** Status. `state code` specifies the stage of the **Application** in the FD booking process. `state description` provides more contextual data (if any) of the state.\n\n### Input\n* applicationID ( in URL )\n\n### Output\n**Application** object\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)",
                "operationId": "GetApplicationStatus",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationstatejustafterSMSverification"
                                },
                                "example": {
                                    "id": "ec164d44-b275-4b78-9a56-31fd2f6145d3",
                                    "offerId": "EQTS_REG_01",
                                    "state": {
                                        "code": "AWT_KYC_INPUT",
                                        "description": {
                                            "awaiting": [
                                                "pan",
                                                "email",
                                                "mobile"
                                            ]
                                        }
                                    },
                                    "provider": {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    },
                                    "tenure": 10,
                                    "amount": 9000,
                                    "interest": {
                                        "payoutFrequency": "NONE",
                                        "rate": 3.6
                                    },
                                    "params": {
                                        "kyc": {},
                                        "personal": {
                                            "mobile": "919483895729"
                                        },
                                        "nominee": {},
                                        "declarations": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Update Application Parameters",
                "description": "### Description\nAPI to \"fill\" or PATCH the application with required KYC fields.\n\n### Input\nlookup the `kyc` section under `expectedParams` in the associated **Offer** .\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)\n### Output\n**Application** object\n\n### Notes\n* This API should be called when the **Application** state code is `AWT_KYC_INPUT`\n* Though `aadhaar` is also listed under `kyc` section of `expectedParams` in the associated **Offer**, we dont expect aadhaar in this API call. Instead, route the user to a given webpage to complete his KYC. Check the next API [Give Aadhaar Consent](https://postman.setu.co/#9b3a591f-deec-4cdd-ba43-1f8cc36d2fa8) for more details.\n* In case of BAJAJ, aadhaar based kyc is not supported, instead we do a ckyc.",
                "operationId": "UpdateKYCParameters",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateKYCParametersRequest"
                            },
                            "example": {
                                "params": {
                                    "kyc": {
                                        "mobile": "919404746750",
                                        "pan": "AGXPM3070D",
                                        "email": "test@setu.co"
                                    },
                                    "declarations": {
                                        "fundFromOwnAccount": "accepted",
                                        "maturityAutoTransfer": "accepted",
                                        "fatca": "accepted",
                                        "pep": "accepted",
                                        "tnc": "accepted",
                                        "aadhaar": "accepted"
                                    },
                                    "personal": {
                                        "fathersName": "randomFather",
                                        "mothersName": "randomMother",
                                        "occupation": "SALARIED",
                                        "designation": "SALARIED",
                                        "qualification": "UNDER_GRADUATE",
                                        "maritalStatus": "SINGLE",
                                        "incomeGroup": "LIGHT_INCOME_GROUP_1",
                                        "cityOfBirth": "New Delhiiiiiiiiii",
                                        "countryOfBirth": "INDIA",
                                        "mobile": "919404746750"
                                    },
                                    "nominee": {
                                        "skipNominee": false,
                                        "name": "test",
                                        "dob": "1991-12-01",
                                        "email": "test@setu.co",
                                        "relationship": "FATHER",
                                        "isSameAsCustomerAddress": "false",
                                        "pinCode": "341506",
                                        "city": "JHAROD",
                                        "address": "asdashghjg",
                                        "addressType": "PERMANENT_ADDRESS"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateKYCParameters"
                                },
                                "example": {
                                    "id": "ec164d44-b275-4b78-9a56-31fd2f6145d3",
                                    "offerId": "EQTS_REG_01",
                                    "state": {
                                        "code": "AWT_AADHAAR_CONSENT",
                                        "description": {
                                            "awaiting": ["aadhaar"]
                                        }
                                    },
                                    "provider": {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    },
                                    "tenure": 10,
                                    "amount": 9000,
                                    "interest": {
                                        "payoutFrequency": "NONE",
                                        "rate": 3.6
                                    },
                                    "params": {
                                        "kyc": {
                                            "mobile": "919404746750",
                                            "pan": "AGXPM3070D",
                                            "email": "test@setu.co"
                                        },
                                        "declarations": {
                                            "fundFromOwnAccount": "accepted",
                                            "maturityAutoTransfer": "accepted",
                                            "fatca": "accepted",
                                            "pep": "accepted",
                                            "tnc": "accepted",
                                            "aadhaar": "accepted"
                                        },
                                        "personal": {
                                            "fathersName": "randomFather",
                                            "mothersName": "randomMother",
                                            "occupation": "SALARIED",
                                            "designation": "SALARIED",
                                            "qualification": "UNDER_GRADUATE",
                                            "maritalStatus": "SINGLE",
                                            "incomeGroup": "LIGHT_INCOME_GROUP_1",
                                            "cityOfBirth": "New Delhiiiiiiiiii",
                                            "countryOfBirth": "INDIA",
                                            "mobile": "919404746750"
                                        },
                                        "nominee": {
                                            "skipNominee": false,
                                            "name": "test",
                                            "dob": "1991-12-01",
                                            "email": "test@setu.co",
                                            "relationship": "FATHER",
                                            "isSameAsCustomerAddress": "false",
                                            "pinCode": "341506",
                                            "city": "JHAROD",
                                            "address": "asdashghjg",
                                            "addressType": "PERMANENT_ADDRESS"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/generate-otp": {
            "post": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Generate OTP",
                "description": "### Description\nUsers need to be authenticated(via SMS OTP) before proceeding with the Application process.\nThis API sends the SMS to the given mobile number.\n\nAs a next step, call the [Verify OTP API](https://postman.setu.co/#ba2929b1-bcee-4d66-bb4f-b667bbeadf35) \n\n### Input\n* mobile : \"91\" prefixed mobile number\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)\n\n### Output\nSuccess/Failure message\n\n### Notes\nThis API can only be called when **Application**'s state code is `AWT_GENERATE_VERIFY_OTP`",
                "operationId": "GenerateOTP",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateOTPRequest"
                            },
                            "example": {
                                "mobile": "919404746750"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenerateOTP"
                                },
                                "example": {
                                    "message": "OTP Send Successfully to 919483895719"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/verify-otp": {
            "post": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Verify OTP",
                "description": "### Description\nUsers need to be authenticated(via SMS OTP) before proceeding with the Application process.\nThis API verifies the OTP sent by [Generate OTP API](https://postman.setu.co/#699c3727-7ef7-4d5f-99e4-41cdf81bf1a6)\n\n### Input\n* mobile : \"91\" prefixed mobile number (string)\n* otp    : 6 digit otp (string)\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)\n\n### Output\nSuccess/Failure message\n\n### Notes\nThis API can only be called when **Application**'s state code is `AWT_GENERATE_VERIFY_OTP`",
                "operationId": "VerifyOTP",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOTPRequest"
                            },
                            "example": {
                                "mobile": "919404746750",
                                "otp": "111111"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyOTP"
                                },
                                "example": {
                                    "message": "OTP verified"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/payment-methods": {
            "get": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Get Payment Methods",
                "description": "### Description\nGet available payment methods\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)",
                "operationId": "GetPaymentMethods",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetPaymentMethod"
                                    },
                                    "description": "",
                                    "example": [
                                        {
                                            "name": "UPI",
                                            "id": "UPI"
                                        }
                                    ]
                                },
                                "example": [
                                    {
                                        "name": "UPI",
                                        "id": "UPI"
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/payment": {
            "post": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Generate Payment Link",
                "description": "### Description\nCreates a payment object. Each payment object contains a unique transaction ID, against which a payment is expected.\nA payment object has 3 states\n * PENDING\n * FULFILLED\n * EXPIRED\n\n### input\n * paymentMethodID: pass \"UPI\" here\n\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ) \n### output\nPayment object containing \n * txnRefId: Transaction reference ID \n * status: status is \"PENDING\" at the time of creation.\n * upiDeeplink : Use this link to enable the user to make the payment via UPI\n\n### Notes\n* You can call this API only when the **Application**'s state code is `AWT_PAYMENT`\n* You can generate as many payment objects as you want.\n* Use [Get Payment Status API](https://postman.setu.co/#bf7ebec1-2fe8-4ed4-8f5d-8e2038c37dbd) to check if the payment is FULFILLED or not.\n* Use [Get Application Status API](https://postman.setu.co/#19b40b4c-c629-4f56-9b50-3fc041e38d53) to get the list of all payment objects generated so far for the given application.",
                "operationId": "GeneratePaymentLink",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneratePaymentLinkRequest"
                            },
                            "example": {
                                "paymentMethodId": "UPI"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneratePaymentLink"
                                },
                                "example": {
                                    "paymentMethod": {
                                        "id": "UPI",
                                        "name": "UPI"
                                    },
                                    "applicationId": "ec164d44-b275-4b78-9a56-31fd2f6145d3",
                                    "txnRefId": "QG9snkmXtqijcH4eT7n4am",
                                    "upiDeeplink": "upi://pay?pa=setu@equitas&pn=equitasbank&tr=QG9snkmXtqijcH4eT7n4am&mc=6012&am=5500",
                                    "status": "PENDING",
                                    "paymentDetails": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/payment/{txn_ref_id}": {
            "get": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Get Payment Status",
                "description": "### Description\nGet the status of the payment object created via [Create Payment Link API](https://postman.setu.co/#62c66bfd-aa2a-4e65-8081-4674c6d003fc),. If FULFILLED, you also get the source account details in the payment object.\nA payment object has 3 states\n* PENDING\n* FULFILLED\n* EXPIRED\n\n### input\napplicationID : ( in URL )\ntxnRefID : ID of the payment object( in URL)\n\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)\n### output\nPayment object.\n\n### Notes\n* the `status` field of the payment object gives you the payment state.\n* If the user has made the payment successfully, `status` would change from `PENDING` to `FULFILLED`. \n* A FULFILLED payment object has details about the source account of the transaction which include\n    * txnID : or UTR\n    * remitterName : account holder's \n    * remitterAmount : amount transferred. \n    * remitterAccountNumber :\n    * remitterIfsc : \n    * remitterBank : Bank name\n    * remitterBranch : Branch name\n    * sourceVpa :\n    * destinationVpa :",
                "operationId": "GetPaymentStatus",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn_ref_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false
            }
        },
        "/application/{deposit_id}/account": {
            "post": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Create Account",
                "description": "### Description\nCreate an **Account** using the filled **Application** \n\n### input\n* txnRefId : txnRefId of the FULFILLED payment object created with [Generate Payment Link API](https://postman.setu.co/#62c66bfd-aa2a-4e65-8081-4674c6d003fc)\n* maturityAccountNumber : Account Number where the principal+interest should be settled upon redemption/maturity\n* maturityIfsc: IFSC of the `maturityAccountNumber`\n\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n- Bajaj (BAJAJ)\n### output\n**Account** object\n\n### notes\n* You must to store the `customerObject` within the **Account** object inorder to use the [FD management APIs](https://postman.setu.co/#2e7a942b-cfb2-4768-88a9-220e594a25fd). This is because all **Application**s are deleted after a certain time, and no meta data would be available to manage the FD account.\n* You can also call [Get Account Status]() to extract the `customerObject` before the **Application** is purged.",
                "operationId": "CreateAccount",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountRequest"
                            },
                            "example": {
                                "txnRefId": "MAkeJhrPsNAC5UyowLn8W4",
                                "maturityAccountNumber": "100002372849",
                                "maturityIfsc": "ESFB0001001"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAccount"
                                },
                                "example": {
                                    "applicationId": "09378f81-f196-4243-9dba-0ec1a148bfea",
                                    "state": {
                                        "code": "FINISH",
                                        "description": {
                                            "opening_date": "2019-12-31",
                                            "maturity_date": "2020-01-10",
                                            "maturity_amount": "5508",
                                            "interest_rate": "5"
                                        }
                                    },
                                    "offerId": "EQTS_REG_01",
                                    "provider": {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    },
                                    "tenure": 10,
                                    "amount": 5500,
                                    "interest": {
                                        "rate": 3.6,
                                        "payoutFrequency": "NONE"
                                    },
                                    "customerObject": {
                                        "accountId": "300000663913",
                                        "productCode": "EQTS_REG_01",
                                        "urn": "",
                                        "customerId": "7727386",
                                        "name": "Sunil Ghintala",
                                        "dob": "1993-01-21",
                                        "pan": "TGXPM3070D",
                                        "mobile": "919483895729",
                                        "email": "test@setu.co",
                                        "nomineeName": "test",
                                        "nomineeRelation": "FATHER",
                                        "nomineeDob": "1991-12-01"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "get": {
                "tags": ["FD - booking flow APIs"],
                "summary": "Get Account Status",
                "description": "### Description\nGet **Account** status.\n\n### input\n* applicationId : ( in URL )\n\n\n### Applicable Providers \n- Equitas (EQTS)\n- Ujjivan (UJVN)\n\n### output\n**Account** object\n\n### notes\n* You must to store the `customerObject` within the **Account** object inorder to use the [FD management APIs](https://postman.setu.co/#2e7a942b-cfb2-4768-88a9-220e594a25fd). This is because all **Application**s are deleted after a certain time, and no meta data would be available to manage the FD account.\n* The **Account** object mostly looks like the **Application** object. Infact, **Account** object is just the **Application** object in its final state,\"FINISH\". In the `state description` you can find the following \n    * openingDate\n    * maturityDate\n    * maturityAmount",
                "operationId": "GetAccountStatus",
                "parameters": [
                    {
                        "name": "deposit_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAccountStatus"
                                },
                                "example": {
                                    "applicationId": "ec164d44-b275-4b78-9a56-31fd2f6145d3",
                                    "state": {
                                        "code": "FINISH",
                                        "description": {
                                            "opening_date": "2019-12-31",
                                            "maturity_date": "2020-01-10",
                                            "maturity_amount": "5508",
                                            "interest_rate": "5"
                                        }
                                    },
                                    "offerId": "EQTS_REG_01",
                                    "provider": {
                                        "id": "EQTS",
                                        "name": "Equitas Small Finance Bank",
                                        "logoUrl": "https://www.equitasbank.com/sites/default/files/equitas-logo.png"
                                    },
                                    "tenure": 10,
                                    "amount": 5500.0,
                                    "interest": {
                                        "rate": 3.6,
                                        "payoutFrequency": "NONE"
                                    },
                                    "customerObject": {
                                        "accountId": "300000663913",
                                        "productCode": "EQTS_REG_01",
                                        "urn": "",
                                        "customerId": "7727386",
                                        "name": "Sunil Ghintala",
                                        "dob": "1993-01-21",
                                        "pan": "TGXPM3070D",
                                        "mobile": "919483895729",
                                        "email": "test@setu.co",
                                        "nomineeName": "test",
                                        "nomineeRelation": "FATHER",
                                        "nomineeDob": "1991-12-01"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/session": {
            "post": {
                "tags": ["FD - management APIs"],
                "summary": "Start session",
[...]
