{
    "openapi": "3.0.0",
    "info": {
        "title": "Data Gateway - GST verification",
        "description": "pull just the key facts from an Aadhaar record without any extra OTPs or hoops for your users.\n\n[See on Setu docs](https://docs.setu.co/data)",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://dg-sandbox.setu.co",
            "description": "Sandbox"
        },
        {
            "url": "https://dg.setu.co",
            "description": "Production"
        }
    ],
    "paths": {
        "/api/aadhaar-lite": {
            "post": {
                "tags": ["Aadhaar Lite"],
                "summary": "Aadhaar Lite",
                "operationId": "AadhaarLite",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{client_id}}"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{secret}}"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{x-product-instance-id}}"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AadhaarLiteRequest"
                                    },
                                    {
                                        "example": {
                                            "aadhaar_number": "999999990001"
                                        }
                                    }
                                ]
                            },
                            "example": {
                                "aadhaar_number": "999999990001"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/AadhaarNotFound"
                                        },
                                        {
                                            "example": {
                                                "message": "Aadhaar not found",
                                                "id": "fa239bc1-b0ec-4484-be42-cfc4031c6be5",
                                                "traceId": "1-68187a91-2067df594a94c6047b65043a",
                                                "status": "FAILED"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "Aadhaar not found",
                                    "id": "fa239bc1-b0ec-4484-be42-cfc4031c6be5",
                                    "traceId": "1-68187a91-2067df594a94c6047b65043a",
                                    "status": "FAILED"  
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ValidAadhaarLite"
                                        },
                                        {
                                            "example": {
                                                "status": "SUCCESS",
                                                "id": "3ae8518d-99d3-4cd0-9315-b12a4936e1bc",
                                                "message": "Aadhaar found",
                                                "data": {
                                                    "address": "Delhi",
                                                    "ageBand": "20-30",
                                                    "gender": "M",
                                                    "maskedMobileNumber": "XXXXXX1234"
                                                },
                                                "traceId": "1-681871c5-2c10e99906394e4055ef962a"
                                            }
                                        }
                                    ]
                                },
                                "example":{
                                    "status": "SUCCESS",
                                    "id": "3ae8518d-99d3-4cd0-9315-b12a4936e1bc",
                                    "message": "Aadhaar found",
                                    "data": {
                                        "address": "Delhi",
                                        "ageBand": "20-30",
                                        "gender": "M",
                                        "maskedMobileNumber": "XXXXXX1234"
                                    },
                                    "traceId": "1-681871c5-2c10e99906394e4055ef962a"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        }
    },
    "components": {
        "schemas": {
            "AadhaarLiteRequest": {
                "title": "AadhaarLiteRequest",
                "required": ["aadhaar_number"],
                "type": "object",
                "properties": {
                    "aadhaar_number": {
                        "type": "string"
                    }
                },
                "example": {
                    "aadhaar_number": "999999990001"
                }
            },
            "ValidAadhaarLite": {
                "title": "ValidAadhaarLite",
                "required": [
                    "status",
                    "id",
                    "message",
                    "data",
                    "traceId"
                ],
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/Data"
                    },
                    "traceId": {
                        "type": "string"
                    }
                },
                "example": {
                    "status": "SUCCESS",
                    "id": "3ae8518d-99d3-4cd0-9315-b12a4936e1bc",
                    "message": "Aadhaar found",
                    "data": {
                        "address": "Delhi",
                        "ageBand": "20-30",
                        "gender": "M",
                        "maskedMobileNumber": "XXXXXX1234"
                    },
                    "traceId": "1-681871c5-2c10e99906394e4055ef962a"
                }
            },
            "Data": {
                "title": "Data",
                "required": ["address", "ageBand", "gender", "maskedMobileNumber"],
                "type": "object",
                "properties": {
                    "address": {
                        "type": "string"
                    },
                    "ageBand": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "maskedMobileNumber": {
                        "type": "string"
                    }
                }
            },
            "AadhaarNotFound": {
                "title": "AadhaarNotFound",
                "required": ["message", "id", "traceId","status"],
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "traceId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    }
                },
                "example": {
                    "status": "FAILED",
                    "id": "fa239bc1-b0ec-4484-be42-cfc4031c6be5",
                    "message": "Aadhaar not found",
                    "traceId": "1-68187a91-2067df594a94c6047b65043a"
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "bearer": []
        }
    ],
    "tags": [
        {
            "name": "Aadhaar Lite"
        },
        {
            "name": "Misc",
            "description": ""
        }
    ]
}
