{
    "openapi": "3.0.0",
    "info": {
        "title": "Data Gateway - eSign",
        "description": "Collect legally binding digital signatures. Upload a document and create a signature request for one or more signers.",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://dg-sandbox.setu.co",
            "description": "Sandbox"
        },
        {
            "url": "https://dg.setu.co",
            "description": "Production"
        }
    ],
    "paths": {
        "/templates": {
            "post": {
              "tags": [
                "eSign Template"
              ],
              "summary": "Upload eSign document template",
              "operationId": "UploadeSigndocumenttemplate",
              "parameters": [
                {
                  "name": "x-client-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579n"
                  }
                },
                {
                  "name": "x-client-secret",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579b"
                  }
                },
                {
                  "name": "x-product-instance-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579m"
                  }
                }
              ],
              "requestBody": {
                "content": {
                  "multipart/form-data": {
                    "encoding": {},
                    "schema": {
                      "required": [
                        "template_doc",
                        "name"
                      ],
                      "type": "object",
                      "properties": {
                        "template_doc": {
                          "type": "string",
                          "format": "binary"
                        },
                        "name": {
                          "type": "string",
                          "example": "test_sample"
                        }
                      }
                    }
                  }
                },
                "required": false
              },
              "responses": {
                "200": {
                  "description": "OK",
                  "headers": {},
                  "content": {
                    "application/json": {
                      "schema": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/UploadeSigndocumenttemplate"
                          },
                          {
                            "example": {
                              "template_id": "61b2c6bf-dfe5-477b-a94c-474c384218c9",
                              "name": "test_sample",
                              "form_fields": {
                                "text": {
                                  "dob": "",
                                  "city": "",
                                  "bo_id": "",
                                  "dl_no": "",
                                  "dp_id": "",
                                  "place": "",
                                  "state": "",
                                  "pan_no": ""
                                },
                                "check_boxes": {
                                  "#c.raa.r1": "",
                                  "#c.raa.r2": "",
                                  "#c.gender.F": "",
                                  "#c.gender.M": "",
                                  "#c.gender.U": ""
                                },
                                "images": {
                                  "#i.bank_proof": ""
                                }
                              },
                              "traceId": "ded2cf9e-8ca4-4e20-9233-0d78beca95cf"
                            }
                          }
                        ]
                      },
                      "example": {
                        "template_id": "61b2c6bf-dfe5-477b-a94c-474c384218c9",
                        "name": "test_sample",
                        "form_fields": {
                          "text": {
                            "dob": "",
                            "city": "",
                            "bo_id": "",
                            "dl_no": "",
                            "dp_id": "",
                            "place": "",
                            "state": "",
                            "pan_no": ""
                          },
                          "check_boxes": {
                            "#c.raa.r1": "",
                            "#c.raa.r2": "",
                            "#c.gender.F": "",
                            "#c.gender.M": "",
                            "#c.gender.U": ""
                          },
                          "images": {
                            "#i.bank_proof": ""
                          }
                        },
                        "traceId": "ded2cf9e-8ca4-4e20-9233-0d78beca95cf"
                      }
                    }
                  }
                }
              },
              "deprecated": false,
              "security": []
            },
            "put": {
              "tags": [
                "eSign Template"
              ],
              "summary": "Update eSign document template",
              "operationId": "UpdateeSigndocumenttemplate",
              "parameters": [
                {
                  "name": "x-client-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579n"
                  }
                },
                {
                  "name": "x-client-secret",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579b"
                  }
                },
                {
                  "name": "x-product-instance-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579m"
                  }
                }
              ],
              "requestBody": {
                "content": {
                  "application/x-www-form-urlencoded": {
                    "encoding": {},
                    "schema": {
                      "required": [
                        "name",
                        "form_fields",
                        "template_id"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "aof_groww"
                        },
                        "form_fields": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/FormFields2"
                            },
                            {
                              "example": {
                                "text": {
                                  "dob": "",
                                  "city": "",
                                  "bo_id": ""
                                },
                                "check_boxes": {
                                  "#c.raa.r1": "",
                                  "#c.raa.r2": "",
                                  "#c.gender.F": "",
                                  "#c.gender.M": "",
                                  "#c.gender.U": ""
                                },
                                "images": {
                                  "#i.bank_proof": ""
                                }
                              }
                            }
                          ]
                        },
                        "template_id": {
                          "type": "string",
                          "example": "14805fff-c1f2-452d-a7e8-23e1beef73ae"
                        }
                      }
                    }
                  }
                },
                "required": false
              },
              "responses": {
                "200": {
                  "description": "OK",
                  "headers": {},
                  "content": {
                    "application/json": {
                      "schema": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/UpdateeSigndocumenttemplate"
                          },
                          {
                            "example": {
                              "template_id": "8bba0bea-0c63-4eb2-9da9-11b5114b579b",
                              "template_doc_url": "http://localhost:4566/dg-uat-persistent/b186f03d-3db2-4bf1-b75e-4b6fde0e27d8/69e1d94f-ece8-4536-8b29-e737b5b2b85a.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAWRBGAEX64FUA6QCP%2F20250328%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20250328T045441Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiSDBGAiEA%2F39Sl2Y0foBpgNDuyNXv1hTlxufC6ysWj2uISy%2BpLk0CIQCeROguFhlX65%2FmUc%2BHGXQ%2BxUgJfDX4f7qxexfhMc0nWSr3AghWEAMaDDQ0ODkwMzc4MzkzMyIMAzu7cD7AoB%2F7CpHvKtQCdBZKUcq%2FOHQUSNbOUxFIWcYkcSTvRVNlsTuFTbimh3oB9QjhgoFgjQzSRgrEiYLG0Hmm5QG5ySJP7YYmQWgX5rAwyFz7fE5ERKTChUyfmO2KnXVTbe%2F8b%2BHKyaCIH%2FeTmWy8QfOFsvvaK4u%2FOc82R6TaoTeO3r81TcHGWQzgJsJ963dqXhE2WSp0YHGZb3tatx77eMACkOEWDw2OPpHCECBcl3QKLIGvkDq33Oby%2BP%2BNmbmTLTs5uBICZ6Wr2x9zKezp90FWKZ2dKgnUcjk6l4SB4Jrigc2ROLI15YEvv1or3iyoxIyyC3YpF5YB1JUwlQniXP1EZzWGfhSwseLce96CWtKHJq9ZBmFrGb%2Bz0T7%2B8Jxl74N%2Bl2P99uJWIrBFyR3T%2FVIEFPxRnvl89AnLUF4USt7UztApnKTj6La2samTW02bpmNG7CO0K9UaePQrf9stVzCR15i%2FBjqmAe71qOtbAYuC%2FOH3%2FFFNTAISYS5QAC4%2BfR3Kac4m2QxKJndWPWIPjLJ1Z%2FPxN7zZYNL4cCnmPcVHlP6fMylyewPf%2BoQ8HX0QK1%2BcA%2BKWXnHU5IOx7TpURXc78EKT%2B1K7IX8KUH8rJZzoFiPIQOAkYGojAnOC%2FSU4wwNrgZdp3aBLJCyvLEF4LZNveWFS9whh6L4bTT5tozpPewKF9NRXdnSQeUnHJ54%3D&X-Amz-Signature=6b6395708c76300150b218755e08c4792ddf3de7d5e2501f03b0082ad8196b7f",
                              "name": "aof_groww",
                              "version_no": 2,
                              "form_fields": {
                                "text": {
                                  "dob": "",
                                  "city": "",
                                  "bo_id": ""
                                },
                                "check_boxes": {
                                  "#c.gender.F": "",
                                  "#c.gender.M": "",
                                  "#c.gender.U": "",
                                  "#c.income.a": ""
                                },
                                "images": {
                                  "#i.bank_proof": ""
                                }
                              },
                              "traceId": "ad143efa-d109-41ae-981f-14c673a7a48e"
                            }
                          }
                        ]
                      },
                      "example": {
                        "template_id": "8bba0bea-0c63-4eb2-9da9-11b5114b579b",
                        "template_doc_url": "http://localhost:4566/dg-uat-persistent/b186f03d-3db2-4bf1-b75e-4b6fde0e27d8/69e1d94f-ece8-4536-8b29-e737b5b2b85a.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAWRBGAEX64FUA6QCP%2F20250328%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20250328T045441Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiSDBGAiEA%2F39Sl2Y0foBpgNDuyNXv1hTlxufC6ysWj2uISy%2BpLk0CIQCeROguFhlX65%2FmUc%2BHGXQ%2BxUgJfDX4f7qxexfhMc0nWSr3AghWEAMaDDQ0ODkwMzc4MzkzMyIMAzu7cD7AoB%2F7CpHvKtQCdBZKUcq%2FOHQUSNbOUxFIWcYkcSTvRVNlsTuFTbimh3oB9QjhgoFgjQzSRgrEiYLG0Hmm5QG5ySJP7YYmQWgX5rAwyFz7fE5ERKTChUyfmO2KnXVTbe%2F8b%2BHKyaCIH%2FeTmWy8QfOFsvvaK4u%2FOc82R6TaoTeO3r81TcHGWQzgJsJ963dqXhE2WSp0YHGZb3tatx77eMACkOEWDw2OPpHCECBcl3QKLIGvkDq33Oby%2BP%2BNmbmTLTs5uBICZ6Wr2x9zKezp90FWKZ2dKgnUcjk6l4SB4Jrigc2ROLI15YEvv1or3iyoxIyyC3YpF5YB1JUwlQniXP1EZzWGfhSwseLce96CWtKHJq9ZBmFrGb%2Bz0T7%2B8Jxl74N%2Bl2P99uJWIrBFyR3T%2FVIEFPxRnvl89AnLUF4USt7UztApnKTj6La2samTW02bpmNG7CO0K9UaePQrf9stVzCR15i%2FBjqmAe71qOtbAYuC%2FOH3%2FFFNTAISYS5QAC4%2BfR3Kac4m2QxKJndWPWIPjLJ1Z%2FPxN7zZYNL4cCnmPcVHlP6fMylyewPf%2BoQ8HX0QK1%2BcA%2BKWXnHU5IOx7TpURXc78EKT%2B1K7IX8KUH8rJZzoFiPIQOAkYGojAnOC%2FSU4wwNrgZdp3aBLJCyvLEF4LZNveWFS9whh6L4bTT5tozpPewKF9NRXdnSQeUnHJ54%3D&X-Amz-Signature=6b6395708c76300150b218755e08c4792ddf3de7d5e2501f03b0082ad8196b7f",
                        "name": "aof_groww",
                        "version_no": 2,
                        "form_fields": {
                          "text": {
                            "dob": "",
                            "city": "",
                            "bo_id": ""
                          },
                          "check_boxes": {
                            "#c.gender.F": "",
                            "#c.gender.M": "",
                            "#c.gender.U": "",
                            "#c.income.a": ""
                          },
                          "images": {
                            "#i.bank_proof": ""
                          }
                        },
                        "traceId": "ad143efa-d109-41ae-981f-14c673a7a48e"
                      }
                    }
                  }
                }
              },
              "deprecated": false,
              "security": []
            }
          },
          "/templates/render": {
            "post": {
              "tags": [
                "eSign Template"
              ],
              "summary": "Render eSign document template",
              "operationId": "RendereSigndocumenttemplate",
              "parameters": [
                {
                  "name": "x-client-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579n"
                  }
                },
                {
                  "name": "x-client-secret",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579b"
                  }
                },
                {
                  "name": "x-product-instance-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579m"
                  }
                }
              ],
              "requestBody": {
                "description": "",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/RendereSigndocumenttemplateRequest"
                        },
                        {
                          "example": {
                            "template_id": "61b2c6bf-dfe5-477b-a94c-474c384218c9",
                            "form_fields": {
                              "text": {
                                "dob": "1997",
                                "city": "noida",
                                "bo_id": "",
                                "dl_no": "",
                                "dp_id": "",
                                "place": "sector 18",
                                "state": "uttar pradesh",
                                "pan_no": ""
                              },
                              "check_boxes": {
                                "#c.raa.r1": "/Yes",
                                "#c.raa.r2": "",
                                "#c.gender.F": "",
                                "#c.gender.M": "/Yes",
                                "#c.gender.U": ""
                              },
                              "images": {
                                "#i.bank_proof": ""
                              }
                            }
                          }
                        }
                      ]
                    },
                    "example": {
                      "template_id": "61b2c6bf-dfe5-477b-a94c-474c384218c9",
                      "form_fields": {
                        "text": {
                          "dob": "1997",
                          "city": "noida",
                          "bo_id": "",
                          "dl_no": "",
                          "dp_id": "",
                          "place": "sector 18",
                          "state": "uttar pradesh",
                          "pan_no": ""
                        },
                        "check_boxes": {
                          "#c.raa.r1": "/Yes",
                          "#c.raa.r2": "",
                          "#c.gender.F": "",
                          "#c.gender.M": "/Yes",
                          "#c.gender.U": ""
                        },
                        "images": {
                          "#i.bank_proof": ""
                        }
                      }
                    }
                  }
                },
                "required": true
              },
              "responses": {
                "default": {
                  "description": "",
                  "headers": {},
                  "content": {
                    "application/json": {
                      "schema": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/RendereSigndocumenttemplate"
                          },
                          {
                            "example": {
                              "doc_id": "45761640-8902-4c00-8566-6dc6a30cd4b5",
                              "name": "test_sample",
                              "document_type": "application/pdf",
                              "traceId": "a04c9513-2da8-4f51-b789-a0cb55064754"
                            }
                          }
                        ]
                      },
                      "example": {
                        "doc_id": "45761640-8902-4c00-8566-6dc6a30cd4b5",
                        "name": "test_sample",
                        "document_type": "application/pdf",
                        "traceId": "a04c9513-2da8-4f51-b789-a0cb55064754"
                      }
                    }
                  }
                }
              },
              "deprecated": false,
              "security": []
            }
          },
          "/templates/{id}/{version_no}": {
            "get": {
              "tags": [
                "eSign Template"
              ],
              "summary": "Get Template",
              "operationId": "GetTemplate",
              "parameters": [
                {
                  "name": "id",
                  "in": "path",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "{{template_id}}"
                  }
                },
                {
                  "name": "version_no",
                  "in": "path",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "integer",
                    "format": "int32",
                    "example": 1
                  }
                },
                {
                  "name": "x-client-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579n"
                  }
                },
                {
                  "name": "x-client-secret",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579b"
                  }
                },
                {
                  "name": "x-product-instance-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579m"
                  }
                }
              ],
              "responses": {
                "default": {
                  "description": "",
                  "headers": {},
                  "content": {
                    "application/json": {
                      "schema": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GetTemplate"
                          },
                          {
                            "example": {
                              "template_id": "8bba0bea-0c63-4eb2-9da9-11b5114b579b",
                              "name": "aof groww",
                              "form_fields": {
                                "text": {
                                  "dob": "",
                                  "city": "",
                                  "bo_id": "",
                                  "dl_no": "",
                                  "dp_id": "",
                                  "place": "",
                                  "state": "",
                                  "pan_no": ""
                                },
                                "check_boxes": {
                                  "#c.raa.r1": "",
                                  "#c.raa.r2": "",
                                  "#c.gender.F": "",
                                  "#c.gender.M": "",
                                  "#c.gender.U": ""
                                },
                                "images": {
                                  "#i.bank_proof": ""
                                }
                              },
                              "version_no": 1,
                              "template_doc_url": "http://localhost:4566/dg-uat-persistent/b186f03d-3db2-4bf1-b75e-4b6fde0e27d8",
                              "traceId": "1bd6877f-df76-4930-8014-94595e358485"
                            }
                          }
                        ]
                      },
                      "example": {
                        "template_id": "8bba0bea-0c63-4eb2-9da9-11b5114b579b",
                        "name": "aof groww",
                        "form_fields": {
                          "text": {
                            "dob": "",
                            "city": "",
                            "bo_id": "",
                            "dl_no": "",
                            "dp_id": "",
                            "place": "",
                            "state": "",
                            "pan_no": ""
                          },
                          "check_boxes": {
                            "#c.raa.r1": "",
                            "#c.raa.r2": "",
                            "#c.gender.F": "",
                            "#c.gender.M": "",
                            "#c.gender.U": ""
                          },
                          "images": {
                            "#i.bank_proof": ""
                          }
                        },
                        "version_no": 1,
                        "template_doc_url": "http://localhost:4566/dg-uat-persistent/b186f03d-3db2-4bf1-b75e-4b6fde0e27d8",
                        "traceId": "1bd6877f-df76-4930-8014-94595e358485"
                      }
                    }
                  }
                }
              },
              "deprecated": false,
              "security": []
            }
          },
          "/signature": {
            "post": {
              "tags": [
                "eSign Template"
              ],
              "summary": "Create Sig Request with doc template",
              "operationId": "CreateSigRequestwithdoctemplate",
              "parameters": [
                {
                  "name": "x-client-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579n"
                  }
                },
                {
                  "name": "x-client-secret",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579b"
                  }
                },
                {
                  "name": "x-product-instance-id",
                  "in": "header",
                  "description": "",
                  "required": true,
                  "style": "simple",
                  "schema": {
                    "type": "string",
                    "example": "8bba0bea-0c63-4eb2-9da9-11b5114b579m"
                  }
                }
              ],
              "requestBody": {
                "description": "",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CreateSigRequestwithdoctemplateRequest"
                        },
                        {
                          "example": {
                            "documentId": "{{document_id}}",
                            "redirectUrl": "http://setu.co",
                            "configId": "c9a68254-0737-447e-a533-4632a5afb9fd",
                            "templateId": "8bba0bea-0c63-4eb2-9da9-11b5114b579b",
                            "formFields": {
                              "text": {
                                "dob": "1996",
                                "nominee3_guardian_address": "noida"
                              },
                              "check_boxes": {
                                "#c.raa.r1": "/yes"
                              },
                              "images": {
                                "#i.bank_proof": ""
                              }
                            },
                            "reason": "brokerage account creation",
                            "signers": [
                              {
                                "identifier": "7042484933",
                                "displayName": "Rahul Roy",
                                "geoCoordinate": "123.45, 56.7",
                                "location": "patiala punjab",
                                "signerNo": 1
                              }
                            ]
                          }
                        }
                      ]
                    },
                    "example": {
                      "documentId": "{{document_id}}",
                      "redirectUrl": "http://setu.co",
                      "configId": "c9a68254-0737-447e-a533-4632a5afb9fd",
                      "templateId": "8bba0bea-0c63-4eb2-9da9-11b5114b579b",
                      "formFields": {
                        "text": {
                          "dob": "1996",
                          "nominee3_guardian_address": "noida"
                        },
                        "check_boxes": {
                          "#c.raa.r1": "/yes"
                        },
                        "images": {
                          "#i.bank_proof": ""
                        }
                      },
                      "reason": "brokerage account creation",
                      "signers": [
                        {
                          "identifier": "7042484933",
                          "displayName": "Rahul Roy",
                          "geoCoordinate": "123.45, 56.7",
                          "location": "patiala punjab",
                          "signerNo": 1
                        }
                      ]
                    }
                  }
                },
                "required": true
              },
              "responses": {
                "201": {
                  "description": "CREATED",
                  "headers": {},
                  "content": {
                    "application/json": {
                      "schema": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Success"
                          },
                          {
                            "example": {
                              "documentId": "0f954c25-acd6-42c0-a357-a0db47da5280",
                              "id": "2766c409-ccc0-4ac3-83ac-0bca727e7b12",
                              "reason": "brokerage account creation",
                              "redirectUrl": "http://setu.co",
                              "signers": [
                                {
                                  "birthYear": "None",
                                  "displayName": "Rahul Roy",
                                  "errCode": null,
                                  "id": "e8cd3ee6-899b-46ea-801d-fd80190ae02a",
                                  "identifier": "7042484933",
                                  "location": "patiala punjab",
                                  "signatureDetails": null,
                                  "status": "pending",
                                  "url": "http://localhost:8000/signature/preview?requestId=2766c409-ccc0-4ac3-83ac-0bca727e7b12&signerId=e8cd3ee6-899b-46ea-801d-fd80190ae02a"
                                }
                              ],
                              "status": "sign_initiated",
                              "traceId": "38067411-fd02-408f-9e87-ea626702dc5a"
                            }
                          }
                        ]
                      },
                      "example": {
                        "documentId": "0f954c25-acd6-42c0-a357-a0db47da5280",
                        "id": "2766c409-ccc0-4ac3-83ac-0bca727e7b12",
                        "reason": "brokerage account creation",
                        "redirectUrl": "http://setu.co",
                        "signers": [
                          {
                            "birthYear": "None",
                            "displayName": "Rahul Roy",
                            "errCode": null,
                            "id": "e8cd3ee6-899b-46ea-801d-fd80190ae02a",
                            "identifier": "7042484933",
                            "location": "patiala punjab",
                            "signatureDetails": null,
                            "status": "pending",
                            "url": "http://localhost:8000/signature/preview?requestId=2766c409-ccc0-4ac3-83ac-0bca727e7b12&signerId=e8cd3ee6-899b-46ea-801d-fd80190ae02a"
                          }
                        ],
                        "status": "sign_initiated",
                        "traceId": "38067411-fd02-408f-9e87-ea626702dc5a"
                      }
                    }
                  }
                }
              },
              "deprecated": false,
              "security": []
            }
          },

        "/api/signature/": {
            "post": {
                "summary": "Create Signature Request with configId",
                "operationId": "CreateSigRequestconfig",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{client_id}}"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{secret}}"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSigRequestConfigRequest"
                            },
                            "example": {
                                "documentId": "7965d8d7-98a5-4ae8-9748-ced05449b8m0",
                                "redirectUrl": "http://setu.co",
                                "configId": "7965d8d7-98a5-4ae8-9748-ced05449b6e7",
                                "signers": [
                                    {
                                        "identifier": "7042484922",
                                        "displayName": "Rahul Roy",
                                        "signerNo": 1
                                    },
                                    {
                                        "identifier": "7042484933",
                                        "displayName": "Karan singh",
                                        "signerNo": 2
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "CREATED",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/SuccessCreateSigReqConfig"
                                        },
                                        {
                                            "example": {
                                                "documentId": "91fba655-95d3-4ffd-a47f-5e122024b00c",
                                                "id": "6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12",
                                                "redirectUrl": "http://setu.co",
                                                "signers": [
                                                    {
                                                        "displayName": "Rahul Roy",
                                                        "id": "34f94af1-a8b9-4797-b287-c5ef7bff99a1",
                                                        "identifier": "7042484922",
                                                        "signatureDetails": null,
                                                        "errCode": null,
                                                        "status": "pending",
                                                        "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99a1"
                                                    },
                                                    {
                                                        "displayName": "Karan singh",
                                                        "id": "34f94af1-a8b9-4797-b287-c5ef7bff99b1",
                                                        "identifier": "7042484933",
                                                        "signatureDetails": null,
                                                        "errCode": null,
                                                        "status": "pending",
                                                        "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99b1"
                                                    }
                                                ],
                                                "status": "sign_initiated"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "documentId": "91fba655-95d3-4ffd-a47f-5e122024b00c",
                                    "id": "6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12",
                                    "redirectUrl": "http://setu.co",
                                    "signers": [
                                        {
                                            "displayName": "Rahul Roy",
                                            "id": "34f94af1-a8b9-4797-b287-c5ef7bff99a1",
                                            "identifier": "7042484922",
                                            "signatureDetails": null,
                                            "errCode": null,
                                            "status": "pending",
                                            "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99a1"
                                        },
                                        {
                                            "displayName": "Karan singh",
                                            "id": "34f94af1-a8b9-4797-b287-c5ef7bff99b1",
                                            "identifier": "7042484933",
                                            "signatureDetails": null,
                                            "errCode": null,
                                            "status": "pending",
                                            "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99b1"
                                        }
                                    ],
                                    "status": "sign_initiated"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD REQUEST",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invaliddocument1"
                                },
                                "example": {
                                    "error": {
                                        "code": "invalid_document",
                                        "detail": "The document Id is already being used in a signature",
                                        "traceId": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [],
                "tags": ["Flexible eSign"]
            }
        },

        "/api/signature/config": {
            "post": {
                "summary": "Upload Signing Config",
                "operationId": "UploadSigningConfig",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{client_id}}"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{secret}}"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{x-product-instance-id}}"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "encoding": {},
                            "schema": {
                                "$ref": "#/components/schemas/SigningConfigRequestBody"
                            },
                            "example": {
                                "configId": "825169c7-08a4-4739-94d5-0d8c4ef5e4f1",
                                "signers": [
                                    {
                                        "optional": false,
                                        "signRectangles": [
                                            {
                                                "coordinate": {
                                                    "lowerLeftX": 402,
                                                    "lowerLeftY": 53,
                                                    "upperRightX": 542,
                                                    "upperRightY": 93
                                                },
                                                "pages": [0, 1]
                                            },
                                            {
                                                "coordinate": {
                                                    "lowerLeftX": 358,
                                                    "lowerLeftY": 232,
                                                    "upperRightX": 498.53009106595096,
                                                    "upperRightY": 272.52901734104046
                                                },
                                                "pages": [2]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "CREATED",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/signingConfigSuccess"
                                },
                                "example": {
                                    "configId": "825169c7-08a4-4739-94d5-0d8c4ef5e4f1",
                                    "traceId": "5de9b52d-1252-409b-9bc5-063fa67f8191"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD REQUEST",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidpayloadSigningConfig"
                                },
                                "example": {
                                    "error": {
                                        "code": "invalid_payload",
                                        "detail": "signers array not provided please check config payload.",
                                        "traceId": "baf23d8b-3b2f-46aa-af0d-f217924f503b"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [],
                "tags": ["Flexible eSign"]
            },
            "put": {
                "summary": "Update Signing Config",
                "operationId": "UpdateSigningConfig",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{client_id}}"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{secret}}"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{x-product-instance-id}}"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "encoding": {},
                            "schema": {
                                "$ref": "#/components/schemas/UpdateSigningConfigRequest"
                            },
                            "example": {
                                "configId": "ad837627-1abd-40c7-b7ce-64845c65450b",
                                "config": {
                                    "signers": [
                                        {
                                            "optional": false,
                                            "signRectangles": [
                                                {
                                                    "coordinate": {
                                                        "lowerLeftX": 358,
                                                        "lowerLeftY": 232,
                                                        "upperRightX": 498.53009106595096,
                                                        "upperRightY": 272.52901734104046
                                                    },
                                                    "pages": [2]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateSigningConfigResponse"
                                },
                                "example": {
                                    "configId": "ad837627-1abd-40c7-b7ce-64845c65450b",
                                    "config": {
                                        "signers": [
                                            {
                                                "optional": false,
                                                "signRectangles": [
                                                    {
                                                        "coordinate": {
                                                            "lowerLeftX": 350,
                                                            "lowerLeftY": 232,
                                                            "upperRightX": 500,
                                                            "upperRightY": 270
                                                        },
                                                        "pages": [2]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "versionNo": 2,
                                    "traceId": "1-671a0bd0-6fb0e96a405a019134dc1308"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidpayloadSigningConfig"
                                },
                                "example": {
                                    "error": {
                                        "code": "config_id_not_found",
                                        "detail": "Unable to find the resource",
                                        "traceId": "1-671a2366-0448458d3a7278cc6b13b155"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "INTERNAL SERVER ERROR",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidpayloadSigningConfig"
                                },
                                "example": {
                                    "error": {
                                        "code": "unexpected_error",
                                        "detail": "An internal server error has occurred",
                                        "traceId": "72dbdc7b-ebcb-46f2-93b2-7a34e102ed32"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [],
                "tags": ["Flexible eSign"]
            
            }
        },

        "/api/signature/config/:configId/:versionNo": {
            "get": {
                "summary": "Get Signing Config",
                "operationId": "GetSigningConfig",
                "parameters": [
                    {
                        "name": "configId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{configId}}"
                        }
                    },
                    {
                        "name": "versionNo",
                        "in": "path",
                        "description": "",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": "{{versionNo}}"
                        }
                    },
                    {
                    "name": "x-client-id",
                    "in": "header",
                    "description": "",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "example": "{{client_id}}"
                    }
                    },
                    {
                    "name": "x-client-secret",
                    "in": "header",
                    "description": "",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "example": "{{secret}}"
                    }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{x-product-instance-id}}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateSigningConfigResponse"
                                },
                                "example": {
                                    "configId": "ad837627-1abd-40c7-b7ce-64845c65450b",
                                    "config": {
                                        "signers": [
                                            {
                                                "optional": false,
                                                "signRectangles": [
                                                    {
                                                        "coordinate": {
                                                            "lowerLeftX": 350,
                                                            "lowerLeftY": 232,
                                                            "upperRightX": 500,
                                                            "upperRightY": 270
                                                        },
                                                        "pages": [
                                                            2
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "versionNo": 2,
                                    "traceId": "1-671a0bd0-6fb0e96a405a019134dc1308"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidpayloadSigningConfig"
                                },
                                "example": {
                                    "error": {
                                        "code": "config_id_not_found",
                                        "detail": "Unable to find the resource",
                                        "traceId": "1-671a2366-0448458d3a7278cc6b13b155"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "INTERNAL SERVER ERROR",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidpayloadSigningConfig"
                                },
                                "example": {
                                    "error": {
                                        "code": "unexpected_error",
                                        "detail": "An internal server error has occurred",
                                        "traceId": "72dbdc7b-ebcb-46f2-93b2-7a34e102ed32"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [],
                "tags": ["Flexible eSign"]
            }
        },

        "/api/documents": {
            "post": {
                "summary": "Upload Document",
                "operationId": "UploadDocument",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "encoding": {},
                            "schema": {
                                "required": ["document", "name", "password"],
                                "type": "object",
                                "properties": {
                                    "document": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "vaccine"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Thedocumentwassuccessfullyuploaded"
                                },
                                "example": {
                                    "id": "67e0ca30-49e4-4883-86f9-3762f0e6798c",
                                    "name": "sample.pdf"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/signature": {
            "post": {
                "summary": "Create Signature Request",
                "operationId": "CreateSignatureRequest",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSignatureRequestRequest"
                            },
                            "example": {
                                "documentId": "{{document_id}}",
                                "redirectUrl": "http://setu.co",
                                "signers": [
                                    {
                                        "identifier": "9876543210",
                                        "displayName": "Ian Fernandes",
                                        "birthYear": "1991",
                                        "signature": {
                                            "height": 60,
                                            "onPages": ["1"],
                                            "position": "bottom-left",
                                            "width": 180
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "CREATED",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Success"
                                },
                                "example": {
                                    "documentId": "91fba655-95d3-4ffd-a47f-5e122024b00c",
                                    "id": "6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12",
                                    "redirectUrl": "http://setu.co",
                                    "signers": [
                                        {
                                            "displayName": "Akshay P",
                                            "birthYear": "1991",
                                            "id": "34f94af1-a8b9-4797-b287-c5ef7bff99a1",
                                            "identifier": "9876543210",
                                            "signatureDetails": null,
                                            "errCode": null,
                                            "status": "pending",
                                            "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99a1"
                                        }
                                    ],
                                    "status": "sign_initiated"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD REQUEST",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invaliddocument1"
                                },
                                "example": {
                                    "error": {
                                        "code": "invalid_document",
                                        "detail": "The document Id is already being used in a signature",
                                        "traceId": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/signature/{requestId}": {
            "get": {
                "summary": "Get Signature Request by Request ID",
                "operationId": "GetSignatureRequestbyRequestID",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{request_id}}"
                        }
                    },
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Successpendingsign"
                                },
                                "example": {
                                    "documentId": "50ce4004-2133-4b39-8c5f-6522714ae2d0",
                                    "id": "5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b",
                                    "redirectUrl": "http://setu.co",
                                    "signers": [
                                        {
                                            "displayName": "Akshay P",
                                            "id": "9d9e47f7-9c24-4587-8775-f01b17e6fc4d",
                                            "identifier": "9876543210",
                                            "signatureDetails": null,
                                            "errCode": null,
                                            "status": "pending",
                                            "url": "https://dg-uat.setu.co/signature/preview?requestId=5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b&signerId=9d9e47f7-9c24-4587-8775-f01b17e6fc4d"
                                        }
                                    ],
                                    "status": "sign_initiated"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/signature/{id}/delete": {
            "post": {
                "summary": "Delete Signature Request",
                "operationId": "DeleteSignatureRequest",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{request_id}}"
                        }
                    },
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "content": {}
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/signature/{requestId}/download": {
            "get": {
                "summary": "Download a Signed Document",
                "operationId": "DownloadaSignedDocument",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{request_id}}"
                        }
                    },
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Signeddocumentdownloadurl"
                                },
                                "example": {
                                    "downloadUrl": "download_url_goes_here",
                                    "id": "29e5a985-7d40-4b42-8260-9d9f4ef60aa1",
                                    "validUpto": "2021-10-28T14:09:14+05:30"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SignatureRequestnotyetcompletedcancelleddeclined1"
                                },
                                "example": {
                                    "error": {
                                        "code": "document_not_signed",
                                        "detail": "Only signed documents can be downloaded.",
                                        "traceId": ""
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SignedDocumentdeletedDocumentnotfound1"
                                },
                                "example": {
                                    "error": {
                                        "code": "signature_request_not_found",
                                        "detail": "Signature Request Not Found.",
                                        "traceId": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/signature/{requestId}/audit": {
            "get": {
                "summary": "Get Esign Audit Report",
                "description": "Get esign sudit report in pdf/json format against a signature request Id.",
                "operationId": "GetEsignAuditReport",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{request_id}}"
                        }
                    },
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEsignAuditReport"
                                },
                                "example": {
                                    "id": "805b326f-e38c-4908-8592-0d3c7200a6b4",
                                    "document": {
                                        "id": "c3eaecdd-db27-4d9b-b9bb-ed7f7771b1c6",
                                        "name": "vaccine"
                                    },
                                    "events": [
                                        {
                                            "createdAt": "2021-11-22 11:43:39.161115",
                                            "activity": "uploaded",
                                            "initator": {
                                                "name": "Test client",
                                                "type": "apiClient",
                                                "userAgent": "PostmanRuntime/7.28.4",
                                                "IP": "223.179.144.102, 172.31.28.227"
                                            },
                                            "metaData": {}
                                        },
                                        {
                                            "createdAt": "2021-11-22 11:44:32.468027",
                                            "activity": "notified",
                                            "initator": {
                                                "name": "Test client",
                                                "type": "apiClient",
                                                "userAgent": "PostmanRuntime/7.28.4",
                                                "IP": "223.179.144.102, 172.31.28.227"
                                            },
                                            "metaData": {
                                                "signers": [
                                                    {
                                                        "identifier": "9876543210",
                                                        "displayName": "Akshay P"
                                                    },
                                                    {
                                                        "identifier": "7042484922",
                                                        "displayName": "Rahul"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "createdAt": "2021-11-22 11:44:55.497584",
                                            "activity": "opened",
                                            "initator": {
                                                "name": "Akshay P",
                                                "type": "signer",
                                                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36",
                                                "IP": "172.31.42.133"
                                            },
                                            "metaData": {}
                                        },
                                        {
                                            "createdAt": "2021-11-22 11:46:41.198454",
                                            "activity": "signed",
                                            "initator": {
                                                "name": "Akshay P",
                                                "type": "signer",
                                                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36",
                                                "IP": "172.31.4.118"
                                            },
                                            "metaData": {
                                                "signatureDetails": {
                                                    "gender": "M",
                                                    "issuer": "NSDL e-Governance Infrastructure Limited",
                                                    "birthYear": "1993",
                                                    "validFrom": "2021-11-22 11:50:47",
                                                    "validUpto": "2021-11-22 12:20:46",
                                                    "postalCode": "201300",
                                                    "aadhaarName": "Rahul Roy",
                                                    "serialNumber": "1784230000",
                                                    "aadhaarSuffix": "5340"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/documents/{id}": {
            "get": {
                "summary": "Download document",
                "operationId": "Downloaddocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{document_id}}"
                        }
                    },
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "test-client"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f12"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "891707ee-d6cd-4744-a28d-058829e30f13"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Downloaddocument"
                                },
                                "example": {
                                    "documentType": "application/pdf",
                                    "downloadUrl": "https://s3-link-goes-here.com",
                                    "id": "d784d36c-88c8-4670-b320-d164cad73d8c",
                                    "name": "random name"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        }
    },
    "components": {
        "schemas": {
            "parameters": {
                "title": "parameters",
                "required": [
                    "name",
                    "fundraiser",
                    "beneficiaryName",
                    "beneficiaryRelationship",
                    "date",
                    "amount",
                    "account",
                    "accountHolderRelationship"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "fundraiser": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "beneficiaryName": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "beneficiaryRelationship": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "date": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "amount": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "account": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    },
                    "accountHolderRelationship": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": ""
                    }
                },
                "example": {
                    "name": [100, 590],
                    "fundraiser": [100, 565],
                    "beneficiaryName": [210, 540],
                    "beneficiaryRelationship": [250, 515],
                    "date": [90, 487],
                    "amount": [350, 487],
                    "account": [410, 462],
                    "accountHolderRelationship": [270, 437]
                }
            },
            "CreateSigRequestConfigRequest": {
                "title": "CreateSigRequestconfigRequest",
                "required": [
                    "documentId",
                    "redirectUrl",
                    "configId",
                    "signers"
                ],
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "redirectUrl": {
                        "type": "string"
                    },
                    "configId": {
                        "type": "string"
                    },
                    "signers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SignerConfigCreateReq"
                        },
                        "description": ""
                    }
                },
                "example": {
                    "documentId": "{{document_id}}",
                    "redirectUrl": "http://setu.co",
                    "configId": "7965d8d7-98a5-4ae8-9748-ced05449b6e7",
                    "signers": [
                        {
                            "identifier": "7042484922",
                            "displayName": "Rahul Roy",
                            "signerNo": 1
                        },
                        {
                            "identifier": "7042484933",
                            "displayName": "Karan singh",
                            "signerNo": 2
                        }
                    ]
                }
            },
            "SignerConfigCreateReq": {
                "title": "SignerConfigCreateReq",
                "required": ["identifier", "displayName", "signerNo"],
                "type": "object",
                "properties": {
                    "identifier": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "signerNo": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "example": {
                    "identifier": "7042484922",
                    "displayName": "Rahul Roy",
                    "signerNo": 1
                }
            },
            "SuccessCreateSigReqConfig": {
                "title": "Success",
                "required": [
                    "documentId",
                    "id",
                    "redirectUrl",
                    "signers",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "redirectUrl": {
                        "type": "string"
                    },
                    "signers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Signer1"
                        },
                        "description": ""
                    },
                    "status": {
                        "type": "string"
                    }
                },
                "example": {
                    "documentId": "91fba655-95d3-4ffd-a47f-5e122024b00c",
                    "id": "6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12",
                    "redirectUrl": "http://setu.co",
                    "signers": [
                        {
                            "displayName": "Rahul Roy",
                            "id": "34f94af1-a8b9-4797-b287-c5ef7bff99a1",
                            "identifier": "9876543210",
                            "signatureDetails": null,
                            "errCode": null,
                            "status": "pending",
                            "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99a1"
                        }
                    ],
                    "status": "sign_initiated"
                }
            },
            "signingConfig": {
                "title": "signingConfig",
                "required": ["signers"],
                "type": "object",
                "properties": {
                    "signers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SigningSchema"
                        },
                        "description": ""
                    }
                }
            },
            "SigningSchema": {
                "title": "SigningSchema",
                "required": ["optional", "signRectangles"],
                "type": "object",
                "properties": {
                    "optional": {
                        "type": "boolean"
                    },
                    "signRectangles": {
                        "type": "array",
[...]
