{
  "openapi": "3.0.0",
  "info": {
    "title": "Data Gateway - Bank account verification (Reverse Penny drop)",
    "description": "**Bank Account Verification**\nConfirm the validity of an account from the account holder’s bank, with reverse penny-drop (Get the user to penny-drop via UPI!). ",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://dg-sandbox.setu.co",
      "variables": {}
    }
  ],
  "paths": {
    "/api/verify/ban/reverse": {
      "post": {
        "tags": [
          "Reverse Penny Drop"
        ],
        "summary": "Create RPD (without body)",
        "operationId": "CreateRPD(withoutbody)",
        "parameters": [
          {
            "name": "x-client-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{client_id}}"
            }
          },
          {
            "name": "x-client-secret",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{secret}}"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Fri, 14 Oct 2022 05:22:34 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "401"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "openresty"
                  }
                }
              },
              "Permissions-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "interest-cohort=()"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "DENY"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "default-src 'self'; img-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com; script-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com 'unsafe-inline'; style-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com fonts.googleapis.com 'unsafe-inline'; font-src fonts.gstatic.com"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "strict-origin-when-cross-origin"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31556926; includeSubDomains"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success10"
                    },
                    {
                      "example": {
                        "id": "81f4d2dd-6d32-48b0-8060-4976ea7acffc",
                        "shortUrl": "https://sandbox.bills.pe/4qb3gymfvq2j",
                        "status": "BAV_REVERSE_PENNY_DROP_CREATED",
                        "traceId": "1-6348f219-48d54db111bd597b588d8ebb",
                        "upiBillId": "1005098383142028542",
                        "upiLink": "upi://pay?pa=bauvatest@kaypay&pn=BauvaTest&am=1.00&tr=1005098383142028542&tn=Account%20Verification&cu=INR&mode=04",
                        "validUpto": "2022-10-14T05:25:34.087479"
                      }
                    }
                  ]
                },
                "example": {
                  "id": "81f4d2dd-6d32-48b0-8060-4976ea7acffc",
                  "shortUrl": "https://sandbox.bills.pe/4qb3gymfvq2j",
                  "status": "BAV_REVERSE_PENNY_DROP_CREATED",
                  "traceId": "1-6348f219-48d54db111bd597b588d8ebb",
                  "upiBillId": "1005098383142028542",
                  "upiLink": "upi://pay?pa=bauvatest@kaypay&pn=BauvaTest&am=1.00&tr=1005098383142028542&tn=Account%20Verification&cu=INR&mode=04",
                  "validUpto": "2022-10-14T05:25:34.087479"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Fri, 14 Oct 2022 05:22:01 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "openresty"
                  }
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "example": "response indicates failure, status=401, body={\"error\":\"unauthorized_client\",\"error_description\":\"Invalid client secret\"}\n"
                },
                "example": "response indicates failure, status=401, body={\"error\":\"unauthorized_client\",\"error_description\":\"Invalid client secret\"}\n"
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/verify/ban/reverse/mock_payment/{requestId}": {
      "post": {
        "tags": [
          "Reverse Penny Drop"
        ],
        "summary": "Mock Payment",
        "operationId": "MockPayment",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{request_id}}"
            }
          },
          {
            "name": "x-client-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{client_id}}"
            }
          },
          {
            "name": "x-client-secret",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{secret}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Fri, 14 Oct 2022 05:27:29 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "67"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "openresty"
                  }
                }
              },
              "Permissions-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "interest-cohort=()"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "DENY"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "default-src 'self'; img-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com; script-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com 'unsafe-inline'; style-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com fonts.googleapis.com 'unsafe-inline'; font-src fonts.gstatic.com"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "strict-origin-when-cross-origin"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31556926; includeSubDomains"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success12"
                    },
                    {
                      "example": {
                        "success": true,
                        "traceId": "1-6348f340-742786432dd0e7e13bdbc7a4"
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "traceId": "1-6348f340-742786432dd0e7e13bdbc7a4"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/verify/ban/reverse/{requestId}": {
      "get": {
        "tags": [
          "Reverse Penny Drop"
        ],
        "summary": "Get Details",
        "operationId": "GetDetails",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{request_id}}"
            }
          },
          {
            "name": "x-client-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{client_id}}"
            }
          },
          {
            "name": "x-client-secret",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{secret}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Fri, 14 Oct 2022 05:28:07 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "626"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "openresty"
                  }
                }
              },
              "Permissions-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "interest-cohort=()"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "DENY"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "default-src 'self'; img-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com; script-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com 'unsafe-inline'; style-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com fonts.googleapis.com 'unsafe-inline'; font-src fonts.gstatic.com"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "strict-origin-when-cross-origin"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31556926; includeSubDomains"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success13"
                    },
                    {
                      "example": {
                        "additionalData": null,
                        "data": {
                          "accountType": "UNKNOWN",
                          "bankAccountIfsc": "SETU0000012",
                          "bankAccountName": "Noresh",
                          "bankAccountNumber": "9009120939129",
                          "ifscCrossCheck": false,
                          "payerVpa": "customer@vpa"
                        },
                        "id": "1af36b4e-681e-48a2-a15c-3b92da00e4c4",
                        "shortUrl": "https://sandbox.bills.pe/vnl056cniwrk",
                        "status": "BAV_REVERSE_PENNY_DROP_PAYMENT_SUCCESSFUL",
                        "traceId": "1-6348f366-55c47bbe132d78441bbe4623",
                        "upiBillId": "1005100812449350916",
                        "upiLink": "upi://pay?pa=bauvatest@kaypay&pn=BauvaTest&am=1.00&tr=1005100812449350916&tn=Account%20Verification&cu=INR&mode=04",
                        "validUpto": "2022-10-14T05:30:23.683631"
                      }
                    }
                  ]
                },
                "example": {
                  "additionalData": null,
                  "data": {
                    "accountType": "UNKNOWN",
                    "bankAccountIfsc": "SETU0000012",
                    "bankAccountName": "Noresh",
                    "bankAccountNumber": "9009120939129",
                    "ifscCrossCheck": false,
                    "payerVpa": "customer@vpa"
                  },
                  "id": "1af36b4e-681e-48a2-a15c-3b92da00e4c4",
                  "shortUrl": "https://sandbox.bills.pe/vnl056cniwrk",
                  "status": "BAV_REVERSE_PENNY_DROP_PAYMENT_SUCCESSFUL",
                  "traceId": "1-6348f366-55c47bbe132d78441bbe4623",
                  "upiBillId": "1005100812449350916",
                  "upiLink": "upi://pay?pa=bauvatest@kaypay&pn=BauvaTest&am=1.00&tr=1005100812449350916&tn=Account%20Verification&cu=INR&mode=04",
                  "validUpto": "2022-10-14T05:30:23.683631"
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Fri, 14 Oct 2022 05:28:29 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "154"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "openresty"
                  }
                }
              },
              "Permissions-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "interest-cohort=()"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "DENY"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "default-src 'self'; img-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com; script-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com 'unsafe-inline'; style-src 'self' data-gateway-resources.s3.ap-south-1.amazonaws.com fonts.googleapis.com 'unsafe-inline'; font-src fonts.gstatic.com"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "strict-origin-when-cross-origin"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31556926; includeSubDomains"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Failure-NotFound1"
                    },
                    {
                      "example": {
                        "error": {
                          "code": "request_not_found",
                          "detail": "Unable to find the BAV reverse penny drop request.",
                          "traceId": "1-6348f37d-0a98296b43325b78627a65a7"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "error": {
                    "code": "request_not_found",
                    "detail": "Unable to find the BAV reverse penny drop request.",
                    "traceId": "1-6348f37d-0a98296b43325b78627a65a7"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/auth/realms/datagateway/protocol/openid-connect/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get Auth token",
        "operationId": "GetAuthtoken",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "example": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "example": "{{client_id}}"
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "{{secret}}"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "parameters": {
        "title": "parameters",
        "required": [
          "name",
          "fundraiser",
          "beneficiaryName",
          "beneficiaryRelationship",
          "date",
          "amount",
          "account",
          "accountHolderRelationship"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "fundraiser": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "beneficiaryName": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "beneficiaryRelationship": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "date": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "amount": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "account": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "accountHolderRelationship": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          }
        },
        "example": {
          "name": [
            100,
            590
          ],
          "fundraiser": [
            100,
            565
          ],
          "beneficiaryName": [
            210,
            540
          ],
          "beneficiaryRelationship": [
            250,
            515
          ],
          "date": [
            90,
            487
          ],
          "amount": [
            350,
            487
          ],
          "account": [
            410,
            462
          ],
          "accountHolderRelationship": [
            270,
            437
          ]
        }
      },
      "UploadeSigndocumenttemplate": {
        "title": "UploadeSigndocumenttemplate",
        "required": [
          "downloadUrl",
          "id",
          "parameters"
        ],
        "type": "object",
        "properties": {
          "downloadUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "parameters": {
            "$ref": "#/components/schemas/parameters"
          }
        },
        "example": {
          "downloadUrl": "https://s3-link-goes-here.com",
          "id": "6ff6abc2-3306-4133-885a-245d5d9f69dc",
          "parameters": {
            "account": [
              410,
              462
            ],
            "accountHolderRelationship": [
              270,
              437
            ],
            "amount": [
              350,
              487
            ],
            "beneficiaryName": [
              210,
              540
            ],
            "beneficiaryRelationship": [
              250,
              515
            ],
            "date": [
              90,
              487
            ],
            "fundraiser": [
              100,
              565
            ],
            "name": [
              100,
              590
            ]
          }
        }
      },
      "RendereSigndocumenttemplateRequest": {
        "title": "RendereSigndocumenttemplateRequest",
        "required": [
          "name",
          "parameters"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parameters": {
            "$ref": "#/components/schemas/Parameters2"
          }
        },
        "example": {
          "name": "random name",
          "parameters": {
            "name": "your name",
            "fundraiser": "fundraiser name",
            "beneficiaryName": "beneficiary name",
            "beneficiaryRelationship": "beneficiary relationship",
            "date": "15/12/2021",
            "amount": "25,000",
            "account": "123456789",
            "accountHolderRelationship": "account holder relationship"
          }
        }
      },
      "Parameters2": {
        "title": "Parameters2",
        "required": [
          "name",
          "fundraiser",
          "beneficiaryName",
          "beneficiaryRelationship",
          "date",
          "amount",
          "account",
          "accountHolderRelationship"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fundraiser": {
            "type": "string"
          },
          "beneficiaryName": {
            "type": "string"
          },
          "beneficiaryRelationship": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "accountHolderRelationship": {
            "type": "string"
          }
        },
        "example": {
          "name": "your name",
          "fundraiser": "fundraiser name",
          "beneficiaryName": "beneficiary name",
          "beneficiaryRelationship": "beneficiary relationship",
          "date": "15/12/2021",
          "amount": "25,000",
          "account": "123456789",
          "accountHolderRelationship": "account holder relationship"
        }
      },
      "RendereSigndocumenttemplate": {
        "title": "RendereSigndocumenttemplate",
        "required": [
          "documentType",
          "downloadUrl",
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string"
          },
          "downloadUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "documentType": "application/pdf",
          "downloadUrl": "https://s3-link-goes-here.com",
          "id": "d784d36c-88c8-4670-b320-d164cad73d8c",
          "name": "random name"
        }
      },
      "GetTemplate": {
        "title": "GetTemplate",
        "required": [
          "downloadUrl",
          "id",
          "parameters"
        ],
        "type": "object",
        "properties": {
          "downloadUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "parameters": {
            "$ref": "#/components/schemas/parameters"
          }
        },
        "example": {
          "downloadUrl": "https://s3-link-goes-here.com",
          "id": "6ff6abc2-3306-4133-885a-245d5d9f69dc",
          "parameters": {
            "account": [
              410,
              462
            ],
            "accountHolderRelationship": [
              270,
              437
            ],
            "amount": [
              350,
              487
            ],
            "beneficiaryName": [
              210,
              540
            ],
            "beneficiaryRelationship": [
              250,
              515
            ],
            "date": [
              90,
              487
            ],
            "fundraiser": [
              100,
              565
            ],
            "name": [
              100,
              590
            ]
          }
        }
      },
      "Thedocumentwassuccessfullyuploaded": {
        "title": "Thedocumentwassuccessfullyuploaded",
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "id": "67e0ca30-49e4-4883-86f9-3762f0e6798c",
          "name": "sample.pdf"
        }
      },
      "CreateSignatureRequestRequest": {
        "title": "CreateSignatureRequestRequest",
        "required": [
          "documentId",
          "redirectUrl",
          "signers"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            },
            "description": ""
          }
        },
        "example": {
          "documentId": "{{document_id}}",
          "redirectUrl": "http://setu.co",
          "signers": [
            {
              "identifier": "898925663929",
              "displayName": "Ashok Saini",
              "yearOfBirth": "1991",
              "signature": {
                "height": 60,
                "onPages": [
                  "1"
                ],
                "position": "bottom-right",
                "width": 180
              }
            }
          ]
        }
      },
      "Signer": {
        "title": "Signer",
        "required": [
          "identifier",
          "displayName",
          "yearOfBirth",
          "signature"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "yearOfBirth": {
            "type": "string"
          },
          "signature": {
            "$ref": "#/components/schemas/Signature"
          }
        },
        "example": {
          "identifier": "898925663929",
          "displayName": "Ashok Saini",
          "yearOfBirth": "1991",
          "signature": {
            "height": 60,
            "onPages": [
              "1"
            ],
            "position": "bottom-right",
            "width": 180
          }
        }
      },
      "Signature": {
        "title": "Signature",
        "required": [
          "height",
          "onPages",
          "position",
          "width"
        ],
        "type": "object",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "onPages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "position": {
            "type": "string"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        },
        "example": {
          "height": 60,
          "onPages": [
            "1"
          ],
          "position": "bottom-right",
          "width": 180
        }
      },
      "Success": {
        "title": "Success",
        "required": [
          "documentId",
          "id",
          "redirectUrl",
          "signers",
          "status"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer1"
            },
            "description": ""
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "documentId": "91fba655-95d3-4ffd-a47f-5e122024b00c",
          "id": "6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12",
          "redirectUrl": "http://setu.co",
          "signers": [
            {
              "displayName": "Akshay P",
              "id": "34f94af1-a8b9-4797-b287-c5ef7bff99a1",
              "identifier": "9876543210",
              "signatureDetails": null,
              "status": "pending",
              "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99a1"
            }
          ],
          "status": "sign_initiated"
        }
      },
      "Signer1": {
        "title": "Signer1",
        "required": [
          "displayName",
          "id",
          "identifier",
          "signatureDetails",
          "status",
          "url"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "signatureDetails": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "example": {
          "displayName": "Akshay P",
          "id": "34f94af1-a8b9-4797-b287-c5ef7bff99a1",
          "identifier": "9876543210",
          "signatureDetails": null,
          "status": "pending",
          "url": "https://dg-uat.setu.co/signature/preview?requestId=6bae9d1f-0fa6-44e5-a801-3ad4a5f10a12&signerId=34f94af1-a8b9-4797-b287-c5ef7bff99a1"
        }
      },
      "Error": {
        "title": "Error",
        "required": [
          "code",
          "detail",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        },
        "example": {
          "code": "invalid_document",
          "detail": "The document Id is already being used in a signature",
          "traceId": ""
        }
      },
      "Invaliddocument1": {
        "title": "Invaliddocument1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "invalid_document",
            "detail": "The document Id is already being used in a signature",
            "traceId": ""
          }
        }
      },
      "Invalidpayload1": {
        "title": "Invalidpayload1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "invalid_payload",
            "detail": "Invalid position value.",
            "traceId": ""
          }
        }
      },
      "Successpendingsign": {
        "title": "Successpendingsign",
        "required": [
          "documentId",
          "id",
          "redirectUrl",
          "signers",
          "status"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer1"
            },
            "description": ""
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "documentId": "50ce4004-2133-4b39-8c5f-6522714ae2d0",
          "id": "5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b",
          "redirectUrl": "http://setu.co",
          "signers": [
            {
              "displayName": "Akshay P",
              "id": "9d9e47f7-9c24-4587-8775-f01b17e6fc4d",
              "identifier": "9876543210",
              "signatureDetails": null,
              "status": "pending",
              "url": "https://dg-uat.setu.co/signature/preview?requestId=5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b&signerId=9d9e47f7-9c24-4587-8775-f01b17e6fc4d"
            }
          ],
          "status": "sign_initiated"
        }
      },
      "Successdocumentsigned": {
        "title": "Successdocumentsigned",
        "required": [
          "documentId",
          "id",
          "redirectUrl",
          "signers",
          "status"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer3"
            },
            "description": ""
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "documentId": "50ce4004-2133-4b39-8c5f-6522714ae2d0",
          "id": "5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b",
          "redirectUrl": "http://setu.co",
          "signers": [
            {
              "displayName": "Akshay P",
              "id": "9d9e47f7-9c24-4587-8775-f01b17e6fc4d",
              "identifier": "9876543210",
              "signatureDetails": {
                "aadhaarName": "signer name as per aadhaar",
                "aadhaarSuffix": "XXXX",
                "birthYear": "1972",
                "gender": "M",
                "postalCode": "560001"
              },
              "status": "signed",
              "url": "https://dg-uat.setu.co/signature/preview?requestId=5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b&signerId=9d9e47f7-9c24-4587-8775-f01b17e6fc4d"
            }
          ],
          "status": "sign_complete"
        }
      },
      "Signer3": {
        "title": "Signer3",
        "required": [
          "displayName",
          "id",
          "identifier",
          "signatureDetails",
          "status",
          "url"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "signatureDetails": {
            "$ref": "#/components/schemas/SignatureDetails"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "example": {
          "displayName": "Akshay P",
          "id": "9d9e47f7-9c24-4587-8775-f01b17e6fc4d",
          "identifier": "9876543210",
          "signatureDetails": {
            "aadhaarName": "signer name as per aadhaar",
            "aadhaarSuffix": "XXXX",
            "birthYear": "1972",
            "gender": "M",
            "postalCode": "560001"
          },
          "status": "signed",
          "url": "https://dg-uat.setu.co/signature/preview?requestId=5f2eedb3-ef0e-4ae9-831b-8ae208a31b9b&signerId=9d9e47f7-9c24-4587-8775-f01b17e6fc4d"
        }
      },
      "SignatureDetails": {
        "title": "SignatureDetails",
        "required": [
          "aadhaarName",
          "aadhaarSuffix",
          "birthYear",
          "gender",
          "postalCode"
        ],
        "type": "object",
        "properties": {
          "aadhaarName": {
            "type": "string"
          },
          "aadhaarSuffix": {
            "type": "string"
          },
          "birthYear": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          }
        },
        "example": {
          "aadhaarName": "signer name as per aadhaar",
          "aadhaarSuffix": "XXXX",
          "birthYear": "1972",
          "gender": "M",
          "postalCode": "560001"
        }
      },
      "Signeddocumentdownloadurl": {
        "title": "Signeddocumentdownloadurl",
        "required": [
          "downloadUrl",
          "id",
          "validUpto"
        ],
        "type": "object",
        "properties": {
          "downloadUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "validUpto": {
            "type": "string"
          }
        },
        "example": {
          "downloadUrl": "download_url_goes_here",
          "id": "29e5a985-7d40-4b42-8260-9d9f4ef60aa1",
          "validUpto": "2021-10-28T14:09:14+05:30"
        }
      },
      "SignatureRequestnotyetcompletedcancelleddeclined1": {
        "title": "SignatureRequestnotyetcompletedcancelleddeclined1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "document_not_signed",
            "detail": "Only signed documents can be downloaded.",
            "traceId": ""
          }
        }
      },
      "SignedDocumentdeletedDocumentnotfound1": {
        "title": "SignedDocumentdeletedDocumentnotfound1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "signature_request_not_found",
            "detail": "Signature Request Not Found.",
            "traceId": ""
          }
        }
      },
      "GetEsignAuditReport": {
        "title": "GetEsignAuditReport",
        "required": [
          "id",
          "document",
          "events"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "description": ""
          }
        },
        "example": {
          "id": "805b326f-e38c-4908-8592-0d3c7200a6b4",
          "document": {
            "id": "c3eaecdd-db27-4d9b-b9bb-ed7f7771b1c6",
            "name": "vaccine"
          },
          "events": [
            {
              "createdAt": "2021-11-22 11:43:39.161115",
              "activity": "uploaded",
              "initator": {
                "name": "Test client",
                "type": "apiClient",
                "userAgent": "PostmanRuntime/7.28.4",
                "IP": "223.179.144.102, 172.31.28.227"
              },
              "metaData": {}
            },
            {
              "createdAt": "2021-11-22 11:44:32.468027",
              "activity": "notified",
              "initator": {
                "name": "Test client",
                "type": "apiClient",
                "userAgent": "PostmanRuntime/7.28.4",
                "IP": "223.179.144.102, 172.31.28.227"
              },
              "metaData": {
                "signers": [
                  {
                    "identifier": "9876543210",
                    "displayName": "Akshay P"
                  },
                  {
                    "identifier": "7042484922",
                    "displayName": "Rahul"
                  }
                ]
              }
            },
            {
              "createdAt": "2021-11-22 11:44:55.497584",
              "activity": "opened",
              "initator": {
                "name": "Akshay P",
                "type": "signer",
                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36",
                "IP": "172.31.42.133"
              },
              "metaData": {}
            },
            {
              "createdAt": "2021-11-22 11:46:41.198454",
              "activity": "signed",
              "initator": {
                "name": "Akshay P",
                "type": "signer",
                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36",
                "IP": "172.31.4.118"
              },
              "metaData": {
                "signatureDetails": {
                  "gender": "M",
                  "issuer": "NSDL e-Governance Infrastructure Limited",
                  "birthYear": "1993",
                  "validFrom": "2021-11-22 11:50:47",
                  "validUpto": "2021-11-22 12:20:46",
                  "postalCode": "201300",
                  "aadhaarName": "Rahul Roy",
                  "serialNumber": "1784230000",
                  "aadhaarSuffix": "5340"
                }
              }
            }
          ]
        }
      },
      "Document": {
        "title": "Document",
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "id": "c3eaecdd-db27-4d9b-b9bb-ed7f7771b1c6",
          "name": "vaccine"
        }
      },
      "Event": {
        "title": "Event",
        "required": [
          "createdAt",
          "activity",
          "initator",
          "metaData"
        ],
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "activity": {
            "type": "string"
          },
          "initator": {
            "$ref": "#/components/schemas/Initator"
          },
          "metaData": {
            "$ref": "#/components/schemas/MetaData"
          }
        },
        "example": {
          "createdAt": "2021-11-22 11:43:39.161115",
          "activity": "uploaded",
          "initator": {
            "name": "Test client",
            "type": "apiClient",
            "userAgent": "PostmanRuntime/7.28.4",
            "IP": "223.179.144.102, 172.31.28.227"
          },
          "metaData": {}
        }
      },
      "Initator": {
        "title": "Initator",
        "required": [
          "name",
          "type",
          "userAgent",
          "IP"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "IP": {
            "type": "string"
          }
        },
        "example": {
          "name": "Test client",
          "type": "apiClient",
          "userAgent": "PostmanRuntime/7.28.4",
          "IP": "223.179.144.102, 172.31.28.227"
        }
      },
      "MetaData": {
        "title": "MetaData",
        "type": "object",
        "properties": {
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer4"
            },
            "description": ""
          },
          "signatureDetails": {
            "$ref": "#/components/schemas/SignatureDetails1"
          }
        },
        "example": {}
      },
      "Signer4": {
        "title": "Signer4",
        "required": [
          "identifier",
          "displayName"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        },
        "example": {
          "identifier": "9876543210",
          "displayName": "Akshay P"
        }
      },
      "SignatureDetails1": {
        "title": "SignatureDetails1",
        "required": [
          "gender",
          "issuer",
          "birthYear",
          "validFrom",
          "validUpto",
          "postalCode",
          "aadhaarName",
          "serialNumber",
          "aadhaarSuffix"
        ],
        "type": "object",
        "properties": {
          "gender": {
            "type": "string"
          },
          "issuer": {
            "type": "string"
          },
          "birthYear": {
            "type": "string"
          },
          "validFrom": {
            "type": "string"
          },
          "validUpto": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "aadhaarName": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "aadhaarSuffix": {
            "type": "string"
          }
        },
        "example": {
          "gender": "M",
          "issuer": "NSDL e-Governance Infrastructure Limited",
          "birthYear": "1993",
          "validFrom": "2021-11-22 11:50:47",
          "validUpto": "2021-11-22 12:20:46",
          "postalCode": "201300",
          "aadhaarName": "Rahul Roy",
          "serialNumber": "1784230000",
          "aadhaarSuffix": "5340"
        }
      },
      "Downloaddocument": {
        "title": "Downloaddocument",
        "required": [
          "documentType",
          "downloadUrl",
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string"
          },
          "downloadUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "documentType": "application/pdf",
          "downloadUrl": "https://s3-link-goes-here.com",
          "id": "d784d36c-88c8-4670-b320-d164cad73d8c",
          "name": "random name"
        }
      },
      "CreateanOKYCRequestRequest": {
        "title": "CreateanOKYCRequestRequest",
        "required": [
          "redirectURL"
        ],
        "type": "object",
        "properties": {
          "redirectURL": {
            "type": "string"
          }
        },
        "example": {
          "redirectURL": "https://setu.co"
        }
      },
      "Success1": {
        "title": "Success1",
        "required": [
          "id",
          "url",
          "validUpto",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "validUpto": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "id": "7097e53a-ba29-48a2-983d-878433b4f33e",
          "url": "https://setuOKYCURL.co/foobar&sessionId=uuid",
          "validUpto": "Wed, 23 Jun 2021 19:33:55 GMT",
          "status": "incomplete"
        }
      },
      "Failure-BadRequest1": {
        "title": "Failure-BadRequest1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "invalid_redirect_url",
            "detail": "Please enter a valid redirect URL.",
            "traceId": ""
          }
        }
      },
      "InternalServerError1": {
        "title": "InternalServerError1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "internal_server_error",
            "detail": "Internal Server Error",
            "traceId": "7097e53a-ba29-48a2-983d-878433b4f33e"
          }
        }
      },
      "InitiateOKYCRequest": {
        "title": "InitiateOKYCRequest",
        "required": [
          "captchaImage",
          "requestId"
        ],
        "type": "object",
        "properties": {
          "captchaImage": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        },
        "example": {
          "captchaImage": "base64-Image-data",
          "requestId": "7097e53a-ba29-48a2-983d-878433b4f33e"
        }
      },
      "Success2": {
        "title": "Success2",
        "required": [
          "captchaImage",
          "captchaRetriesRemaining",
          "id"
        ],
        "type": "object",
        "properties": {
          "captchaImage": {
            "type": "string"
          },
          "captchaRetriesRemaining": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "captchaImage": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAAyAK8DASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD3+iiigAooooAKKKKACiiigAooooAKKKKACiiigAqrfalY6XAs+oXttaRM2wSXEqxqWwTjJI5wD+VWq+efEj6h8Qviu+hm5+zww3MlrArncsSxg72AAGWbYT+QzgAhpXJk7Hq0PxS8FzzxwpraBpGCgvBKigk45YqAB7k4FdVaXlrf2yXNncw3Nu+dksLh1bBwcEcHkEVwt38HfCk2kPa21vNb3flhUvfOd2DD+IqTtOe4AHU4xxjhvhXqWoeHviBceFZpfNt5ZJoZER/3azRgnzFyM8hCvbIIJ+6BTsnsLmaep7zRRRUlhRRRQAUUUUAFFFFABWNrnizQfDewatqUNs742x8u5Bzg7FBbHynnGM8Vs189W1snib47zW+qHzo/7RmBXauGWENsQjGCMRqp45Ge5zTSuNGn8Z9X0/W7Lw7eaZeQ3Vu32j54mztOIjhh1U4IyDgjPNdrf+ILvwt8FbHWrGOGS5ttOs9izqSh3eWpyAQejHvXB/Gnw/pmj3ukXOnWkNp9ojljkigjWNPkKkNhQOTvIJ9APSum8af8m6x/9g6w/wDQ4arsVFXkkcvYfG7xXq1gLbS/DsN7rIlaSQW9tLJGtuAoHyKxbduJycgAbRgk8e0+HtQl1bwzpWpTqizXdnDPIsYIUM6BiBkk4yfWvN/2fYIl8FajOIkEz6iyNIFG5lWOMqCepALNgdtx9a9apSteyKq8qfKkfN/7QP8AyPlj/wBgyP8A9Gy1u/8ADOf/AFNX/lP/APttYX7QP/I+WP8A2DI//Rstbv8Awzn/ANTV/wCU/wD+20+hz21PVvB3hz/hEvCllof2v7V9m3/vvL8vdudn+7k4xux17Vu1zz6hpPgDwdYLrOpJFa2UENp57IcysqhRtQZJJwTgZwAT0BNcL/w0R4R/6B2t/wDfiL/47U2bKvY9br581+O7+H3xeGt3ELy2c929zHJ5fEkcmfMVfm+8odhyRyFJGCK900XWtP8AEOkQarpVx9osp93ly7GTdtYqeGAI5BHSpb7TbHVIFg1CytruJW3iO4iWRQ2CM4IPOCfzoTsKSucTd/GLwpDpD3VtcTXF35YZLLyXRix/hLEbRjuQT0OM8Z4b4V6bqHiH4gXHiqaLyreKSaaR0T9200gI8tcnPAct3wAAfvA16TD8LfBcE8cyaIhaNgwDzyupIOeVLEEexGDXVWlna2FsltZ20NtbpnZFCgRVycnAHA5JNO6WwuVt6k1FFFSWFFFFABRRRQAUUUUAFeYeLPhbd33iceIvDt/b2l6ZknMM8eEWRefMBAOSSFJBU5JYk84r0+imnYDyDxP8LPE/iL7FeXevWl7qSxmOd5k8lEXgqqBEO7DGTLHGQV4FegxeGLS88EWfhzWoUuYEtIIJ0SRlV2jC9GGGxuUHtW9RRdjuZPh/w1pHhawksdFtPsttJKZmTzHfLkAE5Yk9FH5VrUUUhN33PN/iB8KP+E616DVP7a+w+Varb+X9l83OGZs53r/e6Y7Vyn/DOf8A1NX/AJT/AP7bXudFO7FZHlviD4UXd78KdO8I2GqQPc6fdG5SeeIxpLlpMg4LFcCU88529s5HJ6Drfjn4R+FVj1bwVavo0TndNBcIsplduHlZGcEY+TJUfwDPQH1zxn4Sh8Y6PDZPf3VhPbXAura5tiA0cyqwRj3IBbOAQeBgivOtR+B+uaxbrb6n8RtRvYFfesdzA8ihsEZAaYjOCefc00+4rdjvfh54i0bxN4Rt7vQ7FNPt43aKSyjjCLBLwzKMAAj5g2QOd3ODkDqqxPCnhbTvB2gRaPpgcwI7O0ku3zJGY5yxUAE4wM46KB2rbqWUFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB/",
          "captchaRetriesRemaining": 4,
          "id": "0d209de1-77d1-4069-ad71-3f2cddf261f9"
        }
      },
      "Exceededcaptcharequests1": {
        "title": "Exceededcaptcharequests1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "exceeded_captcha_requests",
            "detail": "Exceeded captcha requests",
            "traceId": ""
          }
        }
      },
      "Error14": {
        "title": "Error14",
        "required": [
          "code",
          "detail",
          "traceID"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "traceID": {
            "type": "string"
          }
        },
        "example": {
          "code": "internal_server_error",
          "detail": "Internal Server Error.",
          "traceID": ""
        }
      },
      "Internalservererror3": {
        "title": "Internalservererror3",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error14"
          }
        },
        "example": {
          "error": {
            "code": "internal_server_error",
            "detail": "Internal Server Error.",
            "traceID": ""
          }
        }
      },
      "UpstreamServicesDown1": {
        "title": "UpstreamServicesDown1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error14"
          }
        },
        "example": {
          "error": {
            "code": "internal_server_error",
            "detail": "Upstream services are down",
            "traceID": ""
          }
        }
      },
      "APIonlyVerifyOKYCRequestRequest": {
        "title": "APIonlyVerifyOKYCRequestRequest",
        "required": [
          "aadhaarNumber",
          "captchaCode"
        ],
        "type": "object",
        "properties": {
          "aadhaarNumber": {
            "type": "string"
          },
          "captchaCode": {
            "type": "string"
          }
        },
        "example": {
          "aadhaarNumber": "999999990019",
          "captchaCode": "2GAD0"
        }
      },
      "Success3": {
        "title": "Success3",
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "code": "otp_sent",
          "message": "OTP sent to your registered mobile number."
        }
      },
      "Invalidcaptchaentered1": {
        "title": "Invalidcaptchaentered1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "invalid_captcha_entered",
            "detail": "Invalid captcha entered",
            "traceId": ""
          }
        }
      },
      "Invalidrequestorder": {
        "title": "Invalidrequestorder",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "invalid_sequence",
            "detail": "Invalid request order.",
            "traceId": ""
          }
        }
      },
      "RequestNotFound1": {
        "title": "RequestNotFound1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "request_not_found",
            "detail": "Request not found.",
            "traceId": ""
          }
        }
      },
      "APIonlyCompleteOKYCRequestRequest": {
        "title": "APIonlyCompleteOKYCRequestRequest",
        "required": [
          "otp",
          "shareCode"
        ],
        "type": "object",
        "properties": {
          "otp": {
            "type": "string"
          },
          "shareCode": {
            "type": "string"
          }
        },
        "example": {
          "otp": "123456",
          "shareCode": "1234"
        }
      },
      "CompleteOKYCRequest": {
        "title": "CompleteOKYCRequest",
        "required": [
          "aadhaar",
          "id"
        ],
        "type": "object",
        "properties": {
          "aadhaar": {
            "$ref": "#/components/schemas/Aadhaar"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "aadhaar": {
            "address": {
              "careOf": "S/O: Mohan",
              "country": "India",
              "district": "Bangalore",
              "house": "# 90 1 Cross",
              "landmark": "Near PO",
              "locality": "M.G. Road",
              "pin": "560072",
              "postOffice": "M.G Road",
              "state": "Karnataka",
              "street": "M.G.Road 1st Main Road",
              "subDistrict": "Bangalore North",
              "vtc": "Bangalore North"
            },
            "dateOfBirth": "22-01-1980",
            "email": "550fa5fd91eee3f29f6361a8c89aa9713d4d38811d1a5",
            "gender": "M",
            "generatedAt": "20210419145604802",
            "maskedNumber": "xxxx-xxxx-8112",
            "name": "Aditya Mohan",
            "phone": "09c91184c1d610282d661dd63d257e3b44446853fb1388c9d5b",
            "photo": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKD==",
            "verified": {
              "email": false,
              "phone": false,
              "signature": true
            },
            "xml": {
              "fileUrl": "https://setus3linkgoeshere.com/",
              "validUntil": 12345678
            }
          },
          "id": "7097e53a-ba29-48a2-983d-878433b4f33e"
        }
      },
      "Aadhaar": {
        "title": "Aadhaar",
        "required": [
          "address",
          "dateOfBirth",
          "email",
          "gender",
          "generatedAt",
          "maskedNumber",
          "name",
          "phone",
          "photo",
          "verified",
          "xml"
        ],
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "generatedAt": {
            "type": "string"
          },
          "maskedNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "photo": {
            "type": "string"
          },
          "verified": {
            "$ref": "#/components/schemas/Verified"
          },
          "xml": {
            "$ref": "#/components/schemas/Xml"
          }
        },
        "example": {
          "address": {
            "careOf": "S/O: Mohan",
            "country": "India",
            "district": "Bangalore",
            "house": "# 90 1 Cross",
            "landmark": "Near PO",
            "locality": "M.G. Road",
            "pin": "560072",
            "postOffice": "M.G Road",
            "state": "Karnataka",
            "street": "M.G.Road 1st Main Road",
            "subDistrict": "Bangalore North",
            "vtc": "Bangalore North"
          },
          "dateOfBirth": "22-01-1980",
          "email": "550fa5fd91eee3f29f6361a8c89aa9713d4d38811d1a5",
          "gender": "M",
          "generatedAt": "20210419145604802",
          "maskedNumber": "xxxx-xxxx-8112",
          "name": "Aditya Mohan",
          "phone": "09c91184c1d610282d661dd63d257e3b44446853fb1388c9d5b",
          "photo": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKD==",
          "verified": {
            "email": false,
            "phone": false,
            "signature": true
          },
          "xml": {
            "fileUrl": "https://setus3linkgoeshere.com/",
            "validUntil": 12345678
          }
        }
      },
      "Address": {
        "title": "Address",
        "required": [
          "careOf",
          "country",
          "district",
          "house",
          "landmark",
          "locality",
          "pin",
          "postOffice",
          "state",
          "street",
          "subDistrict",
          "vtc"
        ],
        "type": "object",
        "properties": {
          "careOf": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "house": {
            "type": "string"
          },
          "landmark": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "pin": {
            "type": "string"
          },
          "postOffice": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "subDistrict": {
            "type": "string"
          },
          "vtc": {
            "type": "string"
          }
        },
        "example": {
          "careOf": "S/O: Mohan",
          "country": "India",
          "district": "Bangalore",
          "house": "# 90 1 Cross",
          "landmark": "Near PO",
          "locality": "M.G. Road",
          "pin": "560072",
          "postOffice": "M.G Road",
          "state": "Karnataka",
          "street": "M.G.Road 1st Main Road",
          "subDistrict": "Bangalore North",
          "vtc": "Bangalore North"
        }
      },
      "Verified": {
        "title": "Verified",
        "required": [
          "email",
          "phone",
          "signature"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "boolean"
          },
          "phone": {
            "type": "boolean"
          },
          "signature": {
            "type": "boolean"
          }
        },
        "example": {
          "email": false,
          "phone": false,
          "signature": true
        }
      },
      "Xml": {
        "title": "Xml",
        "required": [
          "fileUrl",
          "validUntil"
        ],
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string"
          },
          "validUntil": {
            "type": "integer",
            "format": "int32"
          }
        },
        "example": {
          "fileUrl": "https://setus3linkgoeshere.com/",
          "validUntil": 12345678
        }
      },
      "Withasharecode": {
        "title": "Withasharecode",
        "required": [
          "aadhaar",
          "status",
          "id"
        ],
        "type": "object",
        "properties": {
          "aadhaar": {
            "$ref": "#/components/schemas/Aadhaar1"
          },
          "status": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "aadhaar": {
            "address": {
              "careOf": "S/O: Gurjar Pradeep",
              "country": "India",
              "district": "Bangalore",
              "house": "# 90 1 Cross",
              "landmark": "Near Talkies",
              "locality": "Nagarabhavi",
              "pin": "560072",
              "postOffice": "Nagarbhavi",
              "state": "Karnataka",
              "street": "Nagarbhavi 1st Main Road",
              "subDistrict": "Bangalore North",
              "vtc": "Bangalore North"
            },
            "dateOfBirth": "23-05-1990",
            "email": "550fa5fd91eee3f29f6361a8c89aa9713d4d38811d1a5",
            "gender": "M",
            "generatedAt": "20210419145604802",
            "maskedNumber": "xxxx-xxxx-8832",
            "name": "Jignesh Gurjar",
            "phone": "09c91184c1d610282d661dd63d257e3b44446853fb1388c9d5b",
            "photo": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKD==",
            "verified": {
              "email": false,
              "phone": false,
              "signature": true
            },
            "xml": {
              "fileUrl": "https://setus3linkgoeshere.com/",
              "validUntil": "Wed, 23 Jun 2021 19:33:55 GMT",
              "shareCode": "1234"
            }
          },
          "status": "complete",
          "id": "7097e53a-ba29-48a2-983d-878433b4f33e"
        }
      },
      "Aadhaar1": {
        "title": "Aadhaar1",
        "required": [
          "address",
          "dateOfBirth",
          "email",
          "gender",
          "generatedAt",
          "maskedNumber",
          "name",
          "phone",
          "photo",
          "verified",
          "xml"
        ],
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "generatedAt": {
            "type": "string"
          },
          "maskedNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "photo": {
            "type": "string"
          },
          "verified": {
            "$ref": "#/components/schemas/Verified"
          },
          "xml": {
            "$ref": "#/components/schemas/Xml1"
          }
        },
        "example": {
          "address": {
            "careOf": "S/O: Gurjar Pradeep",
            "country": "India",
            "district": "Bangalore",
            "house": "# 90 1 Cross",
            "landmark": "Near Talkies",
            "locality": "Nagarabhavi",
            "pin": "560072",
            "postOffice": "Nagarbhavi",
            "state": "Karnataka",
            "street": "Nagarbhavi 1st Main Road",
            "subDistrict": "Bangalore North",
            "vtc": "Bangalore North"
          },
          "dateOfBirth": "23-05-1990",
          "email": "550fa5fd91eee3f29f6361a8c89aa9713d4d38811d1a5",
          "gender": "M",
          "generatedAt": "20210419145604802",
          "maskedNumber": "xxxx-xxxx-8832",
          "name": "Jignesh Gurjar",
          "phone": "09c91184c1d610282d661dd63d257e3b44446853fb1388c9d5b",
          "photo": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKD==",
          "verified": {
            "email": false,
            "phone": false,
            "signature": true
          },
          "xml": {
            "fileUrl": "https://setus3linkgoeshere.com/",
            "validUntil": "Wed, 23 Jun 2021 19:33:55 GMT",
            "shareCode": "1234"
          }
        }
      },
      "Xml1": {
        "title": "Xml1",
        "required": [
          "fileUrl",
          "validUntil",
          "shareCode"
        ],
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string"
          },
          "validUntil": {
            "type": "string"
          },
          "shareCode": {
            "type": "string"
          }
        },
        "example": {
          "fileUrl": "https://setus3linkgoeshere.com/",
          "validUntil": "Wed, 23 Jun 2021 19:33:55 GMT",
          "shareCode": "1234"
        }
      },
      "Withoutasharecode": {
        "title": "Withoutasharecode",
        "required": [
          "aadhaar",
          "status",
          "id"
        ],
        "type": "object",
        "properties": {
          "aadhaar": {
            "$ref": "#/components/schemas/Aadhaar2"
          },
          "status": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "aadhaar": {
            "xml": {
              "fileUrl": "https://setus3linkgoeshere.com/",
              "validUntil": "Wed, 23 Jun 2021 19:33:55 GMT"
            }
          },
          "status": "complete",
          "id": "7097e53a-ba29-48a2-983d-878433b4f33e"
        }
      },
      "Aadhaar2": {
        "title": "Aadhaar2",
        "required": [
          "xml"
        ],
        "type": "object",
        "properties": {
          "xml": {
            "$ref": "#/components/schemas/Xml2"
          }
        },
        "example": {
          "xml": {
            "fileUrl": "https://setus3linkgoeshere.com/",
            "validUntil": "Wed, 23 Jun 2021 19:33:55 GMT"
          }
        }
      },
      "Xml2": {
        "title": "Xml2",
        "required": [
          "fileUrl",
          "validUntil"
        ],
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string"
          },
          "validUntil": {
            "type": "string"
          }
        },
        "example": {
          "fileUrl": "https://setus3linkgoeshere.com/",
          "validUntil": "Wed, 23 Jun 2021 19:33:55 GMT"
        }
      },
      "Incompleterequest": {
        "title": "Incompleterequest",
        "required": [
          "url",
          "id",
          "validUpto",
          "status"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "validUpto": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "url": "https://setuOKYCURL.co/foobar&someId=uuid",
          "id": "7097e53a-ba29-48a2-983d-878433b4f33e",
          "validUpto": "Wed, 23 Jun 2021 19:33:55 GMT",
          "status": "incomplete"
        }
      },
      "Upstreamservicedown1": {
        "title": "Upstreamservicedown1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error14"
          }
        },
        "example": {
          "error": {
            "code": "internal_server_error",
            "detail": "Upstream service error",
            "traceID": ""
          }
        }
      },
      "CreateaDigilockerRequestRequest": {
        "title": "CreateaDigilockerRequestRequest",
        "required": [
          "redirectUrl"
        ],
        "type": "object",
        "properties": {
          "redirectUrl": {
            "type": "string"
          }
        },
        "example": {
          "redirectUrl": "https://setu.co"
        }
      },
      "InvalidredirectURL1": {
        "title": "InvalidredirectURL1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "invalid_redirect_url",
            "detail": "Please enter a valid redirect URL.",
            "traceId": ""
          }
        }
      },
      "FetchadocumentRequest": {
        "title": "FetchadocumentRequest",
        "required": [
          "docType",
          "format",
          "consent"
        ],
        "type": "object",
        "properties": {
          "docType": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "consent": {
            "type": "string"
          }
        },
        "example": {
          "docType": "ADHAR",
          "format": "pdf",
          "consent": "Y"
        }
      },
      "Consentnotgiven1": {
        "title": "Consentnotgiven1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "consent_not_given",
            "detail": "Only accepted value for consent is 'Y'",
            "traceId": ""
          }
        }
      },
      "Successfetchadocument": {
        "title": "Successfetchadocument",
        "required": [
          "fileUrl",
          "validUpto"
        ],
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string"
          },
          "validUpto": {
            "type": "string"
          }
        },
        "example": {
          "fileUrl": "s3_url of the file to be downloaded",
          "validUpto": "2021-09-21T09:12:12+05:30"
        }
      },
      "Tokenrevoked1": {
        "title": "Tokenrevoked1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "token_revoked",
            "detail": "The user has revoked the token for the given request.",
            "traceId": ""
          }
        }
      },
      "Success5": {
        "title": "Success5",
        "required": [
          "aadhaar",
          "id",
          "status"
        ],
        "type": "object",
        "properties": {
          "aadhaar": {
            "$ref": "#/components/schemas/Aadhaar1"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "aadhaar": {
            "address": {
              "careOf": "S/O John Doe",
              "country": "India",
              "district": "district",
              "house": "house address",
              "landmark": "",
              "locality": "locality",
              "pin": "123456",
              "postOffice": "",
              "state": "state",
              "street": "",
              "subDistrict": "",
              "vtc": "vtc"
            },
            "dateOfBirth": "01-01-1990",
            "email": "",
            "gender": "M",
            "generatedAt": "2021-10-26T17:17:36.342+05:30",
            "maskedNumber": "xxxx-xxxx-1234",
            "name": "Jack Doe",
            "phone": "",
            "photo": "",
            "verified": {
              "email": false,
              "phone": false,
              "signature": true
            },
            "xml": {
              "fileUrl": "https://s3linkgoeshere.com",
              "shareCode": "",
              "validUntil": "2021-10-09T06:04:16+05:30"
            }
          },
          "id": "391a45be-d08d-4dd0-b8a8-06e53392d435",
          "status": "complete"
        }
      },
      "Success6": {
        "title": "Success6",
        "required": [
          "documents"
        ],
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document1"
            },
            "description": ""
          }
        },
        "example": {
          "documents": [
            {
              "availableFormats": [
                "pdf"
              ],
              "description": "Pension Certificate",
              "docType": "PECER",
              "orgId": "002317",
              "orgName": "Accountants General, Tripura",
              "parameters": [
                {
                  "description": "Account No./PPO No.",
                  "name": "AC_NO"
                }
              ]
            },
            {
              "availableFormats": [
                "pdf"
              ],
              "description": "Provident Fund Member Passbook",
              "docType": "PRFND",
              "orgId": "002317",
              "orgName": "Accountants General, Tripura",
              "parameters": [
                {
                  "description": "Account No./PPO No.",
                  "name": "AC_NO"
                }
              ]
            }
          ]
        }
      },
      "Document1": {
        "title": "Document1",
        "required": [
          "availableFormats",
          "description",
          "docType",
          "orgId",
          "orgName",
          "parameters"
        ],
        "type": "object",
        "properties": {
          "availableFormats": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "description": {
            "type": "string"
          },
          "docType": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "orgName": {
            "type": "string"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameters4"
            },
            "description": ""
          }
        },
        "example": {
          "availableFormats": [
            "pdf"
          ],
          "description": "Pension Certificate",
          "docType": "PECER",
          "orgId": "002317",
          "orgName": "Accountants General, Tripura",
          "parameters": [
            {
              "description": "Account No./PPO No.",
              "name": "AC_NO"
            }
          ]
        }
      },
      "Parameters4": {
        "title": "Parameters4",
        "required": [
          "description",
          "name"
        ],
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "description": "Account No./PPO No.",
          "name": "AC_NO"
        }
      },
      "success7": {
        "title": "success7",
        "required": [
          "success"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "example": {
          "success": true
        }
      },
      "VerifyPANRequest": {
        "title": "VerifyPANRequest",
        "required": [
          "pan",
          "consent",
          "reason"
        ],
        "type": "object",
        "properties": {
          "pan": {
            "type": "string"
          },
          "consent": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "example": {
          "pan": "ABCDE1234A",
          "consent": "Y",
          "reason": "Reason for verifying PAN set by the developer"
        }
      },
      "Success-ValidPAN": {
        "title": "Success-ValidPAN",
        "required": [
          "data",
          "message",
          "verification"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Data"
          },
          "message": {
            "type": "string"
          },
          "verification": {
            "type": "string"
          }
        },
        "example": {
          "data": {
            "aadhaar_seeding_status": "LINKED| NOT_LINKED | null",
            "category": "Individual",
            "full_name": "John Doe"
          },
          "message": "PAN is valid",
          "verification": "success"
        }
      },
      "Data": {
        "title": "Data",
        "required": [
          "aadhaar_seeding_status",
          "category",
          "full_name"
        ],
        "type": "object",
        "properties": {
          "aadhaar_seeding_status": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          }
        },
        "example": {
          "aadhaar_seeding_status": "LINKED| NOT_LINKED | null",
          "category": "Individual",
          "full_name": "John Doe"
        }
      },
      "Success-InvalidPAN": {
        "title": "Success-InvalidPAN",
        "required": [
          "verification",
          "message"
        ],
        "type": "object",
        "properties": {
          "verification": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "verification": "failed",
          "message": "PAN is invalid"
        }
      },
      "Failure-ConsentNotGiven1": {
        "title": "Failure-ConsentNotGiven1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "consent_not_given",
            "detail": "Consent is required and should be Y/y.",
            "traceId": "7097e53a-ba29-48a2-983d-878433b4f33e"
          }
        }
      },
      "Failure-InsufficientReasonLength1": {
        "title": "Failure-InsufficientReasonLength1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "insufficient_reason_length",
            "detail": "Reason should be at least 20 characters in length.",
            "traceId": "7097e53a-ba29-48a2-983d-878433b4f33e"
          }
        }
      },
      "Failure-InternalServerError1": {
        "title": "Failure-InternalServerError1",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "example": {
          "error": {
            "code": "internal_server_error",
            "detail": "Internal Server Error. Please reach out to support along with the traceId.",
            "traceId": "7097e53a-ba29-48a2-983d-878433b4f33e"
          }
        }
      },
      "VerifyBANRequest": {
        "title": "VerifyBANRequest",
        "required": [
          "ifsc",
          "accountNumber"
        ],
        "type": "object",
        "properties": {
          "ifsc": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          }
        },
        "example": {
          "ifsc": "ABCD0123456",
          "accountNumber": "1234567890"
        }
      },
      "Failedverification": {
        "title": "Failedverification",
        "required": [
          "verification",
          "message"
        ],
        "type": "object",
        "properties": {
          "verification": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "verification": "failed",
          "message": "This account does not exist or is invalid."
        }
      },
      "InvalidIFSCBANformat": {
        "title": "InvalidIFSCBANformat",
        "required": [
          "verification",
          "message"
        ],
        "type": "object",
        "properties": {
          "verification": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "verification": "failed",
          "message": "Either IFSC or bank account is invalid"
        }
      },
      "Successfulverification": {
        "title": "Successfulverification",
        "required": [
          "data",
          "message",
          "verification"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Data1"
          },
          "message": {
            "type": "string"
          },
          "verification": {
            "type": "string"
          }
        },
        "example": {
          "data": {
            "name": "Kumar Gaurav Rathod",
            "transactionReference": "120716373986"
          },
          "message": "Account exists and is active.",
          "verification": "success"
        }
      },
      "Data1": {
        "title": "Data1",
        "required": [
          "name",
          "transactionReference"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "transactionReference": {
            "type": "string"
          }
        },
        "example": {
          "name": "Kumar Gaurav Rathod",
          "transactionReference": "120716373986"
        }
      },
      "VerifyBANAsyncRequest": {
        "title": "VerifyBANAsyncRequest",
        "required": [
          "ifsc",
          "accountNumber",
          "narration"
        ],
        "type": "object",
        "properties": {
          "ifsc": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "narration": {
            "type": "string"
          }
        },
        "example": {
          "ifsc": "ABCD0123456",
          "accountNumber": "1234567890",
          "narration": "test transaction for verification"
        }
      },
      "Requestcreatedsuccessfully": {
        "title": "Requestcreatedsuccessfully",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "example": {
[...]
