{
    "openapi": "3.0.0",
    "info": {
        "title": "Data Gateway - Name Match API",
        "description": "Build the data flow you need—for customer onboarding, background verifications, and collecting electronic signatures.\n\n[See on Setu docs](https://docs.setu.co/data)",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://dg-sandbox.setu.co",
            "description": "Sandbox"
        },
        {
            "url": "https://dg.setu.co",
            "description": "Production"
        }
    ],
    "paths": {
        "/api/match/v1/name": {
            "post": {
                "tags": ["Name Match APIs"],
                "summary": "Create Name Match Request",
                "operationId": "CreateNameMatchRequest",
                "parameters": [
                    {
                        "name": "x-client-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{client_id}}"
                        }
                    },
                    {
                        "name": "x-client-secret",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{secret}}"
                        }
                    },
                    {
                        "name": "x-product-instance-id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{x-product-instance-id}}"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CreateNameMatchRequest"
                                    },
                                    {
                                        "example": {
                                            "name1": "Rakesh Kumar Singh",
                                            "name2": "Rakesh Kumar Singh"
                                        }
                                    }
                                ]
                            },
                            "example": {
                                "name1": "Rakesh Kumar Singh",
                                "name2": "Rakesh Kumar Singh"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/SuccessNameMatchRequest"
                                        },
                                        {
                                            "example": {
                                                
                                                    "name1": "Rakesh Kumar Singh",
                                                    "name2": "Rakesh Kumar Singh",
                                                    "id": "135b18e1-aaab-49eb-b921-5f798dc452d6",
                                                    "optimistic_match_output": {
                                                        "match_type": "COMPLETE_MATCH",
                                                        "match_percentage": 100.0
                                                    },
                                                    "pessimistic_match_output": {
                                                        "match_type": "COMPLETE_MATCH",
                                                        "match_percentage": 100.0
                                                    },
                                                    "traceId": "1-6690d779-00bd76895fc117162acba45f"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                                
                                    "name1": "Rakesh Kumar Singh",
                                    "name2": "Rakesh Kumar Singh",
                                    "id": "135b18e1-aaab-49eb-b921-5f798dc452d6",
                                    "optimistic_match_output": {
                                        "match_type": "COMPLETE_MATCH",
                                        "match_percentage": 100.0
                                    },
                                    "pessimistic_match_output": {
                                        "match_type": "COMPLETE_MATCH",
                                        "match_percentage": 100.0
                                    },
                                    "traceId": "1-6690d779-00bd76895fc117162acba45f"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "INTERNAL SERVER ERROR",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Errorresponse1"
                                        },
                                        {
                                            "example": {
                                                "error": {
                                                    "code": "internal_server_error",
                                                    "detail": "An internal server error occurred",
                                                    "traceId": "1-633c1b9c-0ab06611209a2b750b610d23"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "error": {
                                        "code": "internal_server_error",
                                        "detail": "An internal server error occurred",
                                        "traceId": "1-633c1b9c-0ab06611209a2b750b610d23"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD REQUEST",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/BadRequest"
                                        },
                                        {
                                            "example": {
                                                "error": {
                                                    "code": "bad_request",
                                                    "detail": "Name cannot be empty",
                                                    "traceId": "1-6696385a-3b4b39794498f35f0a1b4504"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "error": {
                                        "code": "bad_request",
                                        "detail": "Name cannot be empty",
                                        "traceId": "1-6696385a-3b4b39794498f35f0a1b4504"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        }
    },
    "components": {
        "schemas": {
            "CreateNameMatchRequest": {
                "title": "CreateNameMatchRequest",
                "required": ["name1", "name2"],
                "type": "object",
                "properties": {
                    "name1": {
                        "type": "string"
                    },
                    "name2": {
                        "type": "string"
                    }
                },
                "example": {
                    "name1": "Rakesh Kumar Singh",
                    "name2": "Rakesh Kumar Singh"
                }
            },
            "NameMatchResult": {
                "title": "NameMatchResult",
                "required" : [
                    "match_type",
                    "match_percentage"
                ],
                "type": "object",
                "properties": {
                    "match_type": {
                        "type": "string"
                    },
                    "match_percentage": {
                        "type": "number"
                    }
                }
            },
            "SuccessNameMatchRequest": {
                "title": "SuccessNameMatchRequest",
                "required": [
                    "name1",
                    "name2",
                    "id",
                    "optimistic_match_output",
                    "pessimistic_match_output",
                    "traceId"
                ],
                "type": "object",
                "properties": {
                    "name1": {
                        "type": "string"
                    },
                    "name2": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "optimistic_match_output": {
                        "$ref": "#/components/schemas/NameMatchResult"
                    },
                    "pessimistic_match_output": {
                        "$ref": "#/components/schemas/NameMatchResult"
                    },
                    "traceId": {
                        "type": "string"
                    }
                },
                "example": {                  
                    "name1": "Rakesh Kumar Singh",
                    "name2": "Rakesh Kumar Singh",
                    "id": "135b18e1-aaab-49eb-b921-5f798dc452d6",
                    "optimistic_match_output": {
                        "match_type": "COMPLETE_MATCH",
                        "match_percentage": 100.0
                    },
                    "pessimistic_match_output": {
                        "match_type": "COMPLETE_MATCH",
                        "match_percentage": 100.0
                    },
                    "traceId": "1-6690d779-00bd76895fc117162acba45f"
                }
            },
            "Error81": {
                "title": "Error81",
                "required": ["code", "detail", "traceId"],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "detail": {
                        "type": "string"
                    },
                    "traceId": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "upstream_error_response",
                    "detail": "error response from upstream.",
                    "traceId": "1-633c1b9c-0ab06611209a2b750b610d23"
                }
            },
            "Errorresponse1": {
                "title": "Errorresponse1",
                "required": ["error"],
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/Error81"
                    }
                },
                "example": {
                    "error": {
                        "code": "upstream_error_response",
                        "detail": "error response from upstream.",
                        "traceId": "1-633c1b9c-0ab06611209a2b750b610d23"
                    }
                }
            },
            "BadRequest": {
                "title": "BadRequest",
                "required": ["error"],
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/Error81"
                    }
                },
                "example": {
                    "error": {
                        "code": "bad_request",
                        "detail": "Name cannot be empty.",
                        "traceId": "1-633c1b9c-0ab06611209a2b750b610d23"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "bearer": []
        }
    ],
    "tags": [
        {
            "name": "NAME MATCH API"
        },
        {
            "name": "Misc",
            "description": ""
        }
    ]
}
